include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons




+cover-sc("metodos/electromagneticos/FCVectorial/Portada_CSAMTv-min.png", "Audio Magnetotelurico de Fuente Controlada Vectorial")

.content
	+mosaico1
	+mosaico2
	+mosaico3
	+mosaico4

	//- +mosaico-x2-1-1("metodos/electromagneticos/FCVectorial/etapa2/etapa2a-min.png", "Series de Tiempo")
	//- +mosaico-x3-1-2("metodos/electromagneticos/FCVectorial/etapa2/etapa2b-min.png", "Curvas de Amplitud y Fase", "metodos/electromagneticos/FCVectorial/etapa2/etapa2c-min.png")
	//- +mosaico-x3-2-1("Diagramas Polares para el Análisis Dimensional", "metodos/electromagneticos/FCVectorial/etapa4/etapa4a-min.png", "Isovolumen de resitividad")
	//- +mosaico-x4-2-2("", "Construcción de Mapas a partir de Angulos de Induccion a la Frecuencia de 600 Hz", "Modelo 3D de perfiles geoelectricos con volumen de unidad potencialmente productora asociada a material de relleno","metodos/electromagneticos/FCVectorial/etapa4/etapa4b-min.png")
	//- 	ul.bxslider
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3a-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3b-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3c-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3d-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3e-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3f-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3g-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3h-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3i.png")
	//- +mosaico-x2-1-1("metodos/electromagneticos/FCVectorial/etapa4/etapa4c-min.png", "Unidad que peresenta las mejores condiciones de albergar agua")

	+icons-metodos