include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons




+cover-sc("metodos/electromagneticos/FCVectorial/Portada_CSAMTv-min.png", "Audio Magnetotelúrico Tensorial")

.content

	+mosaico1("256x292","metodos/electromagneticos/FCVectorial/427a","341x292", "005e77","0080ae")
	+mosaico2("metodos/electromagneticos/FCVectorial/427b","256x300","metodos/electromagneticos/FCVectorial/341", "059bc4")
	+mosaico3("metodos/electromagneticos/FCVectorial/427_1","427x188","597x318","metodos/electromagneticos/FCVectorial/597","005e77","0080ae")
	+mosaico4("metodos/electromagneticos/FCVectorial/683", "341x409","059bc4")
	+mosaico4-r("341x475", "metodos/electromagneticos/FCVectorial/683_1", "005e77")


	//- ******* Falta slide con las imagenes metodos/electricos/FCVectorial/427_2 , metodos/electricos/FCVectorial/427_3, metodos/electricos/FCVectorial/427_4 y metodos/electricos/FCVectorial/427_5 *******




	//- +mosaico-x2-1-1("metodos/electromagneticos/FCVectorial/etapa2/etapa2a-min.png", "Series de Tiempo")

	//- +mosaico-x3-1-2("metodos/electromagneticos/FCVectorial/etapa2/etapa2b-min.png", "Curvas de Amplitud y Fase", "metodos/electromagneticos/FCVectorial/etapa2/etapa2c-min.png")

	//- +mosaico-x3-2-1("Diagramas Polares para el Análisis Dimensional", "metodos/electromagneticos/FCVectorial/etapa4/etapa4a-min.png", "Isovolumen de resitividad")

	//- +mosaico-x4-2-2("", "Construcción de Mapas a partir de Angulos de Induccion a la Frecuencia de 600 Hz", "Modelo 3D de perfiles geoelectricos con volumen de unidad potencialmente productora asociada a material de relleno","metodos/electromagneticos/FCVectorial/etapa4/etapa4b-min.png")
	//- 	ul.bxslider
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3a-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3b-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3c-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3d-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3e-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3f-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3g-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3h-min.png")
	//- 		li: img(src="/static/img/metodos/electromagneticos/FCVectorial/etapa3/etapa3i.png")

	//- +mosaico-x2-1-1("metodos/electromagneticos/FCVectorial/etapa4/etapa4c-min.png", "Unidad que peresenta las mejores condiciones de albergar agua")

	+icons-metodos