.cover
	img(src='/static/img/metodos/electricos/sondeo/sondeo.jpg')

#content1.content
	.content-title
		h1 Etapa 2

	#content-slide
		.slider-box
			.slider-content
				img(src='/static/img/cam.jpg')
			.slider-content
				img(src='/static/img/slider/01.png')
			.slider-content
				img(src='/static/img/cam.jpg')

#content2.content2
	.content-title
		h1 Etapa 3

	#content2-slide
		.slider2-box
			.slider2-content
				img(src='/static/img/cam.jpg')
			.slider2-content
				img(src='/static/img/slider/02.png')
			.slider2-content
				img(src='/static/img/slider/02.png')
			.slider2-content
				img(src='/static/img/slider/02.png')
			.slider2-content
				img(src='/static/img/slider/02.png')
			.slider2-content
				img(src='/static/img/slider/02.png')
			.slider2-content
				img(src='/static/img/slider/02.png')
			.slider2-content
				img(src='/static/img/slider/02.png')

#content3.content
	.content-title
		h1 Etapa 4

	#content-slide
		.slider-box
			.slider-content
				img(src='/static/img/slider/01.png')
			.slider-content
				img(src='/static/img/cam.jpg')
			.slider-content
				img(src='/static/img/cam.jpg')