include /master/common/mixins/mosaico
include /master/common/mixins/cover

+cover-sc("metodos/electromagneticos/FCVectorial/Portada_CSAMTv.png")

+mosaico-x2-1-1("", "texto5")
+mosaico-x3-1-2("", "texto3", "")
+mosaico-x3-2-1("texto1", "", "texto2")
+mosaico-x4-2-2("", "texto4", "texto5", "")
+mosaico-x2-1-1("", "texto5")

 
