.clr1
	background : #592C0E
.clr2
	background : #834111
.clr3
	background : #AA5B26
.clr4
	background : #D37F46

.accordian li 
	width	: 25vw
	
.block1
	background : #592C0E
.block3
	background : #834111
.block8 .sub8 
	background : #AA5B26
.block7 .sub7-1
	background : #D37F46
.block10
	background : #834111
.block5
	background : #592C0E
.block11
	background : #AA5B26
	