main
	position : relative !important

.overlay-content
	position : relative
	max-width : 1024px
	margin-left: 6% !important
	margin-top : 50px
	
	span(2/2)
	.overlay-box
		span(1/2)

.description
	background-color : rgba(234,205,56,0.7)


+to-width('s')

	.overlay-content
		position : relative
		margin-top : 30px
		span(1/1)
		.overlay-box
			span(1/1)
