.accordian
      ul
        li 
          .image_title-2.clr-1
            a(href='#') pendiente
          .image_title.clr-1
            a(href='#') Sondeo Eléctrico Vertical
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico1.png")
        li
          .image_title-2.clr-2
            a(href='#') pendiente
          .image_title.clr-2
            a(href='#') Polarización Inducida
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico2.png")
        li
          .image_title-2.clr-3
            a(href='#') pendiente
          .image_title.clr-3
            a(href='#') Polarización Inducida Espectral
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico3.png")

        li
          .image_title-2.clr-4
            a(href='#') pendiente
          .image_title.clr-4
            a(href='#') Tomografía de Resistividad Eléctrica
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico4.png")

.box-icons 
  .item
    img(src='/static/img/Ambiental.svg')
  .item
    img(src='/static/img/Arqueologia.svg')
  .item
    img(src='/static/img/Geohidrologia.svg')
  .item
    img(src='/static/img/Geotecnia.svg')
  .item
    img(src='/static/img/Geotermia.svg')
  .item
    img(src='/static/img/Hidrocarburos.svg')
  .item
    img(src='/static/img/Mineria.svg')
