include /master/common/mixins/administracion
include /master/common/mixins/icons
.content
	.overlay-content
		a(href='/metodos/electricos/sondeo-electrico-vertical')
			.overlay-box
				+overlay('electricos/SEV', 'Sondeo ', 'Eléctrico Vertical','Controlada', '0-5km','SEV')
		a(href='/metodos/electricos/polarizacion-inducida')
			.overlay-box
				+overlay('electricos/IP', 'Polarización', 'Inducida','Controlada', '0 - 300m','IP')
		a(href='/metodos/electricos/polarizacion-inducida-espectral' )
			.overlay-box
				+overlay('electricos/SIP', 'Polarizacion','Inducida Espectral','Controlada','0 - 300m', 'SIP')
		a(href='/metodos/electricos/tomografia-de-resistividad-electrica' )
			.overlay-box
				+overlay('electricos/TRE', 'Tomografía de', 'Resistividad Eléctrica','Controlada','0 -500m', 'TRE')
				
		+icons-metodos

.measure
	+overlay4('/electricos/SEV','SEV','Sondeo Eléctrico Vertical','Controlada', '0-5km')
	+overlay4('/electricos/IP','IP','Polarización Inducida','Controlada', '0-300m')
	+overlay4('/electricos/SIP','SIP','Polarizacion Inducida Espectral','Controlada', '0-300m')
	+overlay4('/electricos/TRE','TRE','Tomografía de Resistividad Eléctrica','Controlada', '0-500m')
	+icons-metodos