include /master/common/mixins/administracion
.content
	.overlay-content
		.overlay-box
			+overlay('electricos/SondeoElectricoVertical', 'Texto descripción', 'Sondeo Eléctrico Vertical')
		.overlay-box
			+overlay('electricos/PolarizacionInducida', 'Texto descripción', 'Polarización Inducida')
		.overlay-box
			+overlay('electricos/PolarizacionInducidaEspectral', 'Texto descripción', 'Polarizacion Inducida Espectral')
		.overlay-box
			+overlay('electricos/TomografiadeResistividadElectrica', 'Texto descripción', 'Tomografía de Resistividad Eléctrica')

