include /master/common/mixins/administracion
.content
	.overlay-content
		.overlay-box
			+overlay('electricos/SEV', 'Sondeo Eléctrico Vertical', 'SEV')
		.overlay-box
			+overlay('electricos/IP', 'Polarización Inducida', 'PI')
		.overlay-box
			+overlay('electricos/SIP', 'Polarizacion Inducida Espectral', 'PIE')
		.overlay-box
			+overlay('electricos/TomografiadeResistividadElectrica', 'Tomografía de Resistividad Eléctrica', 'TRE')

