.accordian
      ul
        li 
          .image_title-2.clr1
            a(href='/metodos/electricos/sondeo-electrico-vertical') VES
          .image_title.clr1
            a(href='/metodos/electricos/sondeo-electrico-vertical') Sondeo Eléctrico Vertical
          a(href='/metodos/electricos/sondeo-electrico-vertical')
            img(src="/static/img/metodos/electricos/SondeoElectricoVertical.png")
        li
          .image_title-2.clr2
            a(href='/metodos/electricos/polarizacion-inducida') IP
          .image_title.clr2
            a(href='/metodos/electricos/polarizacion-inducida') Polarización Inducida
          a(href='/metodos/electricos/polarizacion-inducida')
            img(src="/static/img/metodos/electricos/PolarizacionInducida.png")
        li
          .image_title-2.clr3
            a(href='/metodos/electricos/polarizacion-inducida-espectral') IPS
          .image_title.clr3
            a(href='/metodos/electricos/polarizacion-inducida-espectral') Polarización Inducida Espectral
          a(href='/metodos/electricos/polarizacion-inducida-espectral')
            img(src="/static/img/metodos/electricos/PolarizacionInducidaEspectral.png")

        li
          .image_title-2.clr4
            a(href='/metodos/electricos/tomografia-de-resistividad-electrica') ERT
          .image_title.clr4
            a(href='/metodos/electricos/tomografia-de-resistividad-electrica') Tomografía de Resistividad Eléctrica
          a(href='/metodos/electricos/tomografia-de-resistividad-electrica')
            img(src="/static/img/metodos/electricos/TomografiadeResistividadElectrica.png")

.box-icons 
  .item
    img(src='/static/img/Ambiental.svg')
  .item
    img(src='/static/img/Arqueologia.svg')
  .item
    img(src='/static/img/Geohidrologia.svg')
  .item
    img(src='/static/img/Geotecnia.svg')
  .item
    img(src='/static/img/Geotermia.svg')
  .item
    img(src='/static/img/Hidrocarburos.svg')
  .item
    img(src='/static/img/Mineria.svg')
