.equipment-content
	.equipment-image
		img(src="https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

