.equipment-content
	col(4/4)
	.equipment-image
		padding 			: 1em
		col(1/4)
		img
			width 			: 100%
			height 			: auto
			margin-left 	: 1%
			margin-right 	: 1%
			border-right 	: solid 3px red
	.equipment-text
		col(3/4)
		 width: 71.25%
		.equipment-title h2
			text-align 		: left
			font-size 		: 2em
			color 			: red
		.equipment-description
			font-size 		: 1em
			
		.equipment-url h5
			font-size 		: 1em
			color 			: blue
			
			
