.equipment-content
	col(4/4)
	margin-bottom : 1em

	.equipment-image
		position : relative
		padding 			: 1em 0 1em 0
		col(1/4)
		text-align 			: center
		img
			height 			: 23vh;
			width 			: 14vw;


			
	.equipment-text
		col(3/4)
		border-left 		: solid 3px red
		padding 			: 0 2em 
		
		.equipment-title h2
			text-align 		: left
			font-size 		: 2em
			color 			: red
		.equipment-description
			font-size 		: 1em
			
		.equipment-url h5
			font-size 		: 1em
			color 			: blue
			
			
.equipment-content:nth-child(odd)
	background-color 		: #F8F8F8 