.content
	.cust-tile
		h2 Geohidrología
		.container-customer
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')

	.cust-tile
		h2 Geohidrología
		.container-customer
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')

	.cust-tile
		h2 Geohidrología
		.container-customer
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
			.cust-box
				img(src='/static/nerv.jpg')
