main
	background : white !important
	
.cust-box
	display : inline-block
	background: white
	margin-bottom: 3px
	text-align:center
	margin : 0.5em 2em 0.5em 2em

.content
	h2
		text-align    : center
		padding-top   : 2rem
		padding-bottom: 2rem
		font-size     : 1.5em
		text-transform : none
	

		+from-width('m')
			font-size  : 2.5em
		+from-width('l')
			font-size  : 3.5em

.container-customer
	text-align : center
	background: white !important
	width: 100%