.contenido
	img(src="/static/banner2.jpg")
		
	.content
		h1 Perfil de la compañia
		p 
			|La innovación tecnológica ha sido pieza clave para conseguir el reconocimiento a lo largo de los últimos 10 años, sin embargo, 
			|GEOTEM Ingeniería S.A. de C.V. sabe que el valor agregado está conformado por su personal. 
			|GEOTEM Ingeniería S.A. de C.V está conformado por un equipo de 25 profesionales desarrollados en el área de la ingeniería y las Geociencias 
			|capaces de efrentar y resolver problemas con eficacia, con liderazgo, con bases científicas, con actitud positiva y sobre todo con el valor de hacer las cosas bien.

		h3 Nuestros Servicios
		p 	
			|Consientes de la importancia de ofrecer servicios de primer nivel hemos llegado a sistematizar las metodologías se adquisición de datos supervisadas en el campo 
			|por el departamento de procesamiento contando así con un riguroso control de calidad, el cual permite traducir los datos adquiridos en información útil, 
			|finalmente, con la yuda del modelado, la integración e interpretación, transformar esta información en conocimiento para una mejor toma de decisiones en el menor tiempo posible.

		h3 Nuestros Métodos
		p
			|Actualmente ofrecemos métodos electromagnéticos, potenciales, sísmicos, entre otros. Dentro de los métodos que ofrecemos existen al menos 19 técnicas implementadas por nuestro equipo de trabajo 
			|para satisfacer las necesidades cambiantes de nuestros clientes.