include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/sismicos/espectrales/SismicadeCocientesEspectrales.png","Sísmica de Cocientes Espectrales")


.content

	+mosaico1("metodos/sismicos/espectrales/T-427a","metodos/sismicos/espectrales/427a","metodos/sismicos/espectrales/T-427b")
	+mosaico2("metodos/sismicos/espectrales/427b","metodos/sismicos/espectrales/T-341","metodos/sismicos/espectrales/341")
	+mosaico3("metodos/sismicos/espectrales/427c","metodos/sismicos/espectrales/T-427c","metodos/sismicos/espectrales/T-597","metodos/sismicos/espectrales/597-1")


	//- ******* falata agregar imagnes para slide en metodos/sismicos/espectrales/597-2 y metodos/sismicos/espectrales/597-3 el texto de 597 es para todo el slide*******


	//- +mosaico-x3-2-1("Ventaneo sobre señal asociada al ruido estacionario. (Imagen tomada de TRX Consulting)", "metodos/sismicos/espectrales/etapa2a.jpg", "Ventaneo sobre señal asociada al ruido estacionario.")

	//- +mosaico-x3-1-2("metodos/sismicos/espectrales/etapa3a.jpg", "Zona asociada a menor espesor de deposito de sedimentos.", "metodos/sismicos/espectrales/etapa4a.png")

	//- +mosaico-x2-1-2("Zona asociada a un espesor medio de depósito de sedimentos.", "metodos/sismicos/espectrales/etapa4b.png")

	//- +mosaico-x2-1-1("metodos/sismicos/espectrales/etapa4c.png", "Zona asociada a  un espesor mayor de deposito de sedimentos.")

	+method-2