include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/sismicos/espectrales/SismicadeCocientesEspectrales.png","Sísmica de Cocientes Espectrales")


.content

	+mosaico1("256x258","metodos/sismicos/espectrales/427a","341x258", "4e7c32","559334")
	+mosaico2("metodos/sismicos/espectrales/427b","256x263","metodos/sismicos/espectrales/341", "67ac4b")
	+mosaico3("metodos/sismicos/espectrales/427c","427x444","597x171","metodos/sismicos/espectrales/597-1","559334","4e7c32")


	//- ******* falata agregar imagnes para slide en metodos/sismicos/espectrales/597-2 y metodos/sismicos/espectrales/597-3 el texto de 597 es para todo el slide*******


	//- +mosaico-x3-2-1("Ventaneo sobre señal asociada al ruido estacionario. (Imagen tomada de TRX Consulting)", "metodos/sismicos/espectrales/etapa2a.jpg", "Ventaneo sobre señal asociada al ruido estacionario.")

	//- +mosaico-x3-1-2("metodos/sismicos/espectrales/etapa3a.jpg", "Zona asociada a menor espesor de deposito de sedimentos.", "metodos/sismicos/espectrales/etapa4a.png")

	//- +mosaico-x2-1-2("Zona asociada a un espesor medio de depósito de sedimentos.", "metodos/sismicos/espectrales/etapa4b.png")

	//- +mosaico-x2-1-1("metodos/sismicos/espectrales/etapa4c.png", "Zona asociada a  un espesor mayor de deposito de sedimentos.")

	+method-2