include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/sismicos/espectrales/SismicadeCocientesEspectrales.png","Sísmica de Cocientes Espectrales")
.cover-2
	+mosaico-x3-2-1("Ventaneo sobre señal asociada al ruido estacionario. (Imagen tomada de TRX Consulting)", "metodos/sismicos/espectrales/etapa2a.jpg", "Ventaneo sobre señal asociada al ruido estacionario.")
	+mosaico-x3-1-2("metodos/sismicos/espectrales/etapa3a.jpg", "Zona asociada a menor espesor de deposito de sedimentos.", "metodos/sismicos/espectrales/etapa4a.png")
	+mosaico-x2-1-2("Zona asociada a un espesor medio de depósito de sedimentos.", "metodos/sismicos/espectrales/etapa4b.png")
	+mosaico-x2-1-1("metodos/sismicos/espectrales/etapa4c.png", "Zona asociada a  un espesor mayor de deposito de sedimentos.")

	+icons-metodos