.content
	width       : 100% 
	margin-left : 0
	+from-width('large')
		
		max-width:1024px
		
	+from-width('extra')
		max-width:1024px
		margin: 0 auto
	
	h1,h3
		padding : 0 0 0 1rem

		
	p 
		padding : 0 1rem 0 1rem	