include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Hidrocarburos.png")
	
//- 	.cover-caption
//- 		h1 Hidrocarburos

+cover-aplications("/aplicaciones/usar/Hidrocarburos.png", "Poza Rica - Veracruz, Mex.", "La aplicación de métodos geofísicos de resistividad como el Magnetotelúrico y los métodos potenciales se han incorporado a la exploración petrolera, encontrando que estos optimizan la modelación del subsuelo y en muchos casos tienen una importante respuesta donde los métodos sísmicos convencionales son poco resolutivos. La correlación de propiedades físicas como resistividad, densidad, susceptibilidad magnética, velocidad de propagación e información geológica en la actualidad ofrecen resultados complementarios para la determinación de yacimientos de hidrocarburos.","Hidrocarburos")
.content
	.box-icons
		.item.item1
			a(href='/aplicaciones/hidrocarburos')
				img(src='/static/img/aplicaciones/Iconos/Hidrocarburos.png',title = 'Hidrocarburos' )
		.item
			a(href='/metodos/electromagneticos')
				img(src='/static/img/metodos/Iconos/Electromagneticos.png', title = 'Electromagneticos')
		.item
			a(href='/metodos/gps')
				img(src='/static/img/metodos/Iconos/GPS.png', title = 'GPS')
		.item
			a(href='/metodos/potenciales')
				img(src='/static/img/metodos/Iconos/Potenciales.png',title = 'Potenciales')
		.item
			a(href='/metodos/registro')
				img(src='/static/img/metodos/Iconos/Pozos.png',title = 'Pozos' )


	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-registro
	//- 	a#cat-registro.lab.label6(href='/metodos/registro')
	//- 		span Registro Geofísico
	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales
	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
