.label1
	top : 67%
.label3
	top : 13%
.label5
	top : 49%
.label6
	top : 31%

.gps-tag
	color #747474
	
.electro-tag
	color #ffb600
	
.poten-tag
	color #d61118

.registro-tag
	color #0080ae
	
.box-icons
	col(5/5)
	position	: relative
	padding-top : 1em
	max-width : 1024px
	text-align	: left
	margin : 0 auto
	.item
		col(1/5)
		
		img
			height			:auto
			hover-pop()
			+from-width('mini')
				width		:100%
			+from-width('small')
				width		:100%
			+from-width('medium')
				width		: 100%
			+from-width('large')
				width		: 40%
			+from-width('extra')
				width		: 40%	