.imagen
	img(src='/static/verde.jpg')
	.label1
		h3 GPS
	.label2
		h3 Espectometría
	.label3
		h3 Electromagnéticos
	.label4
		h3 Electrónicos
	.label5
		h3 Potenciales
	.label6
		h1 Ambiental

ul.categorias
	li Gravimetría
	li Geo-Radar de Penetración Terrestre
	li Sistema de Posicionamiento Global
ul.categoria
	li Termografía de Resistividad Eléctrica
	li Polarización Inducida Espectral
ul.categorias
	li Conductividad Electromagnética
	li Sondeo Eléctrico Vertical
	li Espectometría

.container 
	.item
		img(src='/static/hoja.png')
	.item
		img(src='/static/volcan.png')
	.item
		img(src='/static/gota.png')
	.item
		img(src='/static/martillo.png')
	.item
		img(src='/static/casitas.png')
	.item
		img(src='/static/piramide.png')
	.item
		img(src='/static/gota2.png')

