.menu
	a(href="https://www.facebook.com/pages/Geotem-Ingenier%C3%ADa-SA-de-CV/309754869161318?fref=ts.") 
		img(src='/static/img/facebook.png', width='40', heigth='40')
	a(href="https://twitter.com/Geotem_") 
		img(src='/static/img/twitter.png', width='40', heigth='40')
	a(href="https://www.linkedin.com/company/4800953?trk=tyah&trkInfo=tarId%3A1413849547561%2Ctas%3Ageot%2Cidx%3A1-1-1") 
		img(src='/static/img/linkedin.png', width='40', heigth='40')
	a(href="mailto:geotem@geotem.com.mx?Subject=Contacto%20again" target="_top") 
		img(src='/static/img/mail-icon.png', width='40', heigth='40')
	a.phone(href="tel:5554856032") 
		img(src='/static/img/phone.png', width='40', heigth='40')
	a(class="googleMapPopUp" rel="nofollow" href="https://www.google.com.au/maps/place/Geotem+Ingenier%C3%ADa+S.A.+de+C.V./@19.2591,-99.16678,17z/data=!3m1!4b1!4m2!3m1!1s0x85ce00c76943ebe3:0xee0bf79ba70f2895" target="_blank") 
		img(src='/static/img/map.png', width='40', heigth='40')





		