.menu
	// display     : none
	position 	: fixed
	top 		: 30%
	background-color : transparent
	width 		: 5rem
	z-index 	: 100
	right		: -2.5rem
	transition  : right 500ms ease-in-circ
	// box-shadow  : -6px 4px 11px #888888

	// &:hover
	// 	right    : 0
	+to-width('medium')
		position 	: fixed
		top 		: 45%
		background-color : transparent
		width 		: 3rem
		z-index 	: 100
		right		: -2.5rem
		transition  : right 500ms ease-in-circ
		box-shadow  : -6px 4px 11px #888888

		&:hover
			right    : -2vw


	+from-width('large')
		position 	: fixed
		top 		: 30%
		background-color : transparent
		width 		: 5rem
		z-index 	: 100
		right		: -2.5rem
		transition  : right 500ms ease-in-circ


.menu img
	margin : 0
	padding : 0
	hover-pop: 1.5 7deg true

.menu img a
	margin : 0
	padding : 0

.phone
	+from-width('extra')
		display  : none
