.menu
	a(href="https://www.facebook.com/pages/Geotem-Ingenier%C3%ADa-SA-de-CV/309754869161318?fref=ts.") 
		img(src='/static/img/facebook.png', width='40', heigth='40')
	a(href="https://twitter.com/Geotem_") 
		img(src='/static/img/twitter.png', width='40', heigth='40')
	a(href="https://www.linkedin.com/company/4800953?trk=tyah&trkInfo=tarId%3A1413849547561%2Ctas%3Ageot%2Cidx%3A1-1-1") 
		img(src='/static/img/linkedin.png', width='40', heigth='40')