.menu
	a(href="#") 
		img(src='/static/nerv.jpg', width='40', heigth='40')
	a(href="#") 
		img(src='/static/nerv.jpg', width='40', heigth='40')
	a(href="#") 
		img(src='/static/nerv.jpg', width='40', heigth='40')