.menu
	a(href="#") 
		img(src='/static/img/facebook.png', width='40', heigth='40')
	a(href="#") 
		img(src='/static/img/twitter.png', width='40', heigth='40')
	a(href="#") 
		img(src='/static/img/linkedin.png', width='40', heigth='40')