.block1 p
	padding : 20% 5%

.block5 p
	padding : 20% 5%

.content
	margin-top: -4px !important


.ms3c
	top : -12px !important

.ms2c-r
	top : -16px !important

.ms1c
	top : -26px !important
	position : relative !important