include /master/common/mixins/mosaico
include /master/common/mixins/cover


+cover-aplications2("/presencia/proyectos/bolivia/PortadaBolivia", "", "Levantamiento gravimétrico en el área de Cochabamba y San Borja, Bolivia para la exploración de petróleo, Airborne Petroleum Geophysics, Septiembre 2009 y Febrero 2010.","Bolivia")




.content
	+mosaico-x3-1-2("presencia/proyectos/bolivia/01.png", "Exploración Petrolera", "presencia/proyectos/bolivia/02.png")
	+mosaico-x2-1-1("presencia/proyectos/bolivia/06.png","Métodos Potenciales")
	+mosaico-x3-1-2("presencia/proyectos/bolivia/03.png", "Gravimetría","presencia/proyectos/bolivia/05.png")
	+mosaico-x3-2-1("Gravimetro Scintrex CG-5","presencia/proyectos/bolivia/04.png", "Sistema de Posicionamiento Global")

	+country