.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/bolivia/PortadaBolivia.png")
			
	.cover-caption

		.title.countries
			h1 Bolivia

		.text
			span 
				|Levantamiento gravimétrico en el área de Cochabamba y San Borja, Bolivia para la exploración de petróleo. 
				|Airborne Petroleum Geophysics, Septiembre 2009 y Febrero 2010.



