.cover
	.cover-img
		
			img(src="/static/img/aplicaciones/01.png")
			
	.cover-caption
		h1 Ambiental
	
	.lab.label1
		h3 GPS
	.lab.label2
		h3 Espectometría
	.lab.label3
		h3 Electromagnéticos
	.lab.label4
		h3 Eléctricos
	.lab.label5
		h3 Potenciales
	

.categoriax3
	span: p Gravimetría
	span: p Geo-Radar de Penetración Terrestre
	span: p Sistema de Posicionamiento Global
.categoriax2
	span: p Termografía de Resistividad Eléctrica
	span: p Polarización Inducida Espectral
.categoriax3
	span: p Conductividad Electromagnética
	span: p Sondeo Eléctrico Vertical
	span: p Espectometría

.box-icons
	.item
		a(href='/aplicaciones/ambiental')
			img(src='/static/img/Ambiental.svg', title = 'Ambiental')
	.item
		a(href='/aplicaciones/arqueologia')
			img(src='/static/img/Arqueologia.svg', title = 'Arquelogia')
	.item
		a(href='/aplicaciones/geohidrologia')
			img(src='/static/img/Geohidrologia.svg', title = 'Geohidrologia')
	.item
		a(href='/aplicaciones/geotecnia')
			img(src='/static/img/Geotecnia.svg', title = 'Geotecnia')
	.item
		a(href='/aplicaciones/geotermia')
			img(src='/static/img/Geotermia.svg',title = 'Geotermia')
	.item
		a(href='/aplicaciones/hidrocarburos')
			img(src='/static/img/Hidrocarburos.svg',title = 'Hidrocarburos' )
	.item
		a(href='/aplicaciones/mineria')
			img(src='/static/img/Mineria.svg', title = 'Mineria')

