.lab 
	font-size 	: 2vw	
	position 	: absolute
	right 	 	: 0
	width 	 	: 20%
	+to-width('s')
		width : 34%

	span
		color 		: white
		font-size 	: 1em
		font-weight : bold
		position 	: relative
		text-align 	: center
		+to-width('s')
			font-size : 0.55rem

.categoriax2, .categoriax3
	span
		p
			+to-width('s')
				font-size : .5rem