.cover
	.cover-img
		img(src="/static/img/Portadas/01.png")
			
	.cover-caption
		h1 Ambiental
	
	.lab.label1
		h3 GPS
	.lab.label2
		h3 Espectometría
	.lab.label3
		h3 Electromagnéticos
	.lab.label4
		h3 Electrónicos
	.lab.label5
		h3 Potenciales
	

.categoriax3
	span: p Gravimetría
	span: p Geo-Radar de Penetración Terrestre
	span: p Sistema de Posicionamiento Global
.categoriax2
	span: p Termografía de Resistividad Eléctrica
	span: p Polarización Inducida Espectral
.categoriax3
	span: p Conductividad Electromagnética
	span: p Sondeo Eléctrico Vertical
	span: p Espectometría

.box-icons 
	.item
		img(src='/static/img/Ambiental.svg')
	.item
		img(src='/static/img/Arqueologia.svg')
	.item
		img(src='/static/img/Geohidrologia.svg')
	.item
		img(src='/static/img/Geotecnia.svg')
	.item
		img(src='/static/img/Geotermia.svg')
	.item
		img(src='/static/img/Hidrocarburos.svg')
	.item
		img(src='/static/img/Mineria.svg')

