include /master/common/mixins/icons

.content
	+icons-equipment

	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/monex/TerraTEM.png')
		.equipment-text
			.equipment-title
				h3 Equipo de Adquisición por Transitorio Electromagnético TerraTEM
			.equipment-description
				p:| El TerraTEM es un sistema robusto de adquisición por transitorio electromagnético de alta resolución en lo que se refiere a imágenes de conductividad.
					|Las aplicaciones para el TerraTEM incluyen la exploración mineral,  investigaciones  de ingeniería estudio de agua subterránea y estudio del medio ambiente.
					|Este sistema es resultado de años de investigación combinados con la experiencia en lo que se refiere a la interpretación de datos geofísicos.  

