.header-master

	.header-logo
		a(href="/")
			img.logo-geo(src='/static/geotem.svg')

	.header-menu
		.menu-top
			.material2
				input(type='search', placeholder='Search')
				//- li: a(href='/acerca-de/perfil-de-la-compania') Perfil de la compañia
			.material
				li: a(href='/static/revista/Catalogo.html') Material Técnico

		.menu
			ul.slicknav
				li.section.material-m
					input(type='search', placeholder='Search')
				li.section.inicio: a(href='/') Inicio
				li.section
					a(href='#') Acerca de
					ul.submenu.m1
						li: a(href='/acerca-de/perfil-de-la-compania') Perfil de la compañía
						li: a(href='/acerca-de/administracion') Administración
						li: a(href='/acerca-de/historia') Historia
						li: a(href='/acerca-de/clientes') Clientes
						li: a(href='/acerca-de/privacidad') Privacidad
				li.section
					a(href='#') Servicios
					ul.submenu.m2
						li: a(href='/servicios/adquisicion-de-datos') Adquisición de datos
						li: a(href='/servicios/procesamiento') Procesamiento
						li: a(href='/servicios/modelado-e-inversion') Modelado e inversión
						li: a(href='/servicios/integracion-e-interpretacion') Integración e interpretación
						li: a(href='/servicios/entrenamiento') Entrenamiento
						li: a(href='/servicios/equipo') Equipo

				li.section
					a(href='#') Métodos 
					ul.submenu.m3
						li: a(href='/metodos/electricos') Eléctricos
						li: a(href='/metodos/electromagneticos') Electromagnéticos
						li: a(href='/metodos/espectometria') Espectometría
						li: a(href='/metodos/gps') GPS
						li: a(href='/metodos/potenciales') Potenciales
						li: a(href='/metodos/registro') Registro geofísico de pozos
						li: a(href='/metodos/sismicos') Sísmicos


				li.section
					a(href='#') Aplicaciones
					ul.submenu.m4
						li: a(href='/aplicaciones/ambiental') Ambiental
						li: a(href='/aplicaciones/arqueologia') Arqueología
						li: a(href='/aplicaciones/geohidrologia') Geohidrología
						li: a(href='/aplicaciones/geotecnia') Geotecnia
						li: a(href='/aplicaciones/geotermia') Geotermia
						li: a(href='/aplicaciones/hidrocarburos') Hidrocarburos
						li: a(href='/aplicaciones/mineria') Minería

				li.section.material-m
				
				li.section.menu.m.section.inicio
					a(href='/static/revista/Catalogo.html') Material Técnico	

				li.section
					a(href='#') Presencia Internacional
					ul.submenu.m5
						li: a(href='/presencia-internacional/proyectos-en-el-extranjero/nicaragua') Proyectos en el extranjero
						li: a(href='/presencia-internacional/alianza-comercial') Alianza Comercial
						li: a.menu.m(href='/static/revista/Catalogo.html') Material Técnico

				

				



