section.header-logo
	img(src='/static/geotem.svg')

nav.header-menu

	.menu
		ul
			li: a(href="/") Inicio
			li: a(href="acerca-de") Acerca de
			li: a(href="#") Servicios
			li: a(href="#") Métodos 
			li: a(href="#") Aplicaciones
			li: a(href="#") Presencia Internacional

	.menu-button
			input.menu-button(type='checkbox' id='header-menu-button')
			label.menu-button(for='header-menu-button' role='button' aria-labelledby="menu") MENU
			.menu-content
				
					
