&
	display		: flex
	padding		: 0.5rem
	position	: relative

	.header-master
		col(12/12)

		.header-logo
			col(3/12)
			text-align	: center
			img
				margin : 0.8em 0.5em 0.7em 0.5em

		.header-menu
			col(9/12)
			.menu
				width	: 100%
				ul
					col(6/6)
					padding : 1.5em
					position : relative
					right : 0
					list-style : none
					li a
						text-decoration : none
						font-weight : 800
						color : black
						hover-underline : 3px solid red
						font-size : 1.2rem
				.submenu
					background-color:	rgba(255,255,255,0.9)
					box-shadow		:	10px 10px 5px 0px rgba(0,0,0,0.15)
					display			:	none
					opacity			:	0
					padding			:	0
					position		:	absolute
					top				:	2.8rem
					visibility		:	hidden
					width			:	17em
					z-index			:	10
					li 
						color			:	#fff
						display			:	block
						margin			:	0
						padding			:	0.8rem
						text-align		: left
.m1
	left	:	14.5vw
//-.m2
//-	left	:	27vw
.m3
	left	:	40vw
.m4
	left	: 	51.3vw
.m5
	left	: 	58vw

@media (min-width:800px)
	.m2
		left	:	36%
@media (min-width:1366px)
	.m2
		left	:	36.5%
//-+to-width(1280px)
//-	.m2
//-		left : 36%
// +from-width(1300px)
// 	.m2
// 		left: 36.5%
.header-master .header-menu .menu ul li:hover .submenu 
		display		:	block
		opacity		:	1
		visibility	:	visible

.submenu li a:hover
	color	:	red !important
.section
	col(1/6)
	text-align 	: center
	display		: inline
