

&
	display		: flex
	padding		: 0.5rem
	position	: relative

	.header-master
		col(12/12)
		+from-width('mini')
			max-width : 480px !important
			margin : 0 auto 0 auto  !important
		+from-width('small')
			max-width : 480px !important
			margin : 0 auto 0 auto  !important
		+from-width('medium')
			max-width : 768px !important
			margin : 0 auto 0 auto  !important
		+from-width('normal')
			max-width : 768px !important
			margin : 0 auto 0 auto  !important
		+from-width('large')
			max-width : 1024px !important
			margin : 0 auto 0 auto  !important
		+from-width('extra')
			max-width : 1024px !important
			margin : 0 auto 0 auto  !important


		.header-menu
			col(12/12)
			
			.menu-top
				col(12/12)
				
				.header-logo
					col(3/12)
					text-align	: center
					img
						margin 	: 0
						position : relative
						top : 3px
						width :100% !important
				
				.material2
					col(7/12)
					text-align : right
					input
						position: relative;
						top: 1.5vw;
						font-size: 13px;
						color: #777;
						padding: 6px 15px;
						border: 1px solid silver;
						border-radius: 15px;
						box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
					
					
				.material
					col(2/12)
					li
						list-style 		: none
						a
							
							text-align 		: left
							text-decoration : none
							color 			: #000
							font-size 		: 1.2em	
							font-weight 	: 800
							position 		: relative;
							top 			: 1.7vw;

			.menu
				col(6/6)
				width	: 100%
				top: 30px;
				position : relative
				+from-width('mini')
					max-width : 480px !important
					margin : 0 auto 0 auto  !important
				+from-width('small')
					max-width : 580px !important
					margin : 0 auto 0 auto  !important
				+from-width('medium')
					max-width : 768px !important
					margin : 0 auto 0 auto  !important
				+from-width('large')
					max-width : 1024px !important
					margin : 0 auto 0 auto  !important
				+from-width('extra')
					max-width : 1024px !important
					margin : 0 auto 0 auto  !important
				ul
					col(6/6)
					padding 	: 0
					position 	: relative
					right 		: 0
					list-style 	: none
					box-shadow: 0 1px 2px rgba(0, 42, 58, .4);
					padding-top: 19px;
					border-radius: 2px;
					background-color : white
					margin-top: -1%
  					
					li
						// width : 13.5 !important
						a
							text-decoration : none
							font-weight 	: 800
							color 			: black
							hover-underline : 3px solid red
							
							font-size : 1rem
						a.presencia
							position : relative
							top : -7px
							font-size : 1rem
							
						a:active
							text-decoration:none
							
							
							
				.submenu
					background-color:	rgba(255,255,255,0.9)
					box-shadow		:	10px 10px 5px 0px rgba(0,0,0,0.15)
					padding			:	0
					position		:	absolute
					top				:	90% !important
					width			:	17em
					z-index			:	10
					visibility 		: 	hidden
					opacity 		: 	0
					transition 		: 	visibility 0s linear 0.5s,opacity 0.5s linear
					
					li 
						color			:	#fff
						display			:	block
						margin-left		:	0.5vw
						padding			:	0.5rem 0.8rem
						text-align		: 	left
				
						
.header-master .header-menu .menu ul:last-child
	top: 1em

.material-m
	+from-width('mini')
		display : block 
	+from-width('s')
		display : block 
	+from-width('m')
		display : block 
	+from-width('l')
		display : none 
	+from-width('xl')
		display : none !important
	
	
		
.menu.m
	+from-width('xl')
		display : none !important
			
				
.m1
	left	:	18%
.m2
	left	:	36%
.m3
	left	:	53.5%
.m4
	left	: 	69%
.m5
	left	: 	86.5%
	


.header-master .header-menu .menu ul li:hover .submenu 
		visibility 			: 	visible
		opacity 			: 	1
		transition-delay 	: 	0s;
    	
.submenu li a:hover
	color	:	red !important
	 
	
.section
	col(1/6)
	text-align 	: center
	display		: inline



