include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/sismicos/pozos_crossup/SismicaenPozo.png","Sísmica en Pozo")
.cover-2
	+mosaico-x2-1-2("Sismograma normalizado onda P", "metodos/sismicos/pozos_crossup/etapa3a.png")
	+mosaico-x4-2-2("metodos/sismicos/pozos_crossup/etapa2b.png", "Perfil de desviación de barrenos", "Curva de desvición de planta de barrenos", "metodos/sismicos/pozos_crossup/etapa2c.png")
	+mosaico-x2-1-1("metodos/sismicos/pozos_crossup/etapa2a.png", "Diagrama de adquisición por Cross-Hole")
	+mosaico-x4-2-1("Sismograma normalizado onda S", "metodos/sismicos/pozos_crossup/etapa3b.png", "metodos/sismicos/pozos_crossup/etapa4a.png", "Estructura de velocidades Vp y Vs")

	+icons-metodos