#bundle-sismpozos
	backround-color: tomato

	p
		background-color : lightgreen
		color            : deepskblue

div[class^='block']
	img
		height : 100% !important

.block9
	background : white !important