include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/sismicos/pozos_crossup/SismicaenPozo.png","Sísmica en Pozo")


.content

	+mosaico1("256x400","metodos/sismicos/pozos_crossup/427a","341x400", "4e7c32","559334")
	+mosaico2("metodos/sismicos/pozos_crossup/427b","256x355","metodos/sismicos/pozos_crossup/341", "67ac4b")
	+mosaico3("metodos/sismicos/pozos_crossup/427c_1","427x420","597x371","metodos/sismicos/pozos_crossup/597","559334","4e7c32")


	//- ****** falta slide con las imagenes metodos/sismicos/pozos_crossup/427_2 y metodos/sismicos/pozos_crossup/427_3 *****

	//- +mosaico-x2-1-2("Sismograma normalizado onda P", "metodos/sismicos/pozos_crossup/etapa3a.png")

	//- +mosaico-x4-2-2("metodos/sismicos/pozos_crossup/etapa2b.png", "Perfil de desviación de barrenos", "Curva de desvición de planta de barrenos", "metodos/sismicos/pozos_crossup/etapa2c.png")

	//- +mosaico-x2-1-1("metodos/sismicos/pozos_crossup/etapa2a.png", "Diagrama de adquisición por Cross-Hole")

	//- +mosaico-x4-2-1("Sismograma normalizado onda S", "metodos/sismicos/pozos_crossup/etapa3b.png", "metodos/sismicos/pozos_crossup/etapa4a.png", "Estructura de velocidades Vp y Vs")

	+icons-metodos