{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block outer %}
  <div class="off-canvas-container">
    {{ nav(page, {classes: 'off-canvas-nav hide-desktop', logo: true, showChildren: true}) }}
  </div>
{% endblock%}

{% block header %}
  <div class="block top">
      <div class="inner demo-inner">
        <header>
          <img  src="/images/logo.png" alt="logo" class="logo_geo">
          {{ nav(page, {classes: 'hide-mobile'}) }}
          <a href="#" class="off-canvas-trigger hide-desktop">
            <svg class="a-toolbox">
              <use xlink:href="#a-toolbox" />
            </svg>
          </a>

        </header>
      {% block headerContent %}
      {% endblock %}
    </div>
  </div>
  <div class="block header {% block upperClass %}{% endblock %}">
    {% block headerBackground %}{% endblock %}

  </div>
{% endblock %}

{% block main %}
  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}

{% block footer %}
  <!-- <footer class="block footer">
    <div class="inner">
      {% block footerContent %}
        <div class="inline-middle width-50">
          
        </div>{#
      #}<div class="inline-middle width-50 align-right">
          
        </div>
      {% endblock %}
    </div>
    <div class="inner">
      <div class="linode-credit">
        
      </div>
    </div>
  </footer> -->

      <footer id="contact-us">
     <!--  <header>
        <div class="footer-title">
          <h3>Contáctanos</h3>
        </div>
        <div class="footer-menu">
          <ul>
            <li class="social-tw"><a href="https://twitter.com/ContactoCIBAP" title="¡Síguenos en twitter!">¡Síguenos en twitter!</a></li>
            <li class="social-fb"><a href="https://www.facebook.com/cibap.com.mx" title="¡Dannos like en facebook!">¡Dannos like en facebook!</a></li>
          </ul>
        </div>
      </header> -->
      <form>
        <section>
          <div class="contact-name">
            <label>Nombre</label>
            <input type="text" name="name">
          </div>
          <div class="contact-mail">
            <label>Email</label>
            <input type="email" name="mail">
          </div>
          <div class="contact-subject">
            <label>Motivo</label>
            <select>
              <option selected>Seleccione</option>
              <option value="cita">Cita</option>
              <option value="info">Información de sucursales</option>
              <option value="prod">Productos</option>
            </select>
          </div>
        </section>
        <section>
          <div class="contact-body">
            <label>Mensaje</label>
            <textarea></textarea>
          </div>
          <div class="contact-submit">
            <input type="submit" value="Enviar">
          </div>
        </section>
      </form>
      <aside>
        <section class="vcard">
          <div class="org">Sucursal Nonoalco</div>
          <div class="adr">
            <div class="street-address">Patriotismo 579, Santa María Nonoalco</div><span class="locality">Benito Juárez</span><span>,&nbsp;</span><span class="region">Distrito Federal</span><span>,&nbsp;</span><span class="postal">03700</span><span>,&nbsp;</span><span class="country-name">México</span>
          </div>
          <div class="tel">+52 (55) 4819 5576</div><a href="https://www.google.com/maps/place/Av+Patriotismo+579,+Nonoalco,+Benito+Ju%C3%A1rez,+03700+Cd+de+M%C3%A9xico,+D.F.,+Mexico/@19.383519,-99.18375,17z" title="Ver mapa" class="url">Ver Mapa</a>
        </section>
        <section class="vcard">
          <div class="org">Sucursal Vergel de Coyoacán</div>
          <div class="adr">
            <div class="street-address">Ejido 240, Vergel de Coyoacán</div><span class="locality">Tlalpan</span><span>,&nbsp;</span><span class="region">Distrito Federal</span><span>,&nbsp;</span><span class="postal">14340</span><span>,&nbsp;</span><span class="country-name">México</span>
          </div>
          <div class="tel">+52 (55) 4819 5576</div><a href="https://www.google.com/maps/place/Ejido+240,+Vergel+de+Coyoac%C3%A1n,+Tlalpan,+14340+Cd+de+M%C3%A9xico,+D.F.,+Mexico/@19.300587,-99.136028,16z" title="Ver mapa" class="url">Ver Mapa</a>
        </section>
      </aside>
    </footer>
{% endblock %}
