include /master/common/mixins/cover

+cover("PServ_Procesamiento", "Procesamiento")

.content

	p: span|El procesamiento de datos geofísicos se puede definir de una manera clara y concisa como el uso y aplicación de herramientas computacionales para el análisis y transformación de dichos datos en información representativa e interpretable de la realidad geológica, 
			|esta etapa comienza con el análisis de la señal geofísica (mediciones discretas en tiempo y espacio) mediante el uso de herramientas propias de la teoría de muestreo, filtrado y análisis espectral. El procesado de datos es utilizado para remover todos aquellos efectos 
			|ajenos a la señal primaria de referencia (nuestro objetivo de estudio) mejorándola para aquellos propósitos interpretativos. 
	p: span En esta etapa se consideran un gran número de pasos a seguir, el primero de ellos consiste en preparar la información pre-procesada removiendo 
			|efectos debidos al instrumental geofísico tal como ajustes por calibración y correcciones por inestabilidad del mismo. En el siguiente paso interviene el filtrado digital para aislar aquellas anomalías de interés, el objetivo en particular es el de hacer visibles aquellos atributos  
			|de la señal que aumentarán su perceptibilidad ante el intérprete. Hoy en día gracias al gran avance en los sistemas computacionales, esta etapa se trabaja bajo esquemas bien documentados y de alta exigencia en lo que se refiere a la calidad de los datos, sin embargo la interacción con 
			|gente profesional y con experiencia para llevar a cabo estas tareas se requiere para establecer parámetros y procedimientos óptimos.