.cover
	.cover-img
		img(src="https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png")
			
	.cover-caption

		.title.countries
			h1 Nicaragua

		.text
			span 
				|Levantamiento por Georadar y Tomografía Eléctrica, en el Proyecto Texaco, 
				|Texaco,Ambientalesen la Ciudad de Managua, República de Nicaragua, para   
				|BBL Serviciosde Nicaragua, S.A, Diciembre 2006.


.content-method-1
	.box-method.box-1
		p: |hola
	.box-method.box-2
		img(src="https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png")
	.box-method.box-3
		p: |hola

.content-method-2
	.box-method.box-4
		img(src="https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png")
	.box-method.box-5
		p: |hola
	.box-method.box-6
		img(src="https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png")

.content-method-3
	.box-method.box-7
		p: |hola
	.box-method.box-8
		img(src="https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png")
	.box-method.box-9
		p: |hola

.country
	span: p Nicaragua
	span: p Canadá
	span: p Kirguistán
	span: p Bolivia
	span: p India
	span: p Ecuador
	span: p Colombia
	span: p Panamá
	span: p Chile
	span: p Costa Rica


