include /master/common/mixins/mosaico
include /master/common/mixins/cover


+cover-aplications2("/presencia/proyectos/nicaragua/Portada_Nicaragua", "", "Levantamiento por Georadar y Tomografía Eléctrica, en el Proyecto Texaco, en la Ciudad de Managua, República de Nicaragua, para BBL Servicios Ambientales de Nicaragua, S.A, Diciembre 2006. ","Nicaragua")

.content

	+mosaico1("256x256","presencia/proyectos/nicaragua/427a","341x256", "528399","649ebf")
	+mosaico2("presencia/proyectos/nicaragua/427b","256x256","presencia/proyectos/nicaragua/341", "79beea")
	+mosaico4( "presencia/proyectos/nicaragua/683","341x509","528399")
	+mosaico4-r("341x509", "presencia/proyectos/nicaragua/683b","79beea")
	+country

	//- +mosaico-x3-2-1("Caracterización de Zonas Contaminadas", "presencia/proyectos/nicaragua/01.png", "Métodos Electromagnéticos")

	//- +mosaico-x3-1-2("/presencia/proyectos/nicaragua/02.png","Métodos Eléctricos","presencia/proyectos/nicaragua/04.png")

	//- +mosaico-x2-1-1("presencia/proyectos/nicaragua/03.png", "Georadar de Penetración Terrestre")

	//- +mosaico-x2-1-2("Tomografía de Resistividad Eléctrica", "presencia/proyectos/nicaragua/05.png")




