img
	position:relative

p 
	display: inline-block

.paises 
	padding-left: 15%
	font-size   : 1.4rem
	
	span
		col(1/3)
		margin : 5px
		background-color: yellow
	
		margin-left: 7%
		padding-left:3%

		
	+from-width('m')
		span
			col(1/6)
			background-color: aqua
			text-align: center
			
	// +from-width('n')
	// 	span
	// 		col(1/6)
	// 		background-color: orange
			
	+from-width('l')
		span
			col(1/10)
			background-color: pink
			text-align: center
		
	// +from-width('xl')
	// 	col(10/10)
	// 		span 
	// 			col(1/10)
	// 			background-color:black