include /master/common/mixins/mosaico
.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/nicaragua/Portada_Nicaragua.png")
			
	.cover-caption

		.title.countries
			h1 Nicaragua

		.text
			span 
				|Levantamiento por Georadar y Tomografía Eléctrica, en el Proyecto Texaco, 
				|Texaco,Ambientalesen la Ciudad de Managua, República de Nicaragua, para   
				|BBL Serviciosde Nicaragua, S.A, Diciembre 2006.

+mosaico-x3-2-1("txt1", "", "txt2")
+mosaico-x3-1-2("","txt3","")

.country
	span: p: a(href='nicaragua') Nicaragua
	span: p: a(href='canada') Canadá
	span: p: a(href='kirguistan') Kirguistán
	span: p: a(href='bolivia') Bolivia
	span: p: a(href='india') India
	span: p: a(href='ecuador') Ecuador
	span: p: a(href='colombia') Colombia
	span: p: a(href='panama') Panamá
	span: p: a(href='chile') Chile
	span: p: a(href='costa-rica') Costa Rica


