include /master/common/mixins/mosaico
.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/nicaragua/Portada_Nicaragua.png")
			
	.cover-caption

		.title.countries
			h1 Nicaragua

		.text
			span 
				|Levantamiento por Georadar y Tomografía Eléctrica, en el Proyecto Texaco, 
				|Texaco,Ambientalesen la Ciudad de Managua, República de Nicaragua, para   
				|BBL Serviciosde Nicaragua, S.A, Diciembre 2006.

+mosaico-x3-2-1("Carazterización de Zonas Contaminadas", "presencia/proyectos/nicaragua/Carazterización de Zonas Contaminadas.png", "Métodos Electromagnéticos")

+mosaico-x2-1-1("presencia/proyectos/nicaragua/nica 039.png", "Georadar de Penetración Terrestre")

+mosaico-x3-1-2("/presencia/proyectos/nicaragua/Georadar de Penetración Terrestre.png","Métodos Eléctricos","presencia/proyectos/nicaragua/nica 002.png")

+mosaico-x2-1-1("presencia/proyectos/nicaragua/Tomografía de Resistividad Electrica.png", "Tomografía de Resistividad Eléctrica")

+country


