
img(src='https://s3.amazonaws.com/upload.uxpin/files/158457/164112/Ecuador.png')

.paises
	span: p Nicaragua
	span: p Canadá
	span: p Kirguistán
	span: p Bolivia
	span: p India
	span: p Ecuador
	span: p Colombia
	span: p Panamá
	span: p Chile
	span: p Costa Rica