include /master/common/mixins/mosaico
.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/nicaragua/Portada_Nicaragua.png")
			
	.cover-caption

		.title.countries
			h1 Nicaragua

		.text
			span 
				|Levantamiento por Georadar y Tomografía Eléctrica, en el Proyecto Texaco, 
				|Texaco,Ambientalesen la Ciudad de Managua, República de Nicaragua, para   
				|BBL Serviciosde Nicaragua, S.A, Diciembre 2006.

+mosaico-x3-2-1("txt1", "", "txt2")
+mosaico-x3-1-2("","txt3","")

+country


