include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/espectometria/ESPEC.png", "Espectometría de Rayos Gama")


.content
	+mosaico4("metodos/espectometria/683", "metodos/espectometria/T-683")
	+mosaico3("metodos/espectometria/427c1","metodos/espectometria/T-427c1","metodos/espectometria/T-597","metodos/espectometria/597")



	//- ****** lleva slide falta incluir las rutas metodos/espectometria/427c2 y metodos/espectometria/427c3 *******


	//- +mosaico-x2-1-1("metodos/espectometria/Etapa2a.png","Análisis y procesamiento de datos geoquímicos")

	//- +mosaico-x4-2-2("", "Contenido de Potasio K [%],Contenido Equivalente de Thorio eTh [ppm] y eU [ppm]", "Representación 3D del Contenido de Potasio K [%]", "metodos/espectometria/Etapa4a.png")
	//- 		ul#espectometria.bxslider
	//- 			li: img(src="/static/img/metodos/espectometria/Etapa3a.png")
	//- 			li: img(src="/static/img/metodos/espectometria/Etapa3b.png")
	//- 			li: img(src="/static/img/metodos/espectometria/Etapa3c.png")


	+icons-metodos