.block10 p
	transform translate(0px,35px)
	
.bx-wrapper, .bx-viewport
	height: 25vw !important
	width : 100% !important
	margin-left : .5% !important

div[class^='block']
	p
		padding:  10% 5% !important
	img 
		height : 100% !important