include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/espectometria/ESPEC.png", "Espectometría de Rayos Gama")


.content
	+mosaico-x2-1-1("metodos/espectometria/Etapa2a.png","Análisis y procesamiento de datos geoquímicos")
	+mosaico-x4-2-2("", "Contenido de Potasio K [%],Contenido Equivalente de Thorio eTh [ppm] y eU [ppm]", "Representación 3D del Contenido de Potasio K [%]", "metodos/espectometria/Etapa4a.png")
			ul#espectometria.bxslider
				li: img(src="/static/img/metodos/espectometria/Etapa3a.png")
				li: img(src="/static/img/metodos/espectometria/Etapa3b.png")
				li: img(src="/static/img/metodos/espectometria/Etapa3c.png")


	+icons-metodos