.cover
	img(src="http://lorempixel.com/800/200/fashion")

section.etapa2
	.et2-tx
		h1 Etapa 2a
	.et2-img
		img(src='/static/img/cam.jpg')

section.etapa3
	.et3-img
		img(src='/static/img/cam.jpg')
	.et3-tx
		h1 Etapa 3a
	
section.etapa4
	.et4-tx
		h1 Etapa 4a
	.et4-img
		img(src='/static/img/cam.jpg')
