include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons




+cover-sc("metodos/electromagneticos/FCEscalar/Portada_CSAMTe.png", "Audio Magnetotelurico de Fuente Controlada Escalar")

.content

	+mosaico1
	+mosaico2
	+mosaico3
	+mosaico4

	//- +mosaico-x2-1-1("metodos/electromagneticos/FCEscalar/etapa2a.png", "Curvas de resistividad aparente para cada estación")
	//- +mosaico-x4-2-2("metodos/electromagneticos/FCEscalar/etapa3a.png", "Construcción de Perfiles de resistividad a profundidad", "Integración 3D de perfiles de resistivdad", "metodos/electromagneticos/FCEscalar/etapa4a.png")

	+icons-metodos