//edit()()

.etapa2	
	.et2-tx
		col(4/12)
	.et2-img
		col(8/12)
		img
			width: 100%
.etapa3
	.et3-img
		col(8/12)
		img 
			width:100%
	.et3-tx
		col(4/12)
.etapa4
	.et4-tx
		col(6/12)
	.et4-img
		col(6/12)
		img
			width: 100%