.label1
	top : 8%
	
.label3
	top : 25%

.label4
	top : 42%
	
.label5
	top : 59%

.label6
	top : 76%

.categoriax3
	col(3/3)
	span
		col(1/3)

.categoriax2
	col(2/2)
	span
		col(1/2)

.gps-tag
	color #747474
	
.electro-tag
	color  #ffb600

.electri-tag
	color  #aa5b26
	
.poten-tag
	color #d61118
	
.registro-tag
	color #0080ae
