include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Geohidrologia.png")
	
//- 	.cover-caption
//- 		h1 Geohidrología

+cover-aplications("/aplicaciones/usar/Geohidrologia.png", "Geohidrología", "Matamoros - Zacatecas, Mex. Ante el crecimiento demográfico e industrial intrínseco al desarrollo del país es necesario la búsqueda de fuentes de abastecimiento de este recurso vital; la implementación de servicios de exploración profunda tales como MT,CSAMT, GRV, TDEM SEV y GPS ofrecen imágenes contrastantes entre las diferentes formaciones y estructuras que componen el subsuelo.")

	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-electri
	//- 	a#cat-electri.lab.label4(href='/metodos/electricos')
	//- 		span Eléctricos
	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales
	//- .cat-registro
	//- 	a#cat-registro.lab.label6(href='/metodos/registro')
	//- 		span Registro Geofísico



.content
	+icons