.cover
	.cover-img
		img(src="/static/img/aplicaciones/Geohidrología.png")

	.lab.label1
		h3 GPS
	.lab.label3
		h3 Electromagnéticos
	.lab.label4
		h3 Eléctricos
	.lab.label5
		h3 Potenciales
	.lab.label6
		h3 Registro Geofísico

.categoriax3
	span: p Sondeo Eléctrico Vertical
	span: p Transitorio Electromagnético en el Dominio del Tiempo
	span: p Magnetometría

.categoriax3
	span: p Gravimetría
	span: p Magnetotelúrico/Auido-Magnetotelúrico
	span: p Registro Geofísico de Pozos

.categoriax3
	span: p Audio-Magnetotelúrico de Fuente Controlada *v
	span: p Radio-Magtotelúrico
	span: p Sistema de Posicionamiento Global