include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/potenciales/gravimetria/Gravimetria.png", "Gravimetría")

.content
	+mosaico1("256x256","metodos/potenciales/gravimetria/427a","341x256", "b2101c","d61118")
	+mosaico2("metodos/potenciales/gravimetria/427b","256x350","metodos/potenciales/gravimetria/341", "ef4848")
	+mosaico3("metodos/potenciales/gravimetria/427c","427x265","597x171","metodos/potenciales/gravimetria/597","d61118","b2101c")
	+mosaico4("metodos/potenciales/gravimetria/683", "341x386","ef4848")



	//- +mosaico-x3-1-2("metodos/potenciales/gravimetria/Etapa2a.png", "Procesamiento de datos Gravimétricos", "metodos/potenciales/gravimetria/Etapa3a.png")

	//- +mosaico-x4-2-2("metodos/potenciales/gravimetria/Etapa3b.png", "Mapa Gravimétrico Residual de Bouguer", "Mapa Gravimétrico Anomalia de Bouguer", "metodos/potenciales/gravimetria/Etapa4a.png")

	//- +mosaico-x3-2-1("Configuración 3D Residual de Bouger","metodos/potenciales/gravimetria/Etapa4b.png", "Configuración 3D Residual de Bouger")

	+method-1