include /master/common/mixins/mosaico

section
	img(src="/static/img/metodos/potenciales/Gravimetria.png")

+mosaico-x2-1-1("", "texto5")
+mosaico-x3-1-2("", "texto3", "")
+mosaico-x4-2-2("", "texto4", "texto5", "")