include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/Geotermia.png")
	
	.cat-electro
		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
			span Electromagnéticos
	.cat-sismicos
		a#cat-sismicos.lab.label7(href='/metodos/sismicos')
			span Sísmicos
	.cat-poten
		a#cat-poten.lab.label5(href='/metodos/potenciales')
			span Potenciales
	.cat-espec
		a#cat-espec.lab.label8(href='/metodos/espectometria')
			span Espectrometría
	.cat-gps
		a#cat-gps.lab.label1(href='/metodos/gps')
			span GPS

.categoriax3
	span: p#sismicos-tag Sísmica de Cocientes Espectrales
	span: p#electro-tag Magnetotelúrico/Auido-Magnetotelúrico
	span: p#poten-tag Magnetometría
.categoriax2
	span: p#gps-tag Sistema de Posicionamiento Global
	span: p#sismicos-tag Sísmica de Ondas Superficiales
.categoriax3
	span: p#electro-tag Transitorio Electromagnético en el Dominio del Tiempo
	span: p#poten-tag Gravimetría
	span: p#electro-tag Audio-Magnetotelúrico de Fuente Controlada *v
.categoriax2
	span: p#sismicos-tag Sísmica de Autocorrelación Espacial
	span: p#espec-tag Espectrometría de Rayos Gama

+icons

	