.cover
	.cover-img
		img(src="/static/img/aplicaciones/Geotermia.png")
	
	.lab.label3
		h3 Electromagnéticos
	.lab.label7
		h3 Sísmicos
	.lab.label5
		h3 Potenciales
	.lab.label8
		h3 Espectrometría
	.lab.label1
		h3 GPS

.categoriax3
	span: p Sísmica de Cocientes Espectrales
	span: p Magnetometría
	span: p Magnetotelúrico/Auido-Magnetotelúrico
.categoriax2
	span: p Transitorio Electromagnético en el Dominio del Tiempo
	span: p Audio-Magnetotelúrico de Fuente Controlada *v
.categoriax3
	span: p Sísmica de Ondas Superficiales
	span: p Gravimetría
	span: p Sistema de Posicionamiento Global
.categoriax2
	span: p Sísmica de Autocorrelación Espacial
	span: p Espectrometría de Rayos Gama
	