include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Geotermia.png")

//- 	.cover-caption
//- 		h1 Geotermia

+cover-aplications("/aplicaciones/usar/Geotermia.png", "Geotermia", "Sierra Cucapah - B.C., Mex. La exploración geofísica de recursos geotérmicos mide las propiedades físicas de la tierra, el énfasis es principalmente en parámetros que son sensibles a la temperatura y el contenido de fluido en las rocas o en parámetros que pueden revelar estructuras que influyen en las propiedades del sistema geotérmico. Los parámetros físicos importantes de un sistema geotérmico son: temperatura, porosidad, permeabilidad, composición química del fluido (salinidad) y presión. La mayoría de estos parámetros no se pueden medir directamente a través de métodos geofísicos convencionales aplicados en superficie. Por otro lado existen otros parámetros interesantes que pueden ser medidos y que están vinculados con los parámetros anteriores y por lo tanto pueden aportar información importante sobre el sistema geotérmico. Dichos parámetros son: resistividad eléctrica, susceptibilidad magnética, densidad, velocidad sísmica y actividad sísmica.")
.box-icons
	.item.item1
		a(href='/aplicaciones/geotermia')
			img(src='/static/img/aplicaciones/Iconos/Geotermia.png',title = 'Geotermia')
	.item
		a(href='/metodos/electromagneticos')
			img(src='/static/img/metodos/Iconos/Electromagneticos.png', title = 'Electromagneticos')
	.item
		a(href='/metodos/espectometria')
			img(src='/static/img/metodos/Iconos/Espectometria.png', title = 'Espectometria')
	.item
		a(href='/metodos/gps')
			img(src='/static/img/metodos/Iconos/GPS.png', title = 'GPS')
	.item
		a(href='/metodos/potenciales')
			img(src='/static/img/metodos/Iconos/Potenciales.png',title = 'Potenciales')
	.item
		a(href='/metodos/sismicos')
			img(src='/static/img/metodos/Iconos/Sismicos.png', title = 'Sismicos')

	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-sismicos
	//- 	a#cat-sismicos.lab.label7(href='/metodos/sismicos')
	//- 		span Sísmicos
	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales
	//- .cat-espec
	//- 	a#cat-espec.lab.label8(href='/metodos/espectometria')
	//- 		span Espectrometría
	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS



	