.label1
	background-color 	: #994092
	top 				: 15%		
.label3
	background-color 	: #407799
	top 				: 30%
.label5
	background-color 	: #e83c3c
	top 				: 45%
.label7
	background-color 	: #57b647
	top 				: 60%
.label8
	background-color 	: #985E1C
	top 				: 75%