include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/usar/Geotermia.png")

	.cover-caption
		h1 Geotermia

	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-sismicos
	//- 	a#cat-sismicos.lab.label7(href='/metodos/sismicos')
	//- 		span Sísmicos
	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales
	//- .cat-espec
	//- 	a#cat-espec.lab.label8(href='/metodos/espectometria')
	//- 		span Espectrometría
	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS


.content
	+icons

	