*
a
	text-decoration : none

.label1
	background-color 	: #994092
	top 				: 10%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
			
.label3
	background-color 	: #407799
	top 				: 27%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
	
.label5
	background-color 	: #e83c3c
	top 				: 44%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
	
.label7
	background-color 	: #57b647
	top 				: 61%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center

.label8
	background-color 	: #985E1C
	top 				: 78%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
	

.gps-tag
	color #994092
	
.electro-tag
	color #407799

.espec-tag
	color #985e1c
	
.poten-tag
	color #e83c3c
	
.sismicos-tag
	color #57b647