.label1
	top : 10%
.label3
	top : 27%
.label5
	top : 44%
.label7
	top : 61%
.label8
	top : 78%

.gps-tag
	color #994092
	
.electro-tag
	color #407799

.espec-tag
	color #985e1c
	
.poten-tag
	color #e83c3c
	
.sismicos-tag
	color #57b647