.cover
	.cover-img
		img(src="/static/img/aplicaciones/PAp_Ambiental.png")

	#catgps.lab.label1
		h3 GPS
	#catelectro.lab.label3
		h3 Electromagnéticos
	#catelectri.lab.label4
		h3 Eléctricos

.categoriax3
	span: p#electro-tag Geo-Radar de Penetración Terrestre
	span: p#electri-tag Polarización Inducida Espectral
	span: p#gps-tag1 Sistema de Posicionamiento Global
	
.categoriax3
	
	span: p#electri-tag Sondeo Eléctrico Vertical
	span: p#electro-tag Conductividad Electromagnética
	span: p#electri-tag Tomografia de Resistividad Eléctrica

	

	