include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Ambiental.png")

+cover-aplications("/aplicaciones/usar/Ambiental.png", "Ambiental", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laudantium tempore natus adipisci neque minima similique repudiandae, sunt quam magnam! Ea error repellat veniam sit quos temporibus magni minima iure!")


//- 	.cover-caption
//- 		h1 Ambiental

//- 	.cat-gps 
//- 		a#cat-gps.lab.label1(href='/metodos/gps')
//- 			span GPS
//- 	.cat-electro
//- 		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
//- 			span Electromagnéticos
//- 	.cat-electri
//- 		a#cat-electri.lab.label4(href='/metodos/electricos')
//- 			span Eléctricos

//- .categoriax3
//- 	span: p#electro-tag Geo-Radar de Penetración Terrestre
//- 	span: p#electri-tag Polarización Inducida Espectral
//- 	span: p#gps-tag Sistema de Posicionamiento Global
	
//- .categoriax3
//- 	span: p#electri-tag Sondeo Eléctrico Vertical
//- 	span: p#electro-tag Conductividad Electromagnética
//- 	span: p#electri-tag Tomografía de Resistividad Eléctrica


.content
	+icons



