*
a
	text-decoration : none	

.label1
	background-color 	: #994092
	top 				: 60%
	height				: 5vw
	line-height			: 5vw
	text-align			: center

.label3
	background-color 	: #407799
	top 				: 40%	
	height				: 5vw
	line-height			: 5vw
	text-align			: center

.label4
	background-color 	: #ded831
	top 				: 20%
	height				: 5vw
	line-height			: 5vw
	text-align			: center

.gps-tag
	color #994092

.electro-tag
	color #407799

.electri-tag
	color #ded831