include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/Ambiental.png")

	.cover-caption
		h1 Ambiental

	#cat-gps.lab.label1
		a(href='/metodos/gps/sistema-de-posicionamiento-global')
			span GPS
	#cat-electro.lab.label3
		span Electromagnéticos
	#cat-electri.lab.label4
		span Eléctricos

.categoriax3
	span: p#electro-tag Geo-Radar de Penetración Terrestre
	span: p#electri-tag Polarización Inducida Espectral
	span: p#gps-tag Sistema de Posicionamiento Global
	
.categoriax3
	span: p#electri-tag Sondeo Eléctrico Vertical
	span: p#electro-tag Conductividad Electromagnética
	span: p#electri-tag Tomografia de Resistividad Eléctrica


+icons


