include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Ambiental.png")

+cover-aplications("/aplicaciones/usar/Ambiental.png", "Huimanguillo - Tabasco, Mex.", "La evaluación de las propiedades del subsuelo y el agua son importantes para caracterizar el impacto que tienen los materiales contaminantes. El monitoreo mediante perforación resulta ser un método directo para la obtención de información, aunque no deja de ser puntual y costoso, por el contrario los métodos geofísicos  cuentan con el objetivo de caracterizar, modelar, monitorear y mitigar sitios con posibles fuentes contaminantes; la implementación de servicios de exploración somera tales como IP, SIP, TRE, GPR, CMD y GPS ofrecen imágenes contrastantes entre el suelo natural y el contaminante.", "Ambiental")
.content
	.box-icons
		.item.item1
			a(href='/aplicaciones/ambiental')
				img(src='/static/img/aplicaciones/Iconos/Ambiental.png', title = 'Ambiental')
		.item
			a(href='/metodos/electricos')
				img(src='/static/img/metodos/Iconos/Electricos.png', title = 'Electricos')
		.item
			a(href='/metodos/electromagneticos')
				img(src='/static/img/metodos/Iconos/Electromagneticos.png', title = 'Electromagneticos')
		.item
			a(href='/metodos/gps')
				img(src='/static/img/metodos/Iconos/GPS.png', title = 'GPS')

				
//- 	.cover-caption
//- 		h1 Ambiental

//- 	.cat-gps 
//- 		a#cat-gps.lab.label1(href='/metodos/gps')
//- 			span GPS
//- 	.cat-electro
//- 		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
//- 			span Electromagnéticos
//- 	.cat-electri
//- 		a#cat-electri.lab.label4(href='/metodos/electricos')
//- 			span Eléctricos

//- .categoriax3
//- 	span: p#electro-tag Geo-Radar de Penetración Terrestre
//- 	span: p#electri-tag Polarización Inducida Espectral
//- 	span: p#gps-tag Sistema de Posicionamiento Global
	
//- .categoriax3
//- 	span: p#electri-tag Sondeo Eléctrico Vertical
//- 	span: p#electro-tag Conductividad Electromagnética
//- 	span: p#electri-tag Tomografía de Resistividad Eléctrica

