include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/Ambiental.png")

	.cover-caption
		h1 Ambiental

	.cat-gps 
		a#cat-gps.lab.label1(href='/metodos/gps')
			span GPS
	.cat-electro
		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
			span Electromagnéticos
	.cat-electri
		a#cat-electri.lab.label4(href='/metodos/electricos')
			span Eléctricos

.cover-2
	+icons


