include /master/common/mixins/icons
include /master/common/mixins/cover



.cover
	.cover-img
		img(src='/static/img/aplicaciones/usar/Ambiental.png')
		
		.cover-caption-text-title
			h1 hola

		.cover-content
			

			.cover-caption-text-description
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, placeat, quisquam. Earum necessitatibus, nobis cupiditate facere nam repellat odit officia tempore velit quae non fuga, aliquam hic dolorem! Est, quibusdam?












//- +cover-aplications("/aplicaciones/usar/Ambiental.png", "Huimanguillo - Tabasco, Mex.", "La evaluación de las propiedades del subsuelo y el agua son importantes para caracterizar el impacto que tienen los materiales contaminantes. El monitoreo mediante perforación resulta ser un método directo para la obtención de información, aunque no deja de ser puntual y costoso, por el contrario los métodos geofísicos  cuentan con el objetivo de caracterizar, modelar, monitorear y mitigar sitios con posibles fuentes contaminantes; la implementación de servicios de exploración somera tales como IP, SIP, TRE, GPR, CMD y GPS ofrecen imágenes contrastantes entre el suelo natural y el contaminante.", "Ambiental")
//- .content
//- 	.box-icons
//- 		.item.item1
//- 			a(href='/aplicaciones/ambiental')
//- 				img(src='/static/img/aplicaciones/Iconos/Ambiental.png', title = 'Ambiental')
//- 		.item
//- 			a(href='/metodos/electricos')
//- 				img(src='/static/img/metodos/Iconos/Electricos.png', title = 'Electricos')
//- 		.item
//- 			a(href='/metodos/electromagneticos')
//- 				img(src='/static/img/metodos/Iconos/Electromagneticos.png', title = 'Electromagneticos')
//- 		.item
//- 			a(href='/metodos/gps')
//- 				img(src='/static/img/metodos/Iconos/GPS.png', title = 'GPS')