.cover
	.cover-img
		img(src="/static/img/aplicaciones/PAp_Ambiental.png")

	.lab.label1
		h3 GPS
	.lab.label3
		h3 Electromagnéticos
	.lab.label4
		h3 Eléctricos

.categoriax3
	span: p Geo-Radar de Penetración Terrestre
	span: p Polarización Inducida Espectral
	span: p Sistema de Posicionamiento Global

.categoriax3
	span: p Sondeo Eléctrico Vertical
	span: p Tomografia de Resistividad Eléctrica
	span: p Conductividad Electromagnética

	