include /master/common/mixins/cover

+cover("01", "Alianza Comercial")

#slider
	.slider-box
		.slider-content
			.box-icons 
				.item-2
					img(src='/static/img/clientes/11.png')
				.item-2
					img(src='/static/img/clientes/02.png')
				.item-2
					img(src='/static/img/clientes/06.png')
				.item-2
					img(src='/static/img/clientes/04.png')
				.item-2
					img(src='/static/img/clientes/05.png')
		.slider-content
			.box-icons 
				.item-2
					img(src='/static/img/clientes/03.png')
				.item-2
					img(src='/static/img/clientes/02.png')
				.item-2
					img(src='/static/img/clientes/08.png')
				.item-2
					img(src='/static/img/clientes/09.png')
				.item-2
					img(src='/static/img/clientes/10.png')

		

		