.cover
	img(src="/static/img/presencia/alianza/political_world.png")


#owl-example.owl-carousel
	div.itemc
		img(src='/static/img/presencia/alianza/AC_1.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_2.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_3.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_4.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_5.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_6.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_7.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_8.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_9.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_10.png', alt='')
	div
		img(src='/static/img/presencia/alianza/AC_11.png', alt='')


