section
	img(src="/static/img/presencia/alianza/political_world.png")
#slider
	.slider-box
		.slider-content
			.box-icons 
				.item-2
					img(src='/static/img/presencia/alianza/AC_1.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_2.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_3.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_4.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_5.png')
		.slider-content
			.box-icons 
				.item-2
					img(src='/static/img/presencia/alianza/AC_6.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_7.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_8.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_9.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_10.png')
				.item-2
					img(src='/static/img/presencia/alianza/AC_11.png')
				

				

		