.cover
	img(src="/static/img/presencia/alianza/political_world.png")

.content

	#owl-example.owl-carousel
		div
			a(href='http://www.gadrilling.com/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_1.png', alt='')
		div
			a(href='http://www.gemsys.ca/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_2.png', alt='')
		div
			a(href='http://www.gfinstruments.cz/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_3.png', alt='')
		div
			a(href='http://www.geo-metronix.de/mtxgeo/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_4.png', alt='')
		div
			a(href='http://www.monexgeoscope.com.au/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_5.png', alt='')
		div
			a(href='http://www.petroseikon.com/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_6.png', alt='')
		div
			a(href='http://www.radsys.lv/en/index/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_7.png', alt='')
		div
			a(href='http://www.radsys.lv/en/index/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_8.png', alt='')
		div
			a(href='http://www.rtclark.com/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_9.png', alt='')
		div
			a(href='http://www.sara.pg.it/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_10.png', alt='')
		div
			a(href='http://www.zebraes.com/' target="_blank")
				img(src='/static/img/presencia/alianza/AC_11.png', alt='')


