//---------slider---------------
*
	box-sizing: border-box

			
@keyframes slidy
		0%
			left 0%
		20%
			left 0%
		25%
			left 0%
		45%
			left 0%
		50%
			left 0%
		70%
			left -100%	
		75%
			left -100%
		95%
			left -100%	
		100%
			left -100%


#slider
	overflow 	   : 	hidden
	.slider-box
		position   : 	relative
		width      : 	200%
		margin     : 	0
		left       : 	0
		font-size  : 	0
		animation  : 	10s slidy infinite
		.slider-content
			width   : 	50%
			display : 	inline-block
			

.item-1
	col(1/5)
	margin-right : 0%
	margin-left : 2%
	text-align : center
	img
		width : 50% !important
		text-align : center
		

.item-2
	col(1/5)
	margin-right : 0%
	margin-left : 2%
	text-align : center
	img
		width : 50% !important
		
		