main
	position : relative !important

.overlay-content
	position : relative
	margin-top : 40px
	margin-left : 30% !important
	
	col(1/1)
	.overlay-box
		span(1/1)
.caja
	width : 40% !important
.cintillo
	margin-left : -5% !important
	width : 50% !important
.description
	background-color: rgba(255,0,255,0.7)





// .clr-1
// 	background : #a466a9

// .block1,.block11,.block5
// 	p
// 		background : #87568c !important
// 		height : 100% !important

// .block7 .sub7-1,.block3,.block14 .sub14-1
// 	p
// 		background : #a466a9 !important
// 		height : 100% !important

// .block8 .sub8,.block13 .sub13,.block10
// 	p
// 		background : #d084d8 !important
		// height : 100% !important