include /master/common/mixins/icons



.accordian
      ul
        li 
          .image_title.clr-1
            a(href='/metodos/espectometria/espectometria-de-rayos-gama') Espectrometría de Rayos Gama (GRS)
          a(href='/metodos/espectometria/espectometria-de-rayos-gama')
            img(src="/static/img/metodos/espectometria/ERG1.png")
       
+icons-metodos
