include /master/common/mixins/administracion
.content
	.overlay-content
		a(href='/metodos/espectometria/espectometria-de-rayos-gama')
			.overlay-box
				+overlay3('espectometria/ERG1', 'Espectrometría de Rayos Gama','Natural','Caracterización Superficial', 'Espectrometría')


