// Nib's global reset
global-reset()

rupture.scale        =  0        25em      37.5em      50em      65.625em    87.5em
//                     └────┬────┘└────┬────┘└────┬────┘└────┬────┘└────┬────┘└────┬────┘
rupture.scale-names  =     'xs'       's'        'm'        'l'        'xl'       'hd'
//                     ┌────┴────┐┌────┴────┐┌────┴────┐┌────┴────┐     └────┐┌────┘
//                     │       mobile       ││       tablet       │        desktop
//                     └ portrait landscape ┘└ portrait landscape ┘

@require 'colors'
@require 'fonts'
@require 'forms'