
@import url("http://fonts.googleapis.com/css?family=Questrial:400|Roboto:400,300|Dancing+Script:400");
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #222;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.125em;
}
form label {
  line-height: 1.5em;
  display: block;
  font-weight: bolder;
}
form select,
form input,
form textarea {
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  border: solid 1px #bbb;
  border-radius: 0.2em;
  outline: none;
  padding: 0.45em;
  background: #fff;
  color: #555;
  width: 250px;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  transition: all .3s ease;
  line-height: 2rem;
  height: 2rem;
  border-radius: 0.33rem;
  background-color: #fff;
  padding: 0 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
form select:focus,
form input:focus,
form textarea:focus {
  box-shadow: 0 0 5px rgba(0,116,217,0.7);
  border: 1px solid #2671b3;
  outline: none;
}
form textarea {
  resize: none;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  background-color: #fcfcfc;
  background-image: url("/static/images/background-cibap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
html:after {
  content: '';
  position: fixed;
  background-color: rgba(252,252,252,0.33);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
 /*header {
  position: fixed;
  display: block;
  padding: 0.75rem 1rem;
  z-index: 99999;
  width: 100%;
  height: 5rem;
  border-bottom: 0 solid transparent;
  box-shadow: 0 0 1rem 0 rgba(16,16,16,0.5);
  background-color: rgba(252,252,252,0.9);
}
 header:hover {
  border-bottom: 0.25rem solid #6fbf4d;
}
 header h1 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 14.166666666666702%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
 header h1:before,
 header h1:after {
  content: '';
  display: table;
}
 header h1:after {
  clear: both;
}
 header h1:last-child {
  margin-right: 0%;
}
 header h1 a {
  line-height: 5rem;
  display: block;
  white-space: nowrap;
  text-indent: -3000em;
  background-image: url("http://www.geotem.com.mx/img/logo.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
 header nav {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 3%;
}
 header nav:before,
 header nav:after {
  content: '';
  display: table;
}
 header nav:after {
  clear: both;
}
 header nav:last-child {
  margin-right: 0%;
}
 header nav ul#header-menu {
  padding: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}
 header nav ul#header-menu li {
  display: inline-block;
}
 header nav ul#header-menu li a {
  font-family: 'Questrial', sans-serif;
  font-weight: 400;
  display: block;
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #101010;
  background-color: transparent;
}
 header nav ul#header-menu li a.curr {
  color: #ab171b;
  cursor: default;
}
 header nav ul#header-menu li a:not(.curr):hover {
  color: #fcfcfc;
  background-color: #6fbf4d;
}*/
 main {
  overflow: hidden;
  padding: 6rem 0 0 0;
  box-sizing: border-box;
  min-height: 100%;
}
 footer {
  background-color: white;
  padding-bottom: 3rem;
  *zoom: 1;
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
 
 footer header {
  *zoom: 1;
}
 footer header:before,
 footer header:after {
  content: '';
  display: table;
}
 footer header:after {
  clear: both;
}
 footer header > * {
  margin: 0;
  padding: 0;
  display: block;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
 footer header > *:before,
 footer header > *:after {
  content: '';
  display: table;
}
 footer header > *:after {
  clear: both;
}
 footer header ul {
  list-style: none;
  margin-top: 1.5rem;
  overflow: hidden;
}
 footer header ul li {
  display: block;
  float: right;
  overflow: hidden;
  margin-left: 0.5rem;
}
 footer header ul li a {
  display: block;
  width: 3rem;
  height: 3rem;
  text-indent: -3000em;
  background-repeat: no-repeat;
  background-size: 100%;
}
 footer header ul li.social-tw a {
  background-image: url("/static/images/social-twitter.png");
}
 footer header ul li.social-fb a {
  background-image: url("/static/images/social-facebook.png");
}
 footer header h3 {
  font-family: 'Dancing Script', sans-serif;
  font-weight: 400;
  color: #fcfcfc;
  font-size: 3rem;
  margin: 2.5rem 0;
}
 footer form {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.6666666666667%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: -0.5rem;
}
 footer form:before,
 footer form:after {
  content: '';
  display: table;
}
 footer form:after {
  clear: both;
}
 footer form > section {
  padding-bottom: 0.5rem;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
 footer form > section:before,
 footer form > section:after {
  content: '';
  display: table;
}
 footer form > section:after {
  clear: both;
}
 footer form > section > div {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
 footer form > section > div:before,
 footer form > section > div:after {
  content: '';
  display: table;
}
 footer form > section > div:after {
  clear: both;
}
 footer form > section > div.contact-submit {
  text-align: right;
}
 footer form label {
  color: #366323;
}
 footer form select,
 footer form input,
 footer form textarea {
  border: 0;
  width: 100%;
  box-shadow: 0;
}
 footer form textarea {
  height: 7.8rem;
}
 footer form input[type='submit'] {
  width: auto;
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #519435;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #fcfcfc;
}
 footer form input[type='submit']:hover,
 footer form input[type='submit']:focus {
  background-color: #4d8d32;
  color: #f7f7f7;
}
 footer form input[type='submit']:active {
  background-color: #498530;
}
 footer aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.3333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  *zoom: 1;
}
 footer aside:before,
 footer aside:after {
  content: '';
  display: table;
}
 footer aside:after {
  clear: both;
}
 footer aside:before,
 footer aside:after {
  content: '';
  display: table;
}
 footer aside:after {
  clear: both;
}
 footer aside .vcard {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  padding: 1rem;
  margin-right: 0;
  color: #fcfcfc;
  background-color: transparent;
  transition: background-color 0.5s ease;
  border-radius: 0.33rem;
}
 footer aside .vcard:hover {
  background-color: #519435;
}
 footer aside .vcard:first-child {
  margin-top: 0;
}
 footer aside .vcard .org {
  font-weight: bold;
  margin-bottom: 0.25rem;
}
 footer aside .vcard .tel {
  margin-top: 0.25rem;
}
 footer aside .vcard .url {
  display: block;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: -3000em;
}
#fallback {
  display: none;
}
html.fallback body > * {
  display: none;
}
html.fallback #fallback {
  display: block;
}


.logo_geo
{
  position: absolute;
  z-index: 1;
  left: 4px;
  top: 4px;
  width: 7%;
}

body
{
  background-color: #ffffff !important;
}