include /master/common/mixins/mosaico

.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/colombia/PortadaColombia.png")
			
	.cover-caption

		.title.countries
			h1 Colombia

		.text
			span 
				|Estudio Geofísico por Sondeo Magnetotelúrico, para la perforación de un pozo de 800m en la Planta de Coca-Cola FEMSA, ubicado en el
				|Municipio de Tocancipá, Departamento de Cundinamarca, Republica de Colombia. ESCSA, Mayo 2012.


+mosaico-x3-1-2("presencia/proyectos/colombia/01.png","Métodos Electromagnéticos","presencia/proyectos/colombia/06.png ")
+mosaico-x4-2-2("presencia/proyectos/colombia/02.png","Geohidrología","Sondeo Magnetotelúrico" ,"presencia/proyectos/colombia/05.png")
+mosaico-x3-1-2("presencia/proyectos/colombia/03.png"," Sistema ADU-07e","presencia/proyectos/colombia/04.png ")

+country