include /master/common/mixins/mosaico
include /master/common/mixins/cover

.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/colombia/PortadaColombia.png")
			
	.cover-caption

		.title.countries
			h1 Colombia

		.text
			span 
				|Levantamiento gravimétrico y GPS en La Provincia del Río Zarza, Ecuador, con fines de explotación de recursos minerales.
				|Ecometals, Julio a Agosto de 2011.

+mosaico-x3-1-2("", "txt1", "")
+mosaico-x3-2-1("txt2", "", "")