.block5 img
	padding : 21% 5%

.block4 img
	transform translate(0px -50px)
	background: #649ebf

.block8 .sub8 p
	padding : 6% 5%

.block7 .sub7-1 p
	padding: 8% 5%
.content
	margin-top: -4px !important

.ms4c
	top : -13px !important

.mc1-1-1, .mc2-2-2
	position : relative !important
	top : -5px !important

.ms2c-r
	top : -24px !important
	position : relative !important

