include /master/common/mixins/cover

+cover("01", "Adquisición de datos")


.content
	p 
		|Resultado directo de la planeación y estrategia de campo, el siguiente paso consiste en la adquisición de los datos geofísicos, es decir una serie de mediciones discretas con el instrumental geofísico apropiado (requerimientos de precisión), 
		|generalmente la obtención de dichas mediciones se lleva a cabo en perfiles de medición a intervalos regulares (en concordancia con la teoría de muestreo de información digital) cada uno de estos puntos recibe el nombre de estación o sondeo en dependencia de la técnica geofísica implementada. 
		|Durante esta etapa y con el fin de asegurar la calidad de registro en cada una de las lecturas se lleva a cabo un pre-procesado de la información asegurando mejorar la relación señal-ruido en nuestras mediciones, 
		|ejemplo de esto es la repetición y promediado de las lecturas anulando de esta manera aquellas contribuciones de ruido aleatorio y manteniendo una mayor estadística en los datos, que a nivel de proceso será requerida.