.block12
	+from-width('m')
		img
			transform translate(0px,-200px) !important
	+to-width('s')
		img
			height : 100%

.block9
	+from-width('m')
		img
			transform translate(0px,-130px) !important
	+to-width('s')
		img
			height : 100%

.block5 p
	padding : 18% 5% !important

.block6
	img
		transform translate(0px,-85px) !important

.content
	margin-top: -4px !important


.ms3c
	top : -12px

.ms3c-r
	top : -17px

.ms2c-r
	top : -23px