include /master/common/mixins/mosaico
include /master/common/mixins/cover

.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/panama/PortadaPanamá.png")
			
	.cover-caption

		.title.countries
			h1 Panamá

		.text
			span 
				|Estudio Geofísico por sondeos TEM para estimar las características geohiodrológicas en el predio de la Embotelladora Azul,
				|Ciudad de Panamá, República de Panamá. ESCSA, Nov 2012.

+mosaico-x3-2-1("txt1", "", "")
+mosaico-x4-2-2("", "txt2", "txt3", "")