include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/usar/Arqueologia.png")

	.cover-caption
		h1 Arqueología

	.cat-gps
		a#cat-gps.lab.label1(href='/metodos/gps')
			span GPS
	.cat-electro
		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
			span Electromagnéticos
	.cat-electri
		a#cat-electri.lab.label4(href='/metodos/electricos')
			span Eléctricos
	.cat-poten
		a#cat-poten.lab.label5(href='/metodos/potenciales')
			span Potenciales


.cover-2
	+icons
	