include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Arqueologia.png")


+cover-aplications("/aplicaciones/usar/Arqueologia.png", "Arqueologia", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos laudantium tempore natus adipisci neque minima similique repudiandae, sunt quam magnam! Ea error repellat veniam sit quos temporibus magni minima iure!")

	//- .cover-caption
	//- 	h1 Arqueología

	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-electri
	//- 	a#cat-electri.lab.label4(href='/metodos/electricos')
	//- 		span Eléctricos
	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales


.content
	+icons
	