.cover
	.cover-img
		img(src="/static/img/aplicaciones/Arqueología.png")

	.lab.label1
		h3 GPS
	.lab.label3
		h3 Electromagnéticos
	.lab.label4
		h3 Eléctricos
	.lab.label5
		h3 Potenciales

.categoriax2
	span: p Conductividad Electromagnética
	span: p Magnetometría

.categoriax3
	span: p Gravimetría
	span: p Radio-Magnetotelúrico
	span: p Tomografia de Resistividad Eléctrica

.categoriax2
	span: p Geo-Radar de Penetración Terrestre
	span: p Sistema de Posicionamiento Global