include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/Arqueologia.png")

	.cover-caption
		h1 Arqueología

	.cat-gps
		a#cat-gps.lab.label1(href='/metodos/gps')
			span GPS
	.cat-electro
		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
			span Electromagnéticos
	.cat-electri
		a#cat-electri.lab.label4(href='/metodos/electricos')
			span Eléctricos
	.cat-poten
		a#cat-poten.lab.label5(href='/metodos/potenciales')
			span Potenciales

.categoriax2
	span: p#electro-tag Conductividad Electromagnética
	span: p#poten-tag Magnetometría

.categoriax3
	span: p#poten-tag Gravimetría
	span: p#electro-tag Radio-Magnetotelúrico
	span: p#electri-tag Tomografia de Resistividad Eléctrica

.categoriax2
	span: p#gps-tag Sistema de Posicionamiento Global
	span: p#electro-tag Geo-Radar de Penetración Terrestre

+icons
	