include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Arqueologia.png")


+cover-aplications("/aplicaciones/usar/Arqueologia.png", "Arqueología", "Machu Picchu, Perú. Anteriormente la excavación era la única herramienta con que contaba el arqueólogo para hallar vestigios de civilizaciones antiguas sepultadas. En la actualidad la prospección geofísica ha tenido un importante desarrollo y es cada vez más común su aplicación en yacimientos arqueológicos. La razón es simple, se trata de métodos no invasivos que pueden proporcionar información pertinente sin que los objetivos sean perturbados, permitiendo evaluar el potencial de un yacimiento antes de iniciar la excavación, con el consecuente hecho de reducir costos y ayudar a planificar la posterior intervención ya que es posible disponer de un mapa bien detallado de las posibles estructuras conservadas del asentamiento. ")

	//- .cover-caption
	//- 	h1 Arqueología

	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-electri
	//- 	a#cat-electri.lab.label4(href='/metodos/electricos')
	//- 		span Eléctricos
	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales


.content
	+icons
	