#bundle-posicionamiento
	backround-color: tomato

	p
		background-color : lightgreen
		color            : deepskblue

div[class^='block']
	p
		padding: 10% 5% !important
	img
		height: 100% !important


.ms3c
	top: -9px;