include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/gps/detalle/GPS.png", "Sistema de posicionamiento Global")

.content

	//- (img, med, med2, img2, color, color2)
	+mosaico3('metodos/gps/01', '527x527', '427x165', 'metodos/gps/683', '059bc4', '059bc4')
	+mosaico4('metodos/gps/03', '341x188', '059bc4')

	//- (img, med, color)
	//- +mosaico-x4-2-2("metodos/gps/01.png", "Efemérides de cada satélite por día", "Generación de modelos de elevación", "metodos/gps/Etapa3a.png")

	//- +mosaico-x2-1-1("metodos/gps/03.png", "Modelo 3D de levaciones")


	+icons-metodos