include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/gps/detalle/GPS.png", "Sistema de posicionamiento Global")

.content
    
    +mosaico1
    +mosaico2
    +mosaico3
    +mosaico4

	//- +mosaico-x4-2-2("metodos/gps/01.png", "Efemérides de cada satélite por día", "Generación de modelos de elevación", "metodos/gps/Etapa3a.png")
	//- +mosaico-x2-1-1("metodos/gps/03.png", "Modelo 3D de levaciones")


	+icons-metodos