include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



.cover-2
	+cover-sc("metodos/sismicos/reflexion/SismicadeReflexion.png", "Sísmica de Reflexion")

	+mosaico-x4-2-2("metodos/sismicos/reflexion/etapa2a.png", "Gráfica de Apilado de datos sísmicos de reflexión", "Localización de fuentes en el eje X y el número de traza", "metodos/sismicos/reflexion/etapa2b.png")
	+mosaico-x2-1-1("metodos/sismicos/reflexion/etapa3a.png", "Apilamiento de datos sísmicos")
	+mosaico-x4-2-2("metodos/sismicos/reflexion/etapa3b.png", "Análisis de datos sísmicos en el espectro de frecuencias", "apilamiento de la sección sísmica después de aplicar corrección estática residual", "metodos/sismicos/reflexion/etapa3c.png")
	+mosaico-x2-1-1("metodos/sismicos/reflexion/etapa4a.png", "Construcción de mapa de iso-velocidades a lo largo de los CMP.")


	+icons-metodos