#bundle-sismreflexion
	backround-color: tomato

	p
		background-color : lightgreen
		color            : deepskblue

.block9
	background : white !important

.block8
	.sub8-1
		background : lightgray !important

.block10
	p
		background : #4E7C31 !important