p Hola
extends ./master

block main
	nav: ul.item-1st
		li
			a(href='#') Menu 1
			ul.item-2nd
				li: a(href='#') SubMenu 1a
				li: a(href='#') SubMenu 1b
				li: a(href='#') SubMenu 1c
				li: a(href='#') SubMenu 1d

		li.item-active
			a(href='#') Menu 2
			ul.item-2nd
				li: a(href='#') SubMenu 2a
				li: a(href='#') SubMenu 2b
				li: a(href='#') SubMenu 2c
				li: a(href='#') SubMenu 2d

		li
			a(href='#') Menu 3
			ul.item-2nd
				li: a(href='#') SubMenu 3a
				li: a(href='#') SubMenu 3b
				li: a(href='#') SubMenu 3c
				li: a(href='#') SubMenu 3d

		li
			a(href='#') Menu 4
			ul.item-2nd
				li: a(href='#') SubMenu 4a
				li: a(href='#') SubMenu 4b
				li: a(href='#') SubMenu 4c
				li: a(href='#') SubMenu 4d

		li
			a(href='#') Menu 5
			ul.item-2nd
				li: a(href='#') SubMenu 5a
				li: a(href='#') SubMenu 5b
				li: a(href='#') SubMenu 5c
				li: a(href='#') SubMenu 5d

