include /master/common/mixins/mosaico
include /master/common/mixins/cover

+cover-aplications2("/presencia/proyectos/india/PortadaIndia", "", "Levantamiento gravimétrico y magnetométrico en Rajasthan, India, con fines de exploración de hidrocarburos, Scintrex India, Octubre 2009 a Enero 2010.","India")


.content

	+mosaico2("presencia/proyectos/india/341a","256x256","presencia/proyectos/india/341b", "79beea")
	+mosaico4-r( "341x256","presencia/proyectos/india/683","528399")
	+mosaico1("256x256","presencia/proyectos/india/427a","341x256", "528399","649ebf")
	+mosaico4-r("341x256", "presencia/proyectos/india/683b","79beea")

	//- +mosaico-x3-1-2("presencia/proyectos/india/01.png", "Métodos Potenciales", "presencia/proyectos/india/02.png")
	//- +mosaico-x2-1-2("Magnetometría", "presencia/proyectos/india/05.png")
	//- +mosaico-x3-2-1("Gravimetro Scintrex CG-5","presencia/proyectos/india/04.png", "Gravimetría")
	//- +mosaico-x2-1-2("Magnetómetro Scintrex ENVI", "presencia/proyectos/india/03.png")

	+country



