.block12
	+from-width('m')
		img
			transform translate(0px,-110px) !important
	+to-width('s')
		img
			height : 100%
.block2 
	img
		height : 100%

.block1 
	p
		padding : 18% 5%
.content
	margin-top: -4px !important