.label1
	top : 76%
.label3
	top : 25%
.label4
	top : 42%
.label5
	top : 8%
.label8
	top : 59%

.gps-tag
	color #747474

.electro-tag
	color #ffb600

.electri-tag
	color #aa5b26

.espec-tag
	color #a466a9

.poten-tag
	color #d61118
