include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Mineria.png")

//- 	.cover-caption
//- 		h1 Minería

+cover-aplications("/aplicaciones/usar/Mineria.png", "Lázaro Cárdenas-Michoacán, Mex.", "La  minería constituye una de las actividades primarias más antiguas, es reconocida en la historia como un factor de avance y desarrollo económico. La geofísica es una parte integral de la mayoría de los programas de exploración minera, ya sea en proyectos desde cero o proyectos con infraestructura ya existente, y su uso se ha incrementado en función de la exploración y explotación de yacimientos minerales . Es ampliamente utilizada, ya que puede mapear áreas grandes de forma rápida y rentable, delinear variaciones físicas sutiles en la geología que de otra manera no serían observadas por las investigaciones geológicas de campo y detectar casos de una amplia variedad de depósitos minerales. En general se acepta que quedan pocos yacimientos de gran tamaño en la superficie, por lo que la exploración minera se dirige cada vez más a la búsqueda de objetivos profundos. A diferencia de la geoquímica y otros métodos de teledetección, la geofísica puede ver en el subsuelo para proporcionar información sobre la geología a profundidad. A pesar de esta ventaja, la interpretación de datos geofísicos depende críticamente de su calibración con barrenos exploratorios.","Minería")
.box-icons
	.item.item1
		a(href='/aplicaciones/mineria')
			img(src='/static/img/aplicaciones/Iconos/Mineria.png', title = 'Minería')
	.item
		a(href='/metodos/electricos')
			img(src='/static/img/metodos/Iconos/Electricos.png', title = 'Electricos')
	.item
		a(href='/metodos/electromagneticos')
			img(src='/static/img/metodos/Iconos/Electromagneticos.png', title = 'Electromagneticos')
	.item
		a(href='/metodos/espectometria')
			img(src='/static/img/metodos/Iconos/Espectometria.png', title = 'Espectometria')
	.item
		a(href='/metodos/gps')
			img(src='/static/img/metodos/Iconos/GPS.png', title = 'GPS')
	.item
		a(href='/metodos/potenciales')
			img(src='/static/img/metodos/Iconos/Potenciales.png',title = 'Potenciales')

	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos

	//- .cat-poten
	//- 	a#cat-poten.lab.label5(href='/metodos/potenciales')
	//- 		span Potenciales
	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
	//- .cat-electri
	//- 	a#cat-electri.lab.label4(href='/metodos/electricos')
	//- 		span Eléctricos
	//- .cat-espec
	//- 	a#cat-espec.lab.label8(href='/metodos/espectometria')
	//- 		span Espectrometría




