include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/Minería.png")
	
	#cat-electro.lab.label3
		span Electromagnéticos
	#cat-poten.lab.label5
		span Potenciales
	#cat-gps.lab.label1
		span GPS
	#cat-electri.lab.label4
		span Eléctricos
	#cat-espec.lab.label8
		span Espectrometría

.categoriax3
	span: p#electro-tag Audio-Magnetotelúrico de Fuente Controlada *v
	span: p#poten-tag Magnetometría
	span: p#electro-tag Magnetotelúrico/Auido-Magnetotelúrico

.categoriax3
	span: p#electri-tag Polarización Inducida
	span: p#electro-tag Transitorio Electromagnético en el Dominio del Tiempo
	span: p#gps-tag Sistema de Posicionamiento Global

.categoriax3
	span: p#espec-tag Espectrometría de Rayos Gama
	span: p#poten-tag Gravimetría
	span: p#electri-tag Tomografia de Resistividad Eléctrica

+icons





