.label1
	background-color 	: #994092
	top 				: 76%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
			
.label3
	background-color 	: #407799
	top 				: 25%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
	
.label4
	background-color 	: #ded831
	top 				: 42%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
	
.label5
	background-color 	: #e83c3c
	top 				: 8%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center
	
.label8
	background-color 	: #985E1C
	top 				: 59%
	height				: 4.7vw
	line-height			: 5vw
	text-align			: center

.gps-tag
	color #994092
	
.electro-tag
	color #407799

.electri-tag
	color #ded831	

.espec-tag
	color #985e1c
	
.poten-tag
	color #e83c3c
	