include /master/common/mixins/icons

.content
	+icons-equipment

	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/sarainstruments/DoReMi-ayb.png')
		.equipment-text
			.equipment-title
				h3 Sismógrafo DoReMi
			.equipment-description
				p:| Desarrollado por SARA en Italia, el sistema DOREMI es un geófono de transmisión digital,   portable, de fácil operación  por lo cual se ajusta conforme a los objetivos de investigación. 
					|Cada canal representa un sismógrafo independiente conectado a otros elementos a través del cable para de esta manera crear una red, configuración que permite ajustarse a cualquier tamaño de proyecto.
					|En el sistema DOREMI cada elemento es independiente, es posible agregar o remover elementos y diseñar tu topología simplemente agregando o removiendo adaptadores adicionales. 

	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/sarainstruments/SL06.png')
		.equipment-text
			.equipment-title
				h3 Sismógrafo SL-06
			.equipment-description
				p:| El sistema SL06 está diseñado para detectar y registrar terremotos y vibraciones.
					|Es compacto, seguro y flexible, gracias a su código abierto en plataforma LINUX , el registro de la señal sísmica es mediante una simple USB.


	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/sarainstruments/SS-HB.png')
		.equipment-text
			.equipment-title
				h3 Geófono de Pozo SS-HB
			.equipment-description
				p:| El sensor SSBH mide las vibraciones en pozos para configuraciones Down-Hole, Up-Hole y Cross-Hole.
					|Su estructura de acero inoxidable lo hace un sistema robusto y ligero, el cual puede ser equipado con geófonos de 4.5, 8 o 10 Hz. 
					| Puede ser utilizado con cualquier sismógrafo de exploración especialmente con el sistema DOREMI. 



