include /master/common/mixins/mosaico
include /master/common/mixins/cover


.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/kirguistan/PortadaKirguistan.png")
			
	.cover-caption

		.title.countries
			h1 Kirguistán

		.text
			span 
				|Levantamiento Gravimétrico y de Sondeos TDEM, en el Proyecto Kyrgyzstan, para TALAS COPPER GOLD LTD, Octubre-Noviembre 2008.


+mosaico-x3-1-2("presencia/proyectos/kirguistan/01.png", "Métodos Potenciales", "presencia/proyectos/kirguistan/02.png")
+mosaico-x2-1-1("presencia/proyectos/kirguistan/06.png","Exploración para la búsqueda recursos minerales")
+mosaico-x3-1-2("presencia/proyectos/kirguistan/03.png", "Transitorio Electromagnético","presencia/proyectos/kirguistan/05.png")
+mosaico-x3-2-1("Métodos Electromagnéticos","presencia/proyectos/kirguistan/04.png", "Gravimetría")


+country