.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/kirguistan/PortadaKirguistan.png")
			
	.cover-caption

		.title.countries
			h1 Kirguistán

		.text
			span 
				|Levantamiento Gravimétrico y de Sondeos TDEM, en el Proyecto Kyrgyzstan, para TALAS COPPER GOLD LTD, Octubre-Noviembre 2008.