#slider
	figure
		img(src="static/jl.jpg")
		img(src="static/jl2.jpg")
		img(src="static/anime.jpg")
		img(src="static/jl2.jpg")

.noticias
	h2 Últimas noticias

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.
	
	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

		