ul#root.bxslider

	li
		img(src='static/img/slider/Slide1.png', title= 'Estudio de Factibilidad en Construcción de Presas. Tultitlán - Hidalgo, Mex.')
	li
		img(src='/static/img/slider/Slide2.png', title= 'Caracterización de Acuíferos e Intrusión Salina. San Quintin - B.C., Mex.')
	li
		img(src='static/img/slider/Slide3.png', title = 'Exploración de recursos Geotérmicos. Volcán Chichonal - Chiapas, Mex.')
	li
		img(src='static/img/slider/Slide4.png', title= 'Caracterización Tectónica. Paso de Cortés - Puebla, Mex.')
	li
		img(src='static/img/slider/Slide5.png', title= 'Monitoreo Sísmico Vulcanológico Rano Kau - Isla de Pascua, Chile.')
	li
		img(src='/static/img/slider/Slide6.png', title= 'Applied Engineering For Earth Research. Mazapil - Zacatecas, Mex.')


.content
	h2 Últimas noticias

	.headline
		
			h3 Aquí va el título de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.
	
	.headline
		
			h3 Aquí va el título de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aquí va el título de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aquí va el título de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

		