ul#root.bxslider
	li
		img(src='static/img/slider/Slide1.png')
	li
		img(src='/static/img/slider/Slide2.png')
	li
		img(src='static/img/slider/Slide3.png')
	li
		img(src='static/img/slider/Slide4.png')
	li
		img(src='static/img/slider/Slide5.png')
	li
		img(src='/static/img/slider/Slide6.png')
	li
		img(src='static/img/slider/Slide7.png')




.content
	h2 Últimas noticias

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.
	
	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

		