#slider
	.slider-box-home
		.slider-content
			img(src="static/img/slider/01.png")
		.slider-content
			img(src="static/img/slider/02.png")
		.slider-content
			img(src="static/img/slider/03.png")
		.slider-content
			img(src="static/img/slider/04.png")
		.slider-content
			img(src="static/img/slider/05.png")
		.slider-content
			img(src="static/img/slider/06.png")
		.slider-content
			img(src="static/img/slider/07.png")
		.slider-content
			img(src="static/img/slider/08.png")
		//- .slider-content
		//- 	img(src="static/img/slider/02.png")

.noticias
	h2 Últimas noticias

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.
	
	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

	.headline
		
			h3 Aqui va el titulo de la noticia
			time(datetime="2015-04-13 20:00") Abr 13, 2015
			p Lorem ipsum Laborum amet pariatur dolore in minim qui culpa in Ut sit.

		