main
	position : relative !important

.overlay-content
	position : relative
	margin-top : 50px
	margin-left : 30% !important
	
	col(1/1)
	.overlay-box
		span(1/1)
.caja
	width : 40% !important
.cintillo
	margin-left : -5% !important
	width : 50% !important

.description
	background-color: rgba(248,152,28,0.7)


// .clr-1
// 	background : #0080ae

// .block1,.block11,.block5
// 	p
// 		background : #005e77 !important
// 		height : 100% !important

// .block7 .sub7-1,.block3,.block14 .sub14-1
// 	p
// 		background : #0080ae !important
// 		height : 100% !important

// .block8 .sub8,.block13 .sub13,.block10
// 	p
// 		background : #059bc4 !important
// 		height : 100% !important