.accordian
      ul
        li 
          .image_title-2.clr-1
            a(href='/metodos/registro-geofisico-de-pozos') GWL
          .image_title.clr-1
            a(href='/metodos/registro-geofisico-de-pozos') Registro geofísico de pozos
          a(href='/metodos/registro-geofisico-de-pozos')
            img(src="/static/img/metodos/registro/RGP.png")

.box-icons 
  .item
    img(src='/static/img/Ambiental.svg')
  .item
    img(src='/static/img/Arqueologia.svg')
  .item
    img(src='/static/img/Geohidrologia.svg')
  .item
    img(src='/static/img/Geotecnia.svg')
  .item
    img(src='/static/img/Geotermia.svg')
  .item
    img(src='/static/img/Hidrocarburos.svg')
  .item
    img(src='/static/img/Mineria.svg')