include /master/common/mixins/administracion
include /master/common/mixins/icons
.content
	.overlay-content
		a(href='/metodos/registro-geofisico-de-pozos')
			.overlay-box
				+overlay('registro/RGP', 'Registro geofísico', 'de pozos','Controlada/Natural',' 0 - 1km' ,'Registros Geofísicos')

	+icons-metodos

//- include /master/common/mixins/icons
//- .accordian
//- 	ul
//- 		li 
//- 			.image_title.clr-1
//- 				a(href='/metodos/registro-geofisico-de-pozos') Registro geofísico de pozos (GWL)
//- 			a(href='/metodos/registro-geofisico-de-pozos')
//- 				img(src="/static/img/metodos/registro/RGP.png")


//- .content
//- 	+icons-metodos