include /master/common/mixins/administracion
include /master/common/mixins/icons
.content
	.overlay-content
		a(href='/metodos/registro-geofisico-de-pozos')
			.overlay-box
				+overlay('registro/RGP', 'Registro geofísico', 'de pozos','Controlada/Natural',' 0 - 1km' ,'Registros Geofísicos')

		+icons-metodos
.measure
	+overlay4('registro/RGP','Registro geofísico','Registro geofísico de pozos','Controlada/Natural', '0-1km')
	+icons-metodos