include /master/common/mixins/icons
.accordian
      ul
        li 
          .image_title.clr-1
            a(href='/metodos/registro-geofisico-de-pozos') Registro geofísico de pozos (GWL)
          a(href='/metodos/registro-geofisico-de-pozos')
            img(src="/static/img/metodos/registro/RGP.png")


.content
	+icons-metodos