include /master/common/mixins/mosaico
include /master/common/mixins/cover

.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/ecuador/PortadaEcuador.png")
			
	.cover-caption

		.title.countries
			h1 Ecuador

		.text
			span 
				|Levantamiento gravimétrico y GPS en La Provincia del Río Zarza, Ecuador, con fines de explotación de recursos minerales.
				|Ecometals, Julio a Agosto de 2011.

+mosaico-x3-1-2("", "txt3", "")
+mosaico-x4-2-2("", "txt1", "txt2", "")

.country
	span: p: a(href='nicaragua') Nicaragua
	span: p: a(href='canada') Canadá
	span: p: a(href='kirguistan') Kirguistán
	span: p: a(href='bolivia') Bolivia
	span: p: a(href='india') India
	span: p: a(href='ecuador') Ecuador
	span: p: a(href='colombia') Colombia
	span: p: a(href='panama') Panamá
	span: p: a(href='chile') Chile
	span: p: a(href='costa-rica') Costa Rica




