.block9
	+from-width('m')
		img
			transform translate(0px,-150px) !important

	+to-width('s')
		img
			height : 100%
.block4
	+from-width('l')
		img
			transform translate(0px,-130px) !important

	+to-width('m')
		img
			height : 100%

.block1
	p
		padding : 18% 5%
.content
	margin-top: -4px !important

.ms3c
	top : -9px
	position : relative

.ms2c-r
	top : -13px
	position : relative


.ms1c
	top : -19px
	position : relative