.container
	.item
		img(src='/static/img/administracion/01.png')
		h3 Ing. Carlos Pita
		p Director General
	.item
		img(src='/static/img/administracion/02.png')
		h3 Lic. Olivia Sllim Jaimes
		p Asistente de Director
	.item
		img(src='/static/img/administracion/03.png')
		h3 Ing. Omar Hernández Cervantes
		p Gerente General	
	.item
		img(src='/static/img/administracion/04.png')
		h3 Ing. Julio Quintas Granados
		p Gerente Técnico	
	.item
		img(src='/static/img/administracion/05.png')
		h3 Ing. Arturo Hernández García
		p Gerente Técnico	
	.item
		img(src='/static/img/administracion/06.png')
		h3 Srita. Diana Ramos Granados
		p Recursos Humanos
	
