include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/transitorio/TransitorioElectromagnetico.png", "Transitorio Electromagnético en el dominio del tiempo")


.content

	+mosaico1("256x298","metodos/electromagneticos/transitorio/427","341x298", "005e77","0080ae")

	+mosaico2("metodos/electromagneticos/transitorio/427a","256x256","metodos/electromagneticos/transitorio/341", "059bc4")
	+mosaico3("metodos/electromagneticos/transitorio/427_1","427x388","597x458","metodos/electromagneticos/transitorio/597","005e77","0080ae")
	+mosaico4("metodos/electromagneticos/transitorio/683", "341x500","059bc4")
	+mosaico4-r("341x498", "metodos/electromagneticos/transitorio/683a", "005e77")



	//- ******* Falta slide con las imagenes metodos/electromagneticos/transitorio/427_2 , metodos/electromagneticos/transitorio/427_3, metodos/electromagneticos/transitorio/427_4 , metodos/electromagneticos/transitorio/427_5 y metodos/electromagneticos/transitorio/427_6*******



	//- +mosaico-x3-1-2("metodos/electromagneticos/transitorio/etapa2a.png", "Modelo de capas planas e Inversión de Ocamm", "metodos/electromagneticos/transitorio/etapa3a.png")

	//- +mosaico-x3-2-1("Modelo 3D de resistividad y propuesta de perforación para el emplazamiento de pozos de agua.","metodos/electromagneticos/transitorio/etapa4a.png","Perfil Geoeléctrico")

	+method-3