include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/transitorio/TransitorioElectromagnetico.png", "Transitorio Electromagnético en el dominio del tiempo")


.content


	+mosaico2('metodos/electromagneticos/transitorio/etapa2a', '256x256', 'metodos/electromagneticos/transitorio/etapa4a', '0080ae')

	+mosaico1('256x232', 'metodos/electromagneticos/transitorio/etapa3a', '341x232', '059bc4', '005e77')


	//- +mosaico-x3-1-2("metodos/electromagneticos/transitorio/etapa2a.png", "Modelo de capas planas e Inversión de Ocamm", "metodos/electromagneticos/transitorio/etapa3a.png")

	//- +mosaico-x3-2-1("Modelo 3D de resistividad y propuesta de perforación para el emplazamiento de pozos de agua.","metodos/electromagneticos/transitorio/etapa4a.png","Perfil Geoeléctrico")

	+icons-metodos