include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/transitorio/TransitorioElectromagnetico.png", "Transitorio Electromagnético en el dominio del tiempo")


.content

	+mosaico1("metodos/electromagneticos/transitorio/T-427a","metodos/electromagneticos/transitorio/427", "metodos/electromagneticos/transitorio/T-341")
	+mosaico2("metodos/electromagneticos/transitorio/427a","metodos/electromagneticos/transitorio/T-427b","metodos/electromagneticos/transitorio/341")
	+mosaico3("metodos/electromagneticos/transitorio/427_1","metodos/electromagneticos/transitorio/T-427_1","metodos/electromagneticos/transitorio/T-597","metodos/electromagneticos/transitorio/597")
	+mosaico4("metodos/electromagneticos/transitorio/683", "metodos/electromagneticos/transitorio/T-683")
	+mosaico4-r("metodos/electromagneticos/transitorio/T-683a","metodos/electromagneticos/transitorio/683a" )



	//- ******* Falta slide con las imagenes metodos/electromagneticos/transitorio/T-427_2 , metodos/electromagneticos/transitorio/T-427_3, metodos/electromagneticos/transitorio/T-427_4 , metodos/electromagneticos/transitorio/T-427_5 y metodos/electromagneticos/transitorio/T-427_6*******



	//- +mosaico-x3-1-2("metodos/electromagneticos/transitorio/etapa2a.png", "Modelo de capas planas e Inversión de Ocamm", "metodos/electromagneticos/transitorio/etapa3a.png")

	//- +mosaico-x3-2-1("Modelo 3D de resistividad y propuesta de perforación para el emplazamiento de pozos de agua.","metodos/electromagneticos/transitorio/etapa4a.png","Perfil Geoeléctrico")

	+method-3