h1 magnetotelurico
section.banners
	section.banner1
		img(src="http://lorempixel.com/600/200/business")
section.mediciones
	section.medicion1
		img(src="http://lorempixel.com/600/200/sports")
	section.medicion2
		.fila1
			img.imagen1(src="http://lorempixel.com/600/200/food")
			img.imagen2(src="http://lorempixel.com/600/200/food")
		.fila2
			img.imagen3(src="http://lorempixel.com/600/200/food")
			img.imagen4(src="http://lorempixel.com/600/200/food")
	section.medicion3
		img(src="http://lorempixel.com/600/200/animals")
section.termicos
	section.termico1
		img(src="http://lorempixel.com/600/200/cars")
	section.termico2
		img(src="http://lorempixel.com/600/200/")
	section.termico3
		img(src="http://lorempixel.com/600/200/")
section.relieves
	section.relieve1
		img(src="http://lorempixel.com/600/200/")