section.cover
	section.cover1
		img(src="/static/img/metodos/electromagneticos/magnetotelurico/Portada_MT-RMT.png")

section.row1
	.et2-tx1
		p Series de tiempo

	.et2-img
		img.dos-a(src="/static/img/metodos/electromagneticos/magnetotelurico/Etapa2a.png")

	.et2-tx2
		p Curva de amplitud y fase

section.row2
	p

	img.dos-b

section.row3
	img.dos-c

	p

	slide

section.row4
	p

	img.tres-f

	p

section.row5

	img.cuatro-a

	p


