include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electromagneticos/magnetotelurico/Portada_MT-RMT.png", "Audio Magnetotelúrico")

+mosaico-x3-2-1("Series de Tiempo", "metodos/electromagneticos/magnetotelurico/etapa2/etapa2a.png", "Diagramas Polares y Análisis Dimensional")
+mosaico-x3-1-2("metodos/electromagneticos/magnetotelurico/etapa2/etapa2b.png", "Curva de Amplitud y Fase", "metodos/electromagneticos/magnetotelurico/etapa2/etapa2c.png")
+mosaico-x4-2-2("", "Mapa de resistividad para la Profundidad de m", "Inversión 2D de Perfil Geoeléctrico", "metodos/electromagneticos/magnetotelurico/etapa3/etapa3f.png")
	ul#magnetotelurico.bxslider
		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3a.png" title="Mapa de resistividad para la Profundidad de m")
		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3b.png" title="Mapa de resistividad para la Profundidad de m")
		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3c.png" title="Mapa de resistividad para la Profundidad de m")
		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3d.png" title="Mapa de resistividad para la Profundidad de m")
		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3e.png" title="Mapa de resistividad para la Profundidad de m")
		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3f.png" title="Inversión 2D de Perfil Geoeléctrico")
+mosaico-x2-1-1("metodos/electromagneticos/magnetotelurico/etapa4a.png", "Modelo 3D de resitividad con mapa digital de elevaciones")


+icons-metodos