include /master/common/mixins/mosaico
include /master/common/mixins/cover

+cover-sc("metodos/electromagneticos/magnetotelurico/Portada_MT-RMT.png")

+mosaico-x3-2-1("texto1", "", "texto2")
+mosaico-x3-1-2("", "texto3", "electricos/03.png")
+mosaico-x4-2-2("", "texto4", "texto5", "")
+mosaico-x2-1-1("", "texto5")


