include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/magnetotelurico/Portada_MT-RMT.png", "Audio Magnetotelúrico")

.content

	
	+mosaico1("256x292","metodos/electromagneticos/magnetotelurico/427a","341x292", "005e77","0080ae")

	+mosaico2("metodos/electromagneticos/magnetotelurico/427b","256x256","metodos/electromagneticos/magnetotelurico/341", "059bc4")

	+mosaico3("metodos/electromagneticos/magnetotelurico/427_1","427x388","597x171","metodos/electromagneticos/magnetotelurico/597","005e77","0080ae")

	+mosaico4("metodos/electromagneticos/magnetotelurico/683", "341x229","059bc4")



	//- ******* Falta slide con las imagenes metodos/electromagneticos/magnetotelurici¡o/427_2 , metodos/electromagneticos/magnetotelurici¡o/427_3, metodos/electromagneticos/magnetotelurici¡o/427_4 , metodos/electromagneticos/magnetotelurici¡o/427_5*******




	//- +mosaico-x3-2-1("Series de Tiempo", "metodos/electromagneticos/magnetotelurico/etapa2/etapa2a.png", "Diagramas Polares y Análisis Dimensional")

	//- +mosaico-x3-1-2("metodos/electromagneticos/magnetotelurico/etapa2/etapa2b.png", "Curva de Amplitud y Fase", "metodos/electromagneticos/magnetotelurico/etapa2/etapa2c.png")

	//- +mosaico-x4-2-2("", "Mapa de resistividad para la Profundidad de m", "Inversión 2D de Perfil Geoeléctrico", "metodos/electromagneticos/magnetotelurico/etapa3/etapa3f.png")
	//- 	ul#magnetotelurico.bxslider
	//- 		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3a.png" title="Mapa de resistividad para la Profundidad de m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3b.png" title="Mapa de resistividad para la Profundidad de m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3c.png" title="Mapa de resistividad para la Profundidad de m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3d.png" title="Mapa de resistividad para la Profundidad de m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3e.png" title="Mapa de resistividad para la Profundidad de m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/magnetotelurico/etapa3/etapa3f.png" title="Inversión 2D de Perfil Geoeléctrico")

	//- +mosaico-x2-1-1("metodos/electromagneticos/magnetotelurico/etapa4a.png", "Modelo 3D de resitividad con mapa digital de elevaciones")


	+icons-metodos