section.banners
	section.banner1
		img(src="http://lorempixel.com/600/200/business")
section.mediciones
	.medicion1
		img(src="http://lorempixel.com/600/200/sports")
	.medicion2
		.fila1
			img.imagen1(src="http://lorempixel.com/600/200/food")
			img.imagen2(src="http://lorempixel.com/600/200/food")
		//- .fila2
		//- 	img.imagen3(src="http://lorempixel.com/600/200/food")
		//- 	img.imagen4(src="http://lorempixel.com/600/200/food")
	.medicion3
		img(src="http://lorempixel.com/600/200/animals")
section.termicos
	.termico1
		img(src="http://lorempixel.com/600/200/cars")
	.termico2
		img(src="http://lorempixel.com/600/200/")
	.termico3
		img(src="http://lorempixel.com/600/200/")
section.relieves
	.relieve1
		img(src="http://lorempixel.com/600/200/")