include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/inducida/PolarizacionInducida.png", "Polarización Inducida")

.content
	+mosaico1("metodos/electricos/inducida/T-427a","metodos/electricos/inducida/427a","metodos/electricos/inducida/T-341")
	+mosaico2("metodos/electricos/inducida/427b","metodos/electricos/inducida/T-427b","metodos/electricos/inducida/341")
	+mosaico3("metodos/electricos/inducida/427c","metodos/electricos/inducida/T-427c","metodos/electricos/inducida/T-597", "metodos/electricos/inducida/597")
	+mosaico4("metodos/electricos/inducida/683", "metodos/electricos/inducida/T-683")




	+method-name