include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/inducida/PolarizacionInducida.png", "Polarización Inducida")

.content
	+mosaico1("256x292","metodos/electricos/inducida/427a","341x292", "cc8800","e59e00")
	+mosaico2("metodos/electricos/inducida/427b","256x328","metodos/electricos/inducida/341", "ffb600")
	+mosaico3("metodos/electricos/inducida/427c","427x388","597x478","metodos/electricos/inducida/597","cc8800","e59e00")
	+mosaico4("metodos/electricos/inducida/683", "341x229","ffb600")


	//- +mosaico-x2-1-1("metodos/electricos/inducida/etapa2a.png", "Curva electródos de potencial y valor de lectura de campo")
	//- +mosaico-x3-1-2("metodos/electricos/inducida/etapa3a.png", "Construcción de perfil geoeléctrico a partir de modelos de inversión 1D de cada sondeo.", "metodos/electricos/inducida/etapa3b.png")
	//- +mosaico-x3-2-1("Construcción de modelo 3D a partir de los perfiles geoeléctricos","metodos/electricos/inducida/etapa4a.png", "Interpretación de unidades Geoeléctricas correlacionadas con Registro de pozos.")

	+icons-metodos