.cover
	img(src='/static/img/metodos/electricos/inducida/inducida.jpg')

section.section1
	.text
		h1 Etapa 2
	.image
		img(src='/static/img/metodos/electricos/inducida/inducida.jpg')

section.section2
	.image
		img(src='/static/img/metodos/electricos/inducida/inducida.jpg')
	.text
		h1 Etapa 3
	.image
		img(src='/static/img/metodos/electricos/inducida/inducida.jpg')

section.section3
	.image
		img(src='/static/img/metodos/electricos/inducida/inducida.jpg')
	.text
		h1 Etapa 4