include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/inducida/PolarizacionInducida.png", "Polarización Inducida")

.content
	+mosaico1("256x256","metodos/electricos/inducida/427a","341x256", "528399","79beea")
	+mosaico2("metodos/electricos/inducida/427b","256x256","metodos/electricos/inducida/341", "649ebf")
	+mosaico3("metodos/electricos/inducida/427c","427x171","597x171","metodos/electricos/inducida/597","649ebf","79beea")
	+mosaico4("metodos/electricos/inducida/683", "341x256","528399")


	//- +mosaico-x2-1-1("metodos/electricos/inducida/etapa2a.png", "Curva electródos de potencial y valor de lectura de campo")
	//- +mosaico-x3-1-2("metodos/electricos/inducida/etapa3a.png", "Construcción de perfil geoeléctrico a partir de modelos de inversión 1D de cada sondeo.", "metodos/electricos/inducida/etapa3b.png")
	//- +mosaico-x3-2-1("Construcción de modelo 3D a partir de los perfiles geoeléctricos","metodos/electricos/inducida/etapa4a.png", "Interpretación de unidades Geoeléctricas correlacionadas con Registro de pozos.")

	+icons-metodos