//edit()()

.section1
	.text
		col(4/12)
	.image
		col(8/12)
		img
			width:100%
.section2
	.image
		col(5/12)
		img
			width:100%
	.text
		col(2/12)
.section3
	.image
		col(8/12)
		img
			width:100%
	.text
		col(4/12)