mixin footer()

	.foot
		
		.text
			a(href="#")
				| 2015 GEOTEM Ingeniería S.A. de C.V. Todos los derechos reservados.
			
			a(href="/acerca-de/privacidad") 
				| Privacidad

			a(href="#") 
				| Contacto