mixin icons

	.box-icons
		.item
			a(href='/aplicaciones/ambiental')
				img(src='/static/img/Ambiental.svg', title = 'Ambiental')
		.item
			a(href='/aplicaciones/arqueologia')
				img(src='/static/img/Arqueologia.svg', title = 'Arquelogia')
		.item
			a(href='/aplicaciones/geohidrologia')
				img(src='/static/img/Geohidrologia.svg', title = 'Geohidrologia')
		.item
			a(href='/aplicaciones/geotecnia')
				img(src='/static/img/Geotecnia.svg', title = 'Geotecnia')
		.item
			a(href='/aplicaciones/geotermia')
				img(src='/static/img/Geotermia.svg',title = 'Geotermia')
		.item
			a(href='/aplicaciones/hidrocarburos')
				img(src='/static/img/Hidrocarburos.svg',title = 'Hidrocarburos' )
		.item
			a(href='/aplicaciones/mineria')
				img(src='/static/img/Mineria.svg', title = 'Mineria')