mixin mosaico1
	.ms1c
		.mc1
			img(src="http://dummyimage.com/256/000/fff.jpg", alt="")
		.mc2
			img(src="http://lorempixel.com/output/abstract-q-g-427-256-2.jpg", alt="")
		.mc3
			img(src="http://dummyimage.com/341x256/000/fff.jpg", alt="")

	
//-#####################################################
mixin mosaico2
	.ms2c
		.mc1
			img(src="http://lorempixel.com/output/city-q-g-427-256-6.jpg", alt="")
		.mc2
			img(src="http://dummyimage.com/256/000/fff.jpg", alt="")
		.mc3
			img(src="http://lorempixel.com/output/sports-q-g-341-256-4.jpg", alt="")


//-#####################################################

mixin mosaico3
	.ms4c
		.mc1
			.mc1-1
				img(src="http://lorempixel.com/output/fashion-q-g-427-279-1.jpg", alt="")
			.mc1-1-1
				img(src="http://dummyimage.com/427x171/000/fff.png", alt="")
		.mc2
			.mc2-2
				img(src="http://dummyimage.com/527x171/000/fff.png", alt="")
			.mc2-2-2
				img(src="http://lorempixel.com/output/fashion-q-g-597-256-5.jpg", alt="")

//-#####################################################

mixin mosaico4

	.ms3c
		.mc1
			img(src="http://lorempixel.com/output/abstract-q-g-683-256-1.jpg", alt="")
		.mc2
			img(src="http://dummyimage.com/341x256/000/fff.jpg", alt="")

//-#####################################################



//-#####################################################

mixin country

	.country
		span: p: a(href='nicaragua') Nicaragua
		span: p: a(href='canada') Canadá
		span: p: a(href='kirguistan') Kirguistán
		span: p: a(href='bolivia') Bolivia
		span: p: a(href='india') India
		span: p: a(href='ecuador') Ecuador
		span: p: a(href='colombia') Colombia
		span: p: a(href='panama') Panamá
		span: p: a(href='chile') Chile
		span: p: a(href='costa-rica') Costa Rica
