//-#########-mixin mosaico-x3-2-1(txt1, img, txt2)-##########

.block1

	span(3/12)
	overflow: hidden
	height : 20vw
	background : color1
	padding: 0 !important
	box-sizing: border-box !important
	p
		text-align : center
		font-size : 1.5vw
		line-height : 2.5vw
		padding : 15% 5%
		color : white

.block2

	span(5/12)
	overflow: hidden
	height : 20vw
	background : #fff
	margin : 0 !important
	padding: 0 !important
	box-sizing: border-box !important
	img
		width : 100%

.block3

	span(4/12)
	overflow: hidden
	height : 20vw
	background : color2
	margin : 0 !important
	padding: 0 !important
	box-sizing: border-box !important
	p
		text-align : center
		font-size : 1.5vw
		line-height : 2.5vw
		padding : 15% 5%
		color : white

//-#########-mixin mosaico-x3-1-2(img, txt1, img2)-##########

.block4

	span(5/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 20vw
	padding: 0 !important
	img
		width : 100%

.block5

	span(3/12)
	overflow: hidden
	background : color3
	box-sizing: border-box !important
	height : 20vw
	margin : 0 !important
	padding: 0 !important
	p
		text-align : center
		font-size : 1.5vw
		line-height : 2.5vw
		padding : 15% 5%
		color : white

.block6

	span(4/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 20vw
	margin : 0 !important
	padding: 0 !important
	img
		width : 100%

//-#########-mixin mosaico-x4-2-2(img, txt1, txt2, img2)-####

.block7

	span(5/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 40vw
	padding: 0 !important
	.sub7
		span(12/12)
		background : #fff
		height : 25vw
		img
			width : 100%
	.sub7-1
		span(12/12)
		background : color3
		height : 15vw
		p
			text-align : center
			font-size : 1.5vw
			line-height : 2.5vw
			padding : 15% 5%
			color : white

.block8

	span(7/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 40vw
	padding: 0 !important
	.sub8
		span(12/12)
		background : color1
		height : 15vw
		p
			text-align : center
			font-size : 1.5vw
			line-height : 2.5vw
			padding : 15% 5%
			color : white

	.sub8-1
		span(12/12)
		background : #fff
		height : 25vw
		img
			width : 100%

//-############-mixin mosaico-x2-1-1(img, txt1)-#############

.block9

	span(8/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 20vw
	img
		width : 100%
	+to-width('small')
		img
			height : 100% !important

.block10

	span(4/12)
	overflow: hidden
	background : color2
	box-sizing: border-box !important
	height : 20vw
	p
		text-align : center
		font-size : 1.5vw
		line-height : 2.5vw
		padding : 15% 5%
		color : white

//-############-mixin mosaico-x2-1-2(txt1, img)-#############

.block11

	span(4/12)
	overflow: hidden
	background : color2
	box-sizing: border-box !important
	height : 20vw
	p
		text-align : center
		font-size : 1.5vw
		line-height : 2.5vw
		padding : 15% 5%
		color : white

.block12
	span(8/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 20vw
	img
		width : 100%
	+to-width('small')
		img
			heigth : 100% !important

//-#########-mixin mosaico-x4-2-2(img, txt1, txt2, img2)-####

.block13
	span(5/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 40vw
	padding: 0 !important
	.sub13-1
		span(12/12)
		background : #fff
		height : 25vw
		img
			width : 100%
			height : 100%
	.sub13
		span(12/12)
		background : color3
		height : 15vw
		p
			text-align : center
			font-size : 1.5vw
			line-height : 2.5vw
			padding : 15% 5%
			color : white

.block14
	span(7/12)
	overflow: hidden
	background : #fff
	box-sizing: border-box !important
	height : 40vw
	padding: 0 !important
	.sub14-1
		span(12/12)
		background : color1
		height : 15vw
		p
			text-align : center
			font-size : 1.5vw
			line-height : 2.5vw
			padding : 15% 5%
			color : white
	.sub14
		span(12/12)
		background : #fff
		height : 25vw
		img
			width : 100%
			height : 100%
