include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/georadar/GeoradardepenetracionTerrestre.png", "Georadar de penetracion Terrestre")

.content

	+mosaico1("256x410","metodos/electromagneticos/georadar/427a","341x410", "005e77","0080ae")

	+mosaico2("metodos/electromagneticos/georadar/427b","256x256","metodos/electromagneticos/georadar/341", "059bc4")

	+mosaico3("metodos/electromagneticos/georadar/427c","427x363","597x300","metodos/electromagneticos/georadar/597","005e77","0080ae")
		
	+mosaico4("metodos/electromagneticos/georadar/683", "341x595","059bc4")    


	//- +mosaico-x4-2-2("metodos/electromagneticos/georadar/etapa2a.png", "Secuencia de procesamiento para datos de GPR (Ganancias y Filtros).", "Radargrama procesado y selección de filtros.", "metodos/electromagneticos/georadar/etapa3a.png")
	//- +mosaico-x2-1-1("metodos/electromagneticos/georadar/etapa4a.png", "Integración de datos de resistividad eléctrica y GPR en zona de alta karsticidad")

	+icons-metodos