.label1
	top : 12%
	
.label3
	top : 30%
			
.label4
	top : 48%
		
.label7
	top : 66%

.gps-tag
	color  #747474
	
.electro-tag
	color #ffb600

.electri-tag
	color #aa5b26
	
.sismicos-tag
	color #559334