include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/usar/Geotecnia.png")
	
	.cover-caption
		h1 Geotecnia
	
	//- .cat-sismicos
	//- 	a#cat-sismicos.lab.label7(href='/metodos/sismicos')
	//- 		span Sísmicos
	//- .cat-electri
	//- 	a#cat-electri.lab.label4(href='/metodos/electricos')
	//- 		span Eléctricos
	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
	
	



.content
	+icons