.cover
	.cover-img
		img(src="/static/img/aplicaciones/Geotecnia.png")
	
	
	.lab.label7
		h3 Sísmicos
	.lab.label4
		h3 Eléctricos
	.lab.label3
		h3 Electromagnéticos
	.lab.label1
		h3 GPS
	
	

.categoriax3
	span: p Conductividad Electromagnética
	span: p Sísmica de Refracción
	span: p Tomografía de Resistividad Eléctrica
.categoriax2
	span: p Sísmica de Ondas Superficiales
	span: p Geo-Radar de Penetración Terrestre

.categoriax3
	span: p Sísmica de Reflexión
	span: p Sistema de Posicionamiento Global
	span: p Sísmica en Pozo
.categoriax2
	span: p Sísmica de Autocorrelación Espacial
	span: p Sísmica de Cocientes Espectrales