include /master/common/mixins/icons
.cover
	.cover-img
		img(src="/static/img/aplicaciones/Geotecnia.png")
	
	.cover-caption
		h1 Geotecnia
	
	.cat-sismicos
		a#cat-sismicos.lab.label7(href='/metodos/sismicos')
			span Sísmicos
	.cat-electri
		a#cat-electri.lab.label4(href='/metodos/electricos')
			span Eléctricos
	.cat-electro
		a#cat-electro.lab.label3(href='/metodos/electromagneticos')
			span Electromagnéticos
	.cat-gps
		a#cat-gps.lab.label1(href='/metodos/gps')
			span GPS
	
	

.categoriax3
	span: p#electri-tag Tomografía de Resistividad Eléctrica
	span: p#sismicos-tag Sísmica de Autocorrelación Espacial
	span: p#electro-tag Geo-Radar de Penetración Terrestre
.categoriax2
	span: p#sismicos-tag Sísmica de Ondas Superficiales
	span: p#sismicos-tag Sísmica de Refracción

.categoriax3
	span: p#electro-tag Conductividad Electromagnética
	span: p#sismicos-tag Sísmica de Cocientes Espectrales
	span: p#gps-tag Sistema de Posicionamiento Global
.categoriax2
	span: p#sismicos-tag Sísmica de Reflexión
	span: p#sismicos-tag Sísmica en Pozo

+icons