include /master/common/mixins/icons
include /master/common/mixins/cover
//- .cover
//- 	.cover-img
//- 		img(src="/static/img/aplicaciones/usar/Geotecnia.png")
	
//- 	.cover-caption
//- 		h1 Geotecnia
	
+cover-aplications("/aplicaciones/usar/Geotecnia.png", "Ciudad de México.", "Los métodos geofísicos de prospección son un buen complemento de los sondeos de exploración geotécnica para el conocimiento preciso de las propiedades mecánicas del suelo, dichas propiedades están implicadas en el diseño y construcción de proyectos de ingeniería civil, como: desarrollos habitacionales, edificios, autopistas, puentes, vías férreas, presas, oleoductos y acueductos. Ayudan a la caracterización y evaluación de riesgos, con esto se pretende prevenir desastres naturales que puedan causar graves daños a las obras civiles antes mencionadas.","Geotecnia")
.box-icons
	.item.item1
		a(href='/aplicaciones/geotecnia')
			img(src='/static/img/aplicaciones/Iconos/Geotecnia.png', title = 'Geotecnia')
	.item
		a(href='/metodos/electricos')
			img(src='/static/img/metodos/Iconos/Electricos.png', title = 'Electricos')
	.item
		a(href='/metodos/electromagneticos')
			img(src='/static/img/metodos/Iconos/Electromagneticos.png', title = 'Electromagneticos')
	.item
		a(href='/metodos/gps')
			img(src='/static/img/metodos/Iconos/GPS.png', title = 'GPS')
	.item
		a(href='/metodos/sismicos')
			img(src='/static/img/metodos/Iconos/Sismicos.png', title = 'Sismicos')

	//- .cat-sismicos
	//- 	a#cat-sismicos.lab.label7(href='/metodos/sismicos')
	//- 		span Sísmicos
	//- .cat-electri
	//- 	a#cat-electri.lab.label4(href='/metodos/electricos')
	//- 		span Eléctricos
	//- .cat-electro
	//- 	a#cat-electro.lab.label3(href='/metodos/electromagneticos')
	//- 		span Electromagnéticos
	//- .cat-gps
	//- 	a#cat-gps.lab.label1(href='/metodos/gps')
	//- 		span GPS
	