.cover
	.cover-img
		img(src="/static/img/aplicaciones/Geotecnia.png")
	
	
	#cat-sismicos.lab.label7
		span Sísmicos
	#cat-electri.lab.label4
		span Eléctricos
	#cat-electro.lab.label3
		span Electromagnéticos
	#cat-gps.lab.label1
		span GPS
	
	

.categoriax3
	span: p#electri-tag Tomografía de Resistividad Eléctrica
	span: p#sismicos-tag Sísmica de Autocorrelación Espacial
	span: p#electro-tag Geo-Radar de Penetración Terrestre
.categoriax2
	span: p#sismicos-tag Sísmica de Ondas Superficiales
	span: p#sismicos-tag Sísmica de Refracción

.categoriax3
	span: p#electro-tag Conductividad Electromagnética
	span: p#sismicos-tag Sísmica de Cocientes Espectrales
	span: p#gps-tag Sistema de Posicionamiento Global
.categoriax2
	span: p#sismicos-tag Sísmica de Reflexión
	span: p#sismicos-tag Sísmica en Pozo

.box-icons
	.item
		a(href='/aplicaciones/ambiental')
			img(src='/static/img/Ambiental.svg', title = 'Ambiental')
	.item
		a(href='/aplicaciones/arqueologia')
			img(src='/static/img/Arqueologia.svg', title = 'Arquelogia')
	.item
		a(href='/aplicaciones/geohidrologia')
			img(src='/static/img/Geohidrologia.svg', title = 'Geohidrologia')
	.item
		a(href='/aplicaciones/geotecnia')
			img(src='/static/img/Geotecnia.svg', title = 'Geotecnia')
	.item
		a(href='/aplicaciones/geotermia')
			img(src='/static/img/Geotermia.svg',title = 'Geotermia')
	.item
		a(href='/aplicaciones/hidrocarburos')
			img(src='/static/img/Hidrocarburos.svg',title = 'Hidrocarburos' )
	.item
		a(href='/aplicaciones/mineria')
			img(src='/static/img/Mineria.svg', title = 'Mineria')