.label1
	top : 12%
	
.label3
	top : 30%
			
.label4
	top : 48%
		
.label7
	top : 66%

.gps-tag
	color  #747474
	
.electro-tag
	color #ffb600

.electri-tag
	color #aa5b26
	
.sismicos-tag
	color #559334
	
.box-icons
	col(5/5)
	position	: relative
	padding-top : 1em
	max-width : 1024px
	text-align	: left
	margin : 0 auto
	.item
		col(1/5)
		
		img
			height			:auto
			hover-pop()
			+from-width('mini')
				width		:100%
			+from-width('small')
				width		:100%
			+from-width('medium')
				width		: 100%
			+from-width('large')
				width		: 50%
			+from-width('extra')
				width		: 50%	
		
