.block9
	+from-width('m')
		img
			transform translate(0px,-195px) !important
	+to-width('s')
		img
			height : 100%
		
.block12 
	+from-width('m')
		img
			transform translate(0px,-170px) !important
	+to-width('s')
		img
			height : 100%
.block4
	+from-width('l')
		img
			transform translate(0px,-85px) !important
	+to-width('m')
		img
			height : 100%

.block11
	p
		padding : 10% 5%