include /master/common/mixins/mosaico
include /master/common/mixins/cover


.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/costa/PortadaCostaRica.png")
			
	.cover-caption

		.title.countries
			h1 Costa Rica

		.text
			span 
				|Estudio de Prospección geofísica mediante sondeo electromagnético (TDEM) para la estimación de las propiedades eléctricas
				|del subsuelo en la planta de recuperación de CO2, ubicada en Sarapiquí, Costa Rica., COPEI Ingeniería, Julio,2014.

+mosaico-x3-1-2("", "txt1", "")
+mosaico-x3-2-1("txt2", "", "")
+mosaico-x4-2-2("", "txt3", "txt4", "")