.block9
	img
		transform translate(0px,-195px) !important
		
.block12 
	img
		transform translate(0px,-170px) !important
.block4
	img
		transform translate(0px,-85px) !important

.block11
	p
		padding : 10% 5%