include /master/common/mixins/mosaico

section
	img(src='/static/img/metodos/electricos/tomografia/TomografiadeResistiviad Electrica.png')


+mosaico-x2-1-1("", "texto5")
+mosaico-x4-2-2("", "texto4", "texto5", "")
