//edit()()

.etapa2-text
	col(6/12)
.etapa2-img
	col(6/12)

.etapa3-text
	col(6/12)
.etapa3-img
	col(6/12)

.etapa4-text
	col(6/12)
.etapa4-img
	col(6/12)

div[class^='block']
	img
		height: 100% !important

.mc2-2-2
	top : -4px
	position relative

.mc1-1-1
	top : -5px
	position : relative

.ms3c
	top : -	15px