include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/tomografia/TomografiadeResistiviadElectrica.png", "Tomografía de Resistiviad Eléctrica")

.content 

	+mosaico3("metodos/electricos/tomografia/427a","427x239","597x171","metodos/electricos/tomografia/597","649ebf","79beea")
	+mosaico4("metodos/electricos/tomografia/683", "341x372","528399")

	//- ******** falta insertar imagen metodos/electricos/tomografia/427b en forma de slide en acomodo de 4 *********


	//- +mosaico-x2-1-1("metodos/electricos/tomografia/etapa2a.png", "Arreglo con alta densidad de datos")

	//- +mosaico-x4-2-2("metodos/electricos/tomografia/etapa3a.png", "Mapa de resistividad  a la profundiad de 3 m y perfil geoeléctrico", "Modelo 3D para la caracterización de suelos contaminados ", "metodos/electricos/tomografia/etapa4a.png")

	+icons-metodos