section
	.etapa2-text
		h1 Etapa 2
	.etapa2-img
		img(src="http://lorempixel.com/600/200/fashion")
section
	.etapa3-img
		img(src="http://lorempixel.com/600/200/food")
	.etapa3-text
		h1 Etapa 3
section
	.etapa4-text
		h1 Etapa 4
	.etapa4-img
		img(src="http://lorempixel.com/600/200/sports")