include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/tomografia/TomografiadeResistiviadElectrica.png", "Tomografía de Resistiviad Eléctrica")

.content

	+mosaico3("metodos/electricos/tomografia/427a","427x239","597x171","metodos/electricos/tomografia/597","cc8800","e59e00")
	+mosaico4("metodos/electricos/tomografia/683", "341x372","cc8800")


	+method-name