//edit()()

.etapa2-text
	col(6/12)
.etapa2-img
	col(6/12)
	
.etapa3-text
	col(6/12)
.etapa3-img
	col(6/12)
	
.etapa4-text
	col(6/12)
.etapa4-img
	col(6/12)

div[class^='block']
	img
		height: 100% !important

