include /master/common/mixins/icons

.content
	+icons-equipment
	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/radarsystems/Python-3.png')
		.equipment-text
			.equipment-title
				h3 Georadar Python-3
			.equipment-description
				p:| Es un radar portable digital fácil de operar especialmente para sondeos a profundidad (mayores a 50 m) en condiciones de suelo favorables. La unidad está diseñada para 
					|resolver un amplio rango de tareas geotécnicas, geológicas, de ingeniería y otras donde sea necesario el monitoreo no destructivo.
					|Durante la adquisición el operador obtiene una imagen en tiempo real de las condiciones del subsuelo. 

