.container
	.item
		img(src='/static/nerv.jpg')
		h3 Ing. Carlos Pita
		p Director General
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem	
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem	
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem	
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem
	.item
		img(src='/static/nerv.jpg')
		h3 Ingenieria
		p Geotem
