.accordian
      ul
        li 
          .image_title-2.clr-1
            a(href='/metodos/potenciales/gravimetria') GRV
          .image_title.clr-1
            a(href='/metodos/potenciales/gravimetria') Gravimetría
          a(href='/metodos/potenciales/gravimetria')
            img(src="/static/img/metodos/potenciales")

        li 
          .image_title-2.clr-1
            a(href='/metodos/potenciales/magnetometria') MAG
          .image_title.clr-1
            a(href='/metodos/potenciales/magnetometria') Magnetometría
          a(href='/metodos/potenciales/magnetometria')
            img(src="/static/img/metodos/potenciales")
.box-icons 
  .item
    img(src='/static/img/Ambiental.svg')
  .item
    img(src='/static/img/Arqueologia.svg')
  .item
    img(src='/static/img/Geohidrologia.svg')
  .item
    img(src='/static/img/Geotecnia.svg')
  .item
    img(src='/static/img/Geotermia.svg')
  .item
    img(src='/static/img/Hidrocarburos.svg')
  .item
    img(src='/static/img/Mineria.svg')