main
	position : relative !important

.overlay-content
	position : relative
	margin-top : 50px
	col(2/2)
	.overlay-box
		span(1/2)
 
.description
	background-color: rgba(239,72,72,0.7)


+to-width('s')

	.overlay-content
		position : relative
		margin-top : 30px
		span(1/1)
		.overlay-box
			span(1/1)

 	


// .clr-1
// 	background : #7F0D1B
// .clr-2
// 	background : #d61118
	
// .accordian li 

// 	width	: 50vw

// .block1,.block11,.block5
// 	p
// 		background : #b2101c !important
// 		height : 100% !important

// .block7 .sub7-1,.block3,.block14 .sub14-1
// 	p
// 		background : #d61118 !important
// 		height : 100% !important

// .block8 .sub8,.block13 .sub13,.block10
// 	p
// 		background : #ef4848 !important
// 		height : 100% !important