.overlay-content
	position : relative
	max-width : 1024px
	text-align : left !important
	margin-left: 5% !important
	
	span(2/2)
	.overlay-box
		span(1/2)
 
.description
	background-color: rgba(239,72,72,0.7)


+to-width('s')

	.overlay-content
		position : relative
		margin-top : 30px
		span(1/1)
		.overlay-box
			span(1/1)
	.box-center
		margin-left : 0 !important
