include /master/common/mixins/mosaico
include /master/common/mixins/cover

+cover-sc("metodos/sismicos/ondas/SismicadeOndasSuperficiales.png")

+mosaico-x4-2-2("", "texto4", "texto5", "")
+mosaico-x3-1-2("", "texto3", "")

