include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/sismicos/ondas/SismicadeOndasSuperficiales.png", "Sísmica de Ondas Superficiales")


.content

	+mosaico1("metodos/sismicos/ondas/T-427a","metodos/sismicos/ondas/427a","metodos/sismicos/ondas/T-427b")
	+mosaico2("metodos/sismicos/ondas/427b","metodos/sismicos/ondas/T-341","metodos/sismicos/ondas/341")
	+mosaico3("metodos/sismicos/ondas/427c","metodos/sismicos/ondas/T-427c","metodos/sismicos/ondas/T-597","metodos/sismicos/ondas/597")
	+mosaico4("metodos/sismicos/ondas/683", "metodos/sismicos/ondas/T-683")


	//- +mosaico-x4-2-1("Estimación de espesores a partir de modelo 3D con valores de Vs", "metodos/sismicos/ondas/resized/etapa4a.png", "metodos/sismicos/ondas/resized/etapa4b.png", "Secciones Vs representadas en conjunto 3D")

	//- +mosaico-x4-2-2("metodos/sismicos/ondas/resized/etapa2a.png", "Curvas de dispersión correspondientes a una sección símica", "Sección símica a partir de estructura Vs", "metodos/sismicos/ondas/resized/etapa3a.png")

	+method-2