#bundle-sismondas
	backround-color: tomato

	p
		background-color : lightgreen
		color            : deepskblue

.block7
	.sub7
		background : white !important
		
.ms4c .mc1 .mc1-1
	height : 165px !important