include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/sismicos/ondas/SismicadeOndasSuperficiales.png", "Sísmica de Ondas Superficiales")


.content

	+mosaico1("256x313","metodos/sismicos/ondas/427a","341x313", "4e7c32","559334")
	+mosaico2("metodos/sismicos/ondas/427b","256x256","metodos/sismicos/ondas/341", "67ac4b")
	+mosaico3("metodos/sismicos/ondas/427c","427x417","597x171","metodos/sismicos/ondas/597","559334","4e7c32")
	+mosaico4("metodos/sismicos/ondas/683", "341x486","4e7c32")


	//- +mosaico-x4-2-1("Estimación de espesores a partir de modelo 3D con valores de Vs", "metodos/sismicos/ondas/resized/etapa4a.png", "metodos/sismicos/ondas/resized/etapa4b.png", "Secciones Vs representadas en conjunto 3D")

	//- +mosaico-x4-2-2("metodos/sismicos/ondas/resized/etapa2a.png", "Curvas de dispersión correspondientes a una sección símica", "Sección símica a partir de estructura Vs", "metodos/sismicos/ondas/resized/etapa3a.png")

	+icons-metodos