#timeline
	ul#dates
		li
			a(href='#') 2005    
		li
			a(href='#') 2006
		li
			a(href='#') 2007    
		li
			a(href='#') 2008
		li
			a(href='#') 2009    
		li
			a(href='#') 2010
		li
			a(href='#') 2011    
		li
			a(href='#') 2012 
		li
			a(href='#') 2013
		li
			a(href='#') 2014    
		li
			a(href='#') 2015 
	ul#issues
		li#date1
			p Lorem ipsum.      
		li#date2
			p Lorem ipsum. 
		li#date3
			p Lorem ipsum.      
		li#date4
			p Lorem ipsum.
		li#date5
			p Lorem ipsum.      
		li#date6
			p Lorem ipsum.
		li#date7
			p Lorem ipsum.      
		li#date8
			p Lorem ipsum.
		li#date9
			p Lorem ipsum.      
		li#date10
			p Lorem ipsum.
		li#date11
			p Lorem ipsum.      


		a#next(href='#') +
		// optional
		a#prev(href='#') -
		// optional
