.footer
	span(12/12)
	border-top  : solid 1px black;
	padding     : 10px;
	color 	    : black
	font-weight : 300
	margin-top  : 0 !important;

	.f-block1
		span(12/12)
		+from-width('medium')
			span(8/12)
			text-align : left !important;
		.fb1-1
			span(12/12)
			text-align : center !important;
			+from-width('medium')
				text-align : left !important;

	.f-block2
		span(12/12)
		+from-width('medium')
			span(4/12)

		.fb2-1
			span(6/12)
			text-align : center !important;
			+from-width('medium')
				text-align : left !important;

		.fb2-2
			span(6/12)
			text-align : center !important;
			+from-width('medium')
				text-align : left !important;


.fb1-1, .fb2-1, .fb2-2
	margin : auto 0

a:hover
	color : red;
