.footer
	.content
		.f-block1
			.fb1-1
				p
				| 2015 GEOTEM Ingeniería S.A. de C.V. Todos los derechos reservados.

		.f-block2
			.fb2-1
				a(href="/acerca-de/privacidad")
					p
					| Privacidad
			.fb2-2
				a(href='/static/revista/Catalogo.html')
					p
					| Material Tecnico