&
	background-color : $white
	padding          : 0.5rem
	margin-top		 : 1rem
	border-top   	 : solid black 1px
	border-bottom    : solid black 1px
a
	{$font-2nd}
	color           : $color-3rd
	text-decoration : none
	font-size       : 0.8rem

	strong
		color : $color-1st
	span
		color           : $color-2nd-lighter
		text-decoration : underline