.content
	.cust-tile
		h2 Geohidrología
		.container-customer
			.cust-box
				img(src='/static/img/geohidrologia/01.png')
			.cust-box
				img(src='/static/img/geohidrologia/02.png')
			.cust-box
				img(src='/static/img/geohidrologia/03.png')
			.cust-box
				img(src='/static/img/geohidrologia/04.png')
			.cust-box
				img(src='/static/img/geohidrologia/05.png')
			.cust-box
				img(src='/static/img/geohidrologia/06.png')

	.cust-tile
		h2 Geotecnia
		.container-customer
			.cust-box
				img(src='/static/img/geotecnia/01.png')
			.cust-box
				img(src='/static/img/geotecnia/02.png')
			.cust-box
				img(src='/static/img/geotecnia/03.png')
			.cust-box
				img(src='/static/img/geotecnia/04.png')

	.cust-tile
		h2 Geotermia
		.container-customer
			.cust-box
				img(src='/static/img/geotermia/01.png')
			.cust-box
				img(src='/static/img/geotermia/02.png')
			.cust-box
				img(src='/static/img/geotermia/03.png')

	.cust-tile
		h2 Instituciones Educativas
		.container-customer
			.cust-box
				img(src='/static/img/educativas/01.png')
			.cust-box
				img(src='/static/img/educativas/02.png')
			.cust-box
				img(src='/static/img/educativas/03.png')
			.cust-box
				img(src='/static/img/educativas/04.png')
			.cust-box
				img(src='/static/img/educativas/05.png')
	.cust-tile
		h2 Medio Ambiente
		.container-customer
			.cust-box
				img(src='/static/img/ambiente/01.png')
			.cust-box
				img(src='/static/img/ambiente/02.png')
			.cust-box
				img(src='/static/img/ambiente/03.png')
	.cust-tile
		h2 Mineria
		.container-customer
			.cust-box
				img(src='/static/img/mineria/01.png')
			.cust-box
				img(src='/static/img/mineria/02.png')
			.cust-box
				img(src='/static/img/mineria/03.png')
			.cust-box
				img(src='/static/img/mineria/04.png')
			.cust-box
				img(src='/static/img/mineria/05.png')