main
	position : relative !important


.content
	+from-width('s')
		max-width : 480px !important
		margin : 0 auto 0 auto
	+from-width('m')
		max-width : 768px !important
		margin : 0 auto 0 auto
	+from-width('normal')
		max-width : 768px !important
		margin : 0 auto 0 auto
	+from-width('l')
		max-width : 768px !important
		margin : 20% auto 0 auto
	+from-width('xl')
		max-width : 1024px !important
		margin : 10em auto 0 auto

	.cust-box-1
		img
			text-align: center !important

.contenedor
	+from-width('s')
		max-width : 480px !important
		margin : 0 auto
	+from-width('m')
		max-width : 768px !important
		margin : 0 auto
	+from-width('l')
		max-width : 768px !important
		margin : 0 auto
	+from-width('xl')
		max-width : 1024px !important
		margin : 0 auto

	.cust-box-1
		img
			text-align: center !important

+to-width('s')
	.content
		display : none
+from-width('m')
	.content
		display: block
