.content
	
	.container-customer-1
		.cust-box-1
			img(src='/static/img/acerca/clientes/geohidrologia/01.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/geohidrologia/02.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/geohidrologia/03.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/geohidrologia/04.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/mineria/04.png')
			
		
	.container-customer-2
		.cust-box-2
			img(src='/static/img/acerca/clientes/geotecnia/01.png')
		.cust-box-2
			img(src='/static/img/acerca/clientes/geotecnia/02.png')
		.cust-box-2
			img(src='/static/img/acerca/clientes/geohidrologia/05.png')
		.cust-box-2
			img(src='/static/img/acerca/clientes/geotecnia/04.png')

		
	.container-customer-1
		.cust-box-1
			img(src='/static/img/acerca/clientes/geotermia/01.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/geotermia/02.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/geotermia/03.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/geohidrologia/06.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/educativas/01.png')


	.container-customer-2
		.cust-box-2
			img(src='/static/img/acerca/clientes/educativas/02.png')
		.cust-box-2
			img(src='/static/img/acerca/clientes/educativas/03.png')
		.cust-box-2
			img(src='/static/img/acerca/clientes/educativas/04.png')
		.cust-box-2
			img(src='/static/img/acerca/clientes/educativas/05.png')
		
	.container-customer-1
		.cust-box-1
			img(src='/static/img/acerca/clientes/ambiente/01.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/ambiente/02.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/ambiente/03.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/mineria/01.png')
		.cust-box-1
			img(src='/static/img/acerca/clientes/mineria/02.png')
		
	.container-customer-3
		.cust-box-3
			img(src='/static/img/acerca/clientes/mineria/03.png')
		.cust-box-3
			img(src='/static/img/acerca/clientes/mineria/05.png')