.arrow1
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 35%
	left: 3.8%
	&:hover ~ .image1
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 1%
	
+to-width('l')
	.arrow1
		display : none
	.arrow2
		display : none
	.arrow3
		display : none
	.arrow4
		display : none
	.arrow5
		display : none
	.arrow6
		display : none
	.arrow7
		display : none
	
		
.image1
	display : none

.arrow2
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 35%
	left: 16.6%
	&:hover ~ .image2
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 12%;
.image2
	display : none
	
.arrow3
	position: absolute
	width: 1.5%
	height: 2.8%
	top: 35%
	left: 28%
	&:hover ~ .image3
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 20%;
.image3
	display : none
	
.arrow4
	position: absolute
	width: 1.5%
	height: 2.7%
	top: 34%
	left: 41.1%
	&:hover ~ .image4
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 32%;
.image4
	display : none
	
.arrow5
	position: absolute
	width: 1.5%
	height: 2.7%
	top: 34%
	left: 52.3%
	&:hover ~ .image5
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 45%;
.image5
	display : none


.arrow6
	position: absolute
	width: 1.5%
	height: 2.5%
	top: 34%
	left: 64.3%
	&:hover ~ .image6
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 55%;
.image6
	display : none


.arrow7
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 34%
	left: 75.9%
	&:hover ~ .image7
		display : block
		width: 15%;
		height: auto;
		position: absolute;
		top: 40%;
		left: 67%;
.image7
	display : none






