.arrow1
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 2%
	left: 6.8%
	&:hover ~ .image1
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 5%;
.image1
	display : none

.arrow2
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 2.3%
	left: 23.5%
	&:hover ~ .image2
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 15%;
.image2
	display : none
	

.arrow3
	position: absolute
	width: 1.5%
	height: 2.8%
	top: 2%
	left: 35.9%
	&:hover ~ .image3
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 25%;
.image3
	display : none
	
.arrow4
	position: absolute
	width: 1.5%
	height: 2.7%
	top: 2%
	left: 49%
	&:hover ~ .image4
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 35%;
.image4
	display : none
	
.arrow5
	position: absolute
	width: 1.5%
	height: 2.7%
	top: 2.5%
	left: 61%
	&:hover ~ .image5
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 45%;
.image5
	display : none


.arrow6
	position: absolute
	width: 1.5%
	height: 2.5%
	top: 2.7%
	left: 75%
	&:hover ~ .image6
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 55%;
.image6
	display : none


.arrow7
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 2.7%
	left: 87.1%
	&:hover ~ .image7
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 5%;
		left: 68%;
.image7
	display : none


// .arrow8
// 	position: absolute
// 	width: 1.5%
// 	height: 2.6%
// 	top: 2.7%
// 	left: 87.1%
// 	&:hover ~ .image8
// 		display : block
// 		width: 25rem;
// 		height: 20rem;
// 		position: absolute;
// 		top: 5%;
// 		left: 73%;
// .image8
// 	display : none



