@require 'common'

// Nib's normalize
normalize-css()

body > header
	@require 'header/view'
	max-width : 100% !important
	text-align : center !important
	margin : 0 auto 0 auto !important
	z-index : 2 !important
	position : relative !important
	top : 0  !important
	background-color : rgba(255,255,255,0.5) !important
	
	
body > footer
	@require 'footer/view'

body > main
	margin-top : 2%
	background-color : #fff
	overflow         : hidden
	@require 'social/view'
	max-width : 100%
	
	margin : 0 auto 0 auto


#fallback
	@require 'fallback/view'

.slicknav_menu
	display none

+to-width('medium')
	.slicknav_menu
		display block
		z-index 10
	.header-master
		display none
	#header
		z-index -10

