@require 'common'

// Nib's normalize
normalize-css()

body > header
	@require 'header/view'

body > footer
	@require 'footer/view'

body > main
	background-color : $color-white
	overflow         : hidden
	@require 'social/view'


#fallback
	@require 'fallback/view'

.slicknav_menu
	display none

+to-width('normal')
	.slicknav_menu
		display block
	.slicknav
		display none