@require 'common'

// Nib's normalize
normalize-css()

body > header
	@require 'header/view'

body > footer
	@require 'footer/view'

body > main
	margin-top : 2%
	background-color : $color-white
	overflow         : hidden
	@require 'social/view'


#fallback
	@require 'fallback/view'

.slicknav_menu
	display none

+to-width('large')
	.slicknav_menu
		display block
		z-index 10
	.header-master
		display none
	#header
		z-index -10