doctype html
<!--[if lt IE 10]><html class="fallback" lang="es"><![endif]-->
<!--[if !IE]><!-->
html(lang="es",class=rootClasses)
	<!--<![endif]-->
	head
		meta(charset=ﬁ.conf.charset)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block ﬁ.meta

		title GEOTEM

		link(rel='shortcut icon', href='/static/images/favicon.ico')
		
		
		block ﬁ.link

		script(src='/static/scripts/jquery.min.js')

		link(rel="stylesheet" type="text/css", href="/static/css/slicknav.css")
		link(rel="stylesheet" type="text/css", href="/static/scripts/bxslider/jquery.bxslider.css")
		link(rel="stylesheet" type="text/css", href="/static/scripts/Timeline/css/style.css")
		link(rel="stylesheet" type="text/css", href="/static/scripts/dasky/css/dasky.min.css")
		link(rel="stylesheet" type="text/css", href="/static/scripts/owl/owl-carousel/owl.carousel.css")
		link(rel="stylesheet" type="text/css", href="/static/scripts/owl/owl-carousel/owl.theme.css")
		
		script(src='/static/scripts/javascript.fullPage.js')
		script(src='/static/scripts/javascript.fullPage.min.js')
		script(src='/static/scripts/jquery.slicknav.min.js')
		script(src='/static/scripts/bxslider/jquery.bxslider.js')
		script(src='/static/scripts/Timeline/js/jquery.timelinr-0.9.54.js')
		script(src='/static/scripts/dasky/js/dasky.eval.js')
		script(src='/static/scripts/dasky/js/jmpress.min.js')
		script(src='/static/scripts/owl/owl-carousel/owl.carousel.js')


	body
		#fallback
			include fallback/view

		header#header
			include header/view

		main#main
			include social/view
			block ﬁ.content

		footer#footer
			include footer/view

		block ﬁ.script
			
			

		if ﬁ.conf.live
			script(src='/static/scripts/google-analytics.js')

