#bundle-autocorrelacion
	backround-color: tomato

	p
		background-color : lightgreen
		color            : deepskblue

div[class^='block']
	img
		height : 100% !important
	p
		padding : 10% 5% !important

.ms4c
	top : -9px
.ms4c .mc2 .mc2-2 img
	margin-top: 11px !important