include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/sondeo/SondeoElectricoVertical-min.png", "Sondeo Eléctrico Vertical")

.content


	+mosaico1("256x414", "metodos/electricos/sondeo/ArregloWenner", "341x414" , "cc8800" , "e59e00")
	+mosaico2("metodos/electricos/sondeo/etapa2/etapa2b","256x256","metodos/electricos/sondeo/etapa3/etapa3a","ffb600")
	+mosaico3("metodos/electricos/sondeo/etapa3/etapa3b", "427x157", "597x171","metodos/electricos/sondeo/etapa4/etapa4b","cc8800" , "e59e00")
	+mosaico4("metodos/electricos/sondeo/etapa4/etapa4a","341x415","ffb600")





	+method-name
