include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/sondeo/SondeoElectricoVertical-min.png", "Sondeo Eléctrico Vertical")

.content


	+mosaico1( "metodos/electricos/sondeo/T-427a", "metodos/electricos/sondeo/ArregloWenner", "metodos/electricos/sondeo/T-341")
	+mosaico2("metodos/electricos/sondeo/etapa2/etapa2b","metodos/electricos/sondeo/T-427b","metodos/electricos/sondeo/etapa3/etapa3a")
	+mosaico3("metodos/electricos/sondeo/etapa3/etapa3b","metodos/electricos/sondeo/T-427c","metodos/electricos/sondeo/T-597","metodos/electricos/sondeo/etapa4/etapa4b")
	+mosaico4("metodos/electricos/sondeo/etapa4/etapa4a","metodos/electricos/sondeo/T-683a")





	+method-name
