.cover
	img(src='/static/img/metodos/electricos/sondeo/SondeoElectricoVertical.png')


	.block1

	.block2
		img(src='/static/img/electricos/01.png')

	.block3



	.block4
		img(src='/static/img/electricos/02.png')

	.block5

	.block6
		img(src='/static/img/electricos/03.png')





	.block7
		.sub7
			img(src='/static/img/electricos/04.png')

		.sub7-1

	.block8
		.sub8

		.sub8-1
			img(src='/static/img/electricos/09.png')




	.block9
		img(src='/static/img/electricos/10.png')

	.block10




