include /master/common/mixins/mosaico

.cover
	img(src='/static/img/metodos/electricos/sondeo/SondeoElectricoVertical.png')



+mosaico-x3-2-1("texto1", "", "texto2")
+mosaico-x3-1-2("", "texto3", "")
+mosaico-x4-2-2("", "texto4", "texto5", "")
+mosaico-x2-1-1("", "texto5")



