include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/electricos/sondeo/SondeoElectricoVertical-min.png", "Sondeo Eléctrico Vertical")

.content


	+mosaico1("256x414", "metodos/electricos/sondeo/ArregloWenner", "341x414" , "cc8800" , "e59e00") 
	+mosaico2("metodos/electricos/sondeo/etapa2/etapa2b","256x256","metodos/electricos/sondeo/etapa3/etapa3a","ffb600")
	+mosaico3("metodos/electricos/sondeo/etapa3/etapa3b", "427x157", "597x171","metodos/electricos/sondeo/etapa4/etapa4b","cc8800" , "e59e00")
	+mosaico4("metodos/electricos/sondeo/etapa4/etapa4a","341x415","ffb600")


	//- +mosaico-x3-2-1("Curva electródos de potencial y valor de lectura de campo", "metodos/electricos/sondeo/etapa2/etapa2a.png", "Modelo  de inversión 1D de sondeos mediante el uso del modelo del semiespacio estratificado.")

	//- +mosaico-x3-1-2("metodos/electricos/sondeo/etapa2/etapa2b.png", "Construcción de perfil geoeléctrico a partir de modelos de inversión 1D de cada sondeo.", "metodos/electricos/sondeo/etapa3/etapa3a.png")

	//- +mosaico-x4-2-2("metodos/electricos/sondeo/etapa3/etapa3b.png", "Interpretación de unidades Geoeléctricas correlacionadas con Registro de pozos.", "Construcción de modelo 3D a partir de los perfiles geoeléctricos" ,"metodos/electricos/sondeo/etapa4/etapa4a.png")

	//- +mosaico-x2-1-1("metodos/electricos/sondeo/etapa4/etapa4b.png", "Construcción de modelo 3D a partir de los perfiles geoeléctricos")


	+icons-metodos
