//edit()()

.etapa2-text
	col(4/12)
.etapa2-img
	col(8/12)

.etapa3-img
	col(8/12)
.etapa3-text
	col(4/12)

.etapa4-text
	col(6/12)
.etapa4.img
	col(6/12)

.block7
	.sub7-1
		p
			padding : 7% !important

.block8
	.sub8
		p
			padding : 7% !important

div[class^='block']
	img
		height: 100% !important
		
.content
	margin-top: -4px !important