include /master/common/mixins/mosaico
.cover
	img(src='/static/img/metodos/electricos/espectral/PolarizacionInducidaEspectral.png')


+mosaico-x3-1-2("", "texto3", "")
+mosaico-x4-2-2("", "texto4", "texto5", "")
+mosaico-x3-1-2("", "texto3", "")
