include /master/common/mixins/mosaico
include /master/common/mixins/cover

+cover-sc("metodos/electricos/espectral/PolarizacionInducidaEspectral.png")
+mosaico-x2-1-1("", "Curvas de Fase y resistividad bajo el fenomeno de polarización inducida")
+mosaico-x2-1-2("Mediciones de resistencia y cargabilidad", "metodos/electricos/espectral/etapa2B.png")
+mosaico-x3-1-2("metodos/electricos/espectral/etapa3A.png", "Secciones de Fase por PI en el dominio de las frecuencias.", "metodos/electricos/espectral/etapa3B.png")
+mosaico-x4-2-2("metodos/electricos/espectral/etapa4A.png","Modelo 3D de Resistividad Eléctrica, geometría del acuífero(Gráfica: Modificada de Flores Orozco et al., 2011).", "Anomalías PI asociadas a la presencia de minerales metálicos. (Gráfica: Modificada de Flores Orozco et al., 2011).","metodos/electricos/espectral/etapa4B.png")
