include /master/common/mixins/icons

.content
	+icons-equipment

	.equipment-content
		.equipment-image
				img(src='/static/img/equipo/gfinstruments/Ares II.png')
		.equipment-text
			.equipment-title
				h3 Sistema de Resistividad Automático de 10 Canales ARES II
			.equipment-description
				p:| ARES II representa un sistema de registro de Resistividad  automático bien equipado. Su ventaja radica en que puede ser aplicado para estudios 2D y 3D (manteniendo operativos más de 65,000 electródos),
					| aunado a esto su fácil operación en campo (sin la necesidad de un PC), la alimentación proporcionada por una batería de 12 V (o por un generador), el 
					| soporte que ofrece para arreglos especiales de electródos que hace del sistema ARES II una herramienta de gran utilidad para la exploración geofísica. 

	.equipment-content
			.equipment-image
				img(src='/static/img/equipo/gfinstruments/CMD-Duo.png')
			.equipment-text
				.equipment-title
					h3 Conductivímetro Electromagnético de Exploración Profunda CMD-DUO
				.equipment-description
					p:| El CMD-DUO  es un conductivímetro electromagnético de fácil operación con distancia variable entre sus bobinas,
						| permitiendo de esta manera sondeos multi-profundidad con resultados referidos a valores de conductividad aparente. 

	.equipment-content
			.equipment-image
				img(src='/static/img/equipo/gfinstruments/GammaSurveyor.png')
			.equipment-text
				.equipment-title
					h3 Espectrómetro Gamma Surveyor II
				.equipment-description
					p:| Representa un sistema súper compacto para la medición de todo tipo de radiación. Debido a la gran experiencia en lo que se refiere a analizadores de rayos gamma y  el desarrollo 
						|técnico en esta disciplina, el GAMMA SURVEYOR II ofrece una técnica de evaluación espectral única y eficiente  con una rápida energía de estabilización. 
						|Estas propiedades se complementan con un método de operación transparente. Permite la determinación de concentraciones radiactivas por rayos gamma en el elementos como el Torio, el Uranio y el Potasio.
