include /master/common/mixins/icons

.content
	+icons-equipment
	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/metronix/ADU07e.png')
		.equipment-text
			.equipment-title
				h3 Grabador de datos Magnetotelúricos ADU-07e
			.equipment-description
				p:| Resultado de 30 años de investigación el ADU-07e es un equipo que colecta oscilaciones naturales del campo magnético terrestre y del campo eléctrico. 
					|Es un sistema de radio frecuencia, donde se conectan sensores eléctricos y magnéticos al acondicionador de señal que sirve para adquirir datos magnetotelúricos. 

	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/metronix/TXB-TXM.png')
		.equipment-text
			.equipment-title
				h3 Transmisor Geofísico TXM-22 y Caja Controladora de Transmisión TXB-07
			.equipment-description
				p:| El sistema TXM-22 es una fuente de poder multipropósito, diseñada para utilizarse en conexión con la unidad de control TXB-07 formando de esta manera un poderoso 
					|transmisor para aplicaciones geofísicas, tal como lo es el Método Magnetotelúrico de fuente controlada (CSAMT).
