include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/radio/Portada_RMT-min.png", "Radio Magnetotelúrico")

.content

	+mosaico1("256x250","metodos/electromagneticos/radio/427a","341x250", "005e77","0080ae")

	+mosaico2("metodos/electromagneticos/radio/427b","256x256","metodos/electromagneticos/transitorio/341", "059bc4")

	+mosaico3("metodos/electromagneticos/radio/427_1","427x188","597x402","metodos/electromagneticos/radio/597","005e77","0080ae")

	+mosaico4("metodos/electromagneticos/radio/683", "341x310","059bc4")


	//- ******* Falta slide con las imagenes metodos/electromagneticos/radio/427_2 , metodos/electromagneticos/radio/427_3, metodos/electromagneticos/radio/427_4 y metodos/electromagneticos/radio/427_5 *******


	//- +mosaico-x3-1-2("metodos/electromagneticos/radio/etapa2/etapa2c-min.png", "Series de tiempo", "metodos/electromagneticos/radio/etapa2/etapa2a.png")
	//- +mosaico-x2-1-2("Diagramas Polares para el Analisis Dimensional","metodos/electromagneticos/radio/etapa2/etapa2b-min.png")
	//- +mosaico-x3-2-1("Mapa de resistividad para la profundidad de 50m,100m,150m,200m,250m","","Curvas de Amplitud y Fase")

	//- 	ul#radiomagnetotelurico.bxslider
	//- 		li: img(src="/static/img/metodos/electromagneticos/radio/etapa3/etapa3a-min.png" title="Mapa de resistividad para la profundidad de 50 m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/radio/etapa3/etapa3b-min.png" title="Mapa de resistividad para la profundidad de 100 m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/radio/etapa3/etapa3c-min.png" title="Mapa de resistividad para la profundidad de 150 m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/radio/etapa3/etapa3d.png" title="Mapa de resistividad para la profundidad de 200 m")
	//- 		li: img(src="/static/img/metodos/electromagneticos/radio/etapa3/etapa3e-min.png" title="Mapa de resistividad para la profundidad de 250 m")
	//- +mosaico-x2-1-2("Modelo 3D de Cuerpo conductor asociado a posible mineralización","metodos/electromagneticos/radio/etapa4a-min.png")


	+icons-metodos

