include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons



+cover-sc("metodos/electromagneticos/radio/Portada_RMT-min.png", "Radio Magnetotelúrico")

.content

	+mosaico1("metodos/electromagneticos/radio/T-427a","metodos/electromagneticos/radio/427a","metodos/electromagneticos/radio/T-341")

	+mosaico2("metodos/electromagneticos/radio/427b","metodos/electromagneticos/radio/T-427b","metodos/electromagneticos/radio/341")

	+mosaico3("metodos/electromagneticos/radio/427_1","metodos/electromagneticos/radio/T-427_1","metodos/electromagneticos/radio/T-597","metodos/electromagneticos/radio/597")

	+mosaico4("metodos/electromagneticos/radio/683", "metodos/electromagneticos/radio/T-683")


















	+method-3

