{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block main %}

<div class="col-md-12">
        {{ aposArea(page, 'home', {
          controls: ['slideshow', 'video'],
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' }
          ]
        }) }}  
  </div>

  <div class="block content">
    <div class="inner">
      <div class="demo-pageheader">
        {{ aposArea(page, 'main', {
          controls: ['style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'video'],
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' },
            { value: 'h4', label: 'Subtitle' }
          ],
          lockups: ['left', 'right']
        }) }}
    
      </div>
    </div>
  
  </div>

  <div class="block--5">
    <div class="inner">
      {{ aposSingleton(page, 'blogWidget', 'blog', { limit: 3 }) }}
    </div>
  </div>


{% endblock %}
