.accordian
      ul
        li 
          .image_title-2.clr-1
            a(href='#') MT-AMT 200m-100km
          .image_title.clr-1
            a(href='#') Magnetotelúrico / Audio-Magnetotelúrico  
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico1.png")
        li
          .image_title-2.clr-2
            a(href='#') CSAMTv 100m-2km
          .image_title.clr-2
            a(href='#') Audio Magnetotelúrico de Fuente Controlada Vectorial.JPG  
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico2.png")
        li
          .image_title-2.clr-3
            a(href='#') CSAMTe 500m-2km
          .image_title.clr-3
            a(href='#') AuidoMagnetotelúrico de Fuente Controlada Escalar 
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico3.png")

        li
          .image_title-2.clr-4
            a(href='#') TDEM 100m-1.5km
          .image_title.clr-4
            a(href='#') Transitorio Electromagnético en el Dominio del Tiempo 
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico4.png")

        li
          .image_title-2.clr-5
            a(href='#') RMT 50m-150m
          .image_title.clr-5
            a(href='#') Radio-Magnetotelúrico  
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico5.png")

        li
          .image_title-2.clr-6
            a(href='#') CMD 1m-60m
          .image_title.clr-6
            a(href='#') Conductividad Electromagnética 
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico6.png")

        li
          .image_title-2.clr-7
            a(href='#') GPR 1m-15m
          .image_title.clr-7
            a(href='#') Georadar de Penetración Terrestre  
          a(href='#')
            img(src="/static/img/metodos/home/Electromagnetico7.png")

.box-icons 
  .item
    img(src='/static/img/Ambiental.svg')
  .item
    img(src='/static/img/Arqueologia.svg')
  .item
    img(src='/static/img/Geohidrologia.svg')
  .item
    img(src='/static/img/Geotecnia.svg')
  .item
    img(src='/static/img/Geotermia.svg')
  .item
    img(src='/static/img/Hidrocarburos.svg')
  .item
    img(src='/static/img/Mineria.svg')
