.cover
	.cover-img
		img(src="/static/img/servicios-5.png")
			
	.cover-caption
		h1 Entrenamiento

#slider
	.slider-box
		.slider-content
			.box-icons 
				.item-1
					img(src='/static/img/Ambiental.svg')
				.item-1
					img(src='/static/img/Arqueologia.svg')
				.item-1
					img(src='/static/img/Geohidrologia.svg')
				.item-1
					img(src='/static/img/Geotecnia.svg')
				.item-1
					img(src='/static/img/Geotermia.svg')
				.item-1
					img(src='/static/img/Hidrocarburos.svg')
				.item-1
					img(src='/static/img/Mineria.svg')
		.slider-content
			.box-icons 
				.item-1
					img(src='/static/img/Ambiental.svg')
				.item-1
					img(src='/static/img/Arqueologia.svg')
				.item-1
					img(src='/static/img/Geohidrologia.svg')
				.item-1
					img(src='/static/img/Geotecnia.svg')
				.item-1
					img(src='/static/img/Geotermia.svg')
				.item-1
					img(src='/static/img/Hidrocarburos.svg')
				.item-1
					img(src='/static/img/Mineria.svg')
		.slider-content
				.item-1
					img(src='/static/img/Ambiental.svg')
				.item-1
					img(src='/static/img/Arqueologia.svg')
				.item-1
					img(src='/static/img/Geohidrologia.svg')
				.item-1
					img(src='/static/img/Geotecnia.svg')
				.item-1
					img(src='/static/img/Geotermia.svg')
				.item-1
					img(src='/static/img/Hidrocarburos.svg')
				.item-1
					img(src='/static/img/Mineria.svg')
		.slider-content
				.item-1
					img(src='/static/img/Ambiental.svg')
				.item-1
					img(src='/static/img/Arqueologia.svg')
				.item-1
					img(src='/static/img/Geohidrologia.svg')
				.item-1
					img(src='/static/img/Geotecnia.svg')
				.item-1
					img(src='/static/img/Geotermia.svg')
				.item-1
					img(src='/static/img/Hidrocarburos.svg')
				.item-1
					img(src='/static/img/Mineria.svg')