.accordian
      ul
        li
          .image_title
            a(href='#') Pequenas especies
          a(href='#')
            img(src="/static/jl.jpg")
        li
          .image_title
            a(href='#') Equinos
          a(href='#')
            img(src="/static/jl.jpg")
        li
          .image_title
            a(href='#') Fauna Silvestre
          a(href='#')
            img(src="/static/jl.jpg")

        li
          .image_title
            a(href='#') Fauna Silvestre
          a(href='#')
            img(src="/static/jl.jpg")

        li
          .image_title
            a(href='#') Fauna Silvestre
          a(href='#')
            img(src="/static/jl.jpg")

        li
          .image_title
            a(href='#') Fauna Silvestre
          a(href='#')
            img(src="/static/jl.jpg")

        li
          .image_title
            a(href='#') Fauna Silvestre
          a(href='#')
            img(src="/static/jl.jpg")