include /master/common/mixins/cover

+cover("PServ_Integracion", "Integración e Interpretación")

			
.content

	p 
		|Esta etapa tiene por objetivo, encontrar y dar solución al problema originalmente planteado expresándolo con base en un sustento geológico, es decir encontrar soluciones compatibles tanto desde el punto de vista físico-matemático con los datos observados o registrados y de mayor peso aún con una viabilidad geológica plausible. 
		|Con este objetivo durante la interpretación  se requiere contar con toda la  información de carácter geológico y geofísico disponible así como aquella información geoquímica (cuando los antecedentes del proyecto  lo permitan). En este punto el trabajo es de carácter interdisciplinario, integrando toda la información  
		|con la capacidad de discernir entre la calidad de un modelo u otro; la experiencia del intérprete es otro punto fuerte a considerar durante esta etapa y según sea el objetivo de estudio las decisiones finales recaen sobre los resultados obtenidos en este escenario.