.clr-1
	background : #2f4c1d
.clr-2
	background : #3f6626
.clr-3
	background : #4c7f2e
.clr-4
	background : #589936
.clr-5
	background : #62b33d
.clr-6
	background : #76cc48
	
.accordian li 

	width	: 16.6vw