.clr-1
	background : #2f4c1d
.clr-2
	background : #3f6626
.clr-3
	background : #4E7C31
.clr-4
	background : #559334
.clr-5
	background : #62b33d
.clr-6
	background : #76cc48
	
.accordian li 

	width	: 16.6vw

.block1,.block11,.block5
	p
		background : #4E7C31 !important
		height : 100% !important

.block7 .sub7-1,.block3,.block14 .sub14-1
	p
		background : #559334 !important
		height : 100% !important

.block8 .sub8,.block13 .sub13,.block10
	p
		background : #76cc48 !important
		height : 100% !important