include /master/common/mixins/administracion
include /master/common/mixins/icons
.content
  .overlay-content

    a(href='/metodos/sismicos/autocorrelacion-espacial')
      .overlay-box
        +overlay('sismicos/SPAC', 'Autocorrelación', 'Espacial','Natural',' 0- 100m', 'SPAC')
    
    a(href='/metodos/sismicos/sismica-en-pozo-cross-up-dawn-hole')
      .overlay-box
        +overlay('sismicos/SismicaenPozo', 'Sísmica en','Pozo', 'Controlada','0 - 100m', 'CROSS-UP-DAWN HOLE')
   
    a(href='/metodos/sismicos/sismica-de-ondas-superficiales')
      .overlay-box
        +overlay('sismicos/MASW', 'Análisis Multicanal de','Ondas Superficiales','Controlada','0 - 100m', 'MASW')
   
    a(href='/metodos/sismicos/sismica-de-refraccion')
      .overlay-box
        +overlay('sismicos/Refracción', 'Sísmica de', 'Refracción','Controlada', '0 -50m', 'Refracción')
    
    a(href='/metodos/sismicos/sismica-de-reflexion')
      .overlay-box
        +overlay('sismicos/Reflexión', 'Sísmica de', 'Reflexión','Controlada','0 - 50m', 'Reflexión')
   
    a(href='/metodos/sismicos/sismica-de-cocientes-espectrales')
      .overlay-box
        +overlay3('sismicos/HVSR', 'Cocientes Espectrales','Natural','Determinación del periodo Fundamental', 'ReMi')

    +icons-metodos

.measure
  +overlay4('sismicos/SPAC','SPAC','Sísmica en Pozo','Natural', '0- 100m')
  +overlay4('sismicos/SismicaenPozo','CROSS-UP-DAWN HOLE','Autocorrelación Espacial','Controlada', '0- 100m')
  +overlay4('sismicos/MASW','MASW','Análisis Multicanal de Ondas Superficiales','Controlada', '0- 100m')
  +overlay4('sismicos/Refracción','Refracción','Sísmica de Refracción','Controlada', '0 -50m')
  +overlay4('sismicos/Reflexión','Reflexión','Sísmica de Reflexión','Controlada', '0 -50m')
  +overlay5('sismicos/HVSR','ReMi','Cocientes Espectrales','Natural', 'Determinación del periodo Fundamental')
  +icons-metodos