include /master/common/mixins/icons
.accordian
      ul
        li 
          .image_title-2.clr-1
            a(href='/metodos/sismicos/autocorrelacion-espacial') SPAC
          .image_title.clr-1
            a(href='/metodos/sismicos/autocorrelacion-espacial') Autocorrelación Espacial 
          a(href='/metodos/sismicos/autocorrelacion-espacial')
            img(src="/static/img/metodos/sismicos/SimicadeAutocorrelacionEspacial.png")

        li 
          .image_title-2.clr-2
            a(href='/metodos/sismicos/sismica-en-pozo-cross-up-dawn-hole') CROSS-UP-DAWN HOLE
          .image_title.clr-2
            a(href='/metodos/sismicos/sismica-en-pozo-cross-up-dawn-hole') Símica en Pozo Cross-Up-Dawn Hole
          a(href='/metodos/sismicos/sismica-en-pozo-cross-up-dawn-hole')
            img(src="/static/img/metodos/sismicos/SismicaenPozo.png")

        li 
          .image_title-2.clr-3
            a(href='/metodos/sismicos/sismica-de-ondas-superficiales') MASW
          .image_title.clr-3
            a(href='/metodos/sismicos/sismica-de-ondas-superficiales') Sísmica de Ondas Superficiales 
          a(href='/metodos/sismicos/sismica-de-ondas-superficiales')
            img(src="/static/img/metodos/sismicos/Sísmica de Ondas Superficiales (MASW).png")

        li 
          .image_title-2.clr-4
            a(href='/metodos/sismicos/sismica-de-refraccion') SREFRACCION 
          .image_title.clr-4
            a(href='/metodos/sismicos/sismica-de-refraccion') Sísmica de Refracción
          a(href='/metodos/sismicos/sismica-de-refraccion')
            img(src="/static/img/metodos/sismicos/Sísmica de Refracción.png")

        li 
          .image_title-2.clr-5
            a(href='/metodos/sismicos/sismica-de-reflexion') SREFLECTION
          .image_title.clr-5
            a(href='/metodos/sismicos/sismica-de-reflexion') Sísmica de Reflexión
          a(href='/metodos/sismicos/sismica-de-reflexion')
            img(src="/static/img/metodos/sismicos/Sísmica de Reflexión.png")

        li 
          .image_title-2.clr-6
            a(href='/metodos/sismicos/sismica-de-cocientes-espectrales') HVSR
          .image_title.clr-6
            a(href='/metodos/sismicos/sismica-de-cocientes-espectrales') Sísmica de Cocientes Espectrales
          a(href='/metodos/sismicos/sismica-de-cocientes-espectrales')
            img(src="/static/img/metodos/sismicos/HVSR.png")

+icons