.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/canada/Portada_Canada.png")
			
	.cover-caption

		.title.countries
			h1 Canada

		.text
			span 
				|Levantamiento Gravimétrico y de Sondeos TDEM, en el Proyecto McFaulds Lake y Richard Lake, Ontario Canadá,
				| para JVX Ltd, Febrero-Mayo 2008.
			











