include /master/common/mixins/mosaico
include /master/common/mixins/cover


+cover-aplications2("/presencia/proyectos/canada/Portada_Canada", "", "Levantamiento Gravimétrico y de Sondeos TDEM, en el Proyecto McFaulds Lake y Richard Lake, Ontario Canadá, para JVX Ltd, Febrero-Mayo 2008.","Canadá")


.content

	+mosaico2("presencia/proyectos/canada/427b","256x256","presencia/proyectos/canada/341", "79beea")
	+mosaico4( "presencia/proyectos/canada/683","341x256","528399")
	+mosaico2("presencia/proyectos/canada/341b","256x256","presencia/proyectos/canada/341c", "79beea")
	+mosaico4-r("341x256", "presencia/proyectos/canada/683b","79beea")
	+mosaico4( "presencia/proyectos/canada/mesandwich","341x256","528399")
	
	//- +mosaico-x3-1-2("presencia/proyectos/canada/fogata.png", "Exploración Minera", "/presencia/proyectos/canada/img1.png")
	//- +mosaico-x2-1-1("presencia/proyectos/canada/img2.png","Métodos Potenciales")
	//- +mosaico-x3-1-2("presencia/proyectos/canada/img3.png", "Métodos Electromagnéticos","presencia/proyectos/canada/img4.png")
	//- +mosaico-x2-1-2("Transitrorio Electromagnético en el Dominio del Tiempo", "presencia/proyectos/canada/img5.png")
	//- +mosaico-x2-1-1("presencia/proyectos/canada/mesandwich.png", "Gravimetría")



	+country









