include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons




+cover-sc("metodos/electromagneticos/conductividad/ConductividadElectromagnetica.png", "Conductividad Electromagnética")


.content

	+mosaico1("metodos/electromagneticos/conductividad/T-427a","metodos/electromagneticos/conductividad/427a","metodos/electromagneticos/conductividad/T-341")

	+mosaico2("metodos/electromagneticos/conductividad/427b","metodos/electromagneticos/conductividad/T-427b","metodos/electromagneticos/conductividad/341")

	+mosaico3("metodos/electromagneticos/conductividad/427c","metodos/electromagneticos/conductividad/T-427c","metodos/electromagneticos/conductividad/T-597","metodos/electromagneticos/conductividad/597")

	+mosaico4("metodos/electromagneticos/conductividad/683", "metodos/electromagneticos/conductividad/T-683")




	//- +mosaico-x4-2-2("metodos/electromagneticos/conductividad/etapa2a.png", "Distribución de frecuencias asociadas a una medición por perfilaje electromagnético.  ", "Inversión unidimensional de conductividad aparente", "metodos/electromagneticos/conductividad/etapa3a.png")
	//- +mosaico-x2-1-1("metodos/electromagneticos/conductividad/etapa3a.png", "Mapa de distribución de conductividad utilizados para la detección de ductos y tuberías.   ")

	+method-3