include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons




+cover-sc("metodos/electromagneticos/conductividad/ConductividadElectromagnetica.png", "Conductividad Electromagnética")


.content
	+mosaico-x4-2-2("metodos/electromagneticos/conductividad/etapa2a.png", "Distribución de frecuencias asociadas a una medición por perfilaje electromagnético.  ", "Inversión unidimensional de conductividad aparente", "metodos/electromagneticos/conductividad/etapa3a.png")
	+mosaico-x2-1-1("metodos/electromagneticos/conductividad/etapa3a.png", "Mapa de distribución de conductividad utilizados para la detección de ductos y tuberías.   ")

	+icons-metodos