include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons




+cover-sc("metodos/electromagneticos/conductividad/ConductividadElectromagnetica.png", "Conductividad Electromagnética")


.content

	+mosaico1("256x355","metodos/electromagneticos/conductividad/427a","341x355", "005e77","0080ae")

	+mosaico2("metodos/electromagneticos/conductividad/427b","256x280","metodos/electromagneticos/transitorio/341", "059bc4")

	+mosaico3("metodos/electromagneticos/conductividad/427c","427x188","597x415","metodos/electromagneticos/radio/597","005e77","0080ae")

	+mosaico4("metodos/electromagneticos/conductividad/683", "341x384","059bc4")

	//- +mosaico-x4-2-2("metodos/electromagneticos/conductividad/etapa2a.png", "Distribución de frecuencias asociadas a una medición por perfilaje electromagnético.  ", "Inversión unidimensional de conductividad aparente", "metodos/electromagneticos/conductividad/etapa3a.png")
	//- +mosaico-x2-1-1("metodos/electromagneticos/conductividad/etapa3a.png", "Mapa de distribución de conductividad utilizados para la detección de ductos y tuberías.   ")

	+icons-metodos