include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons


+cover-sc("metodos/potenciales/magnetometria/Magnetometria.png", "Magnetometría")

.content

	+mosaico1("256x256","metodos/potenciales/magnetometria/427a","341x256", "b2101c","d61118")
	+mosaico2("metodos/potenciales/magnetometria/427b","256x256","metodos/potenciales/magnetometria/341", "ef4848")
	+mosaico3("metodos/potenciales/magnetometria/427c_1","427x171","597x171","metodos/potenciales/magnetometria/597","d61118","b2101c")
	+mosaico4("metodos/potenciales/magnetometria/683", "341x256","ef4848")

	//- ******** falta agregar imagenes metodos/potenciales/magnetometriaetria/427c_2 y metodos/potenciales/magnetometriaetria/427c_3 para slide **********

	//- +mosaico-x2-1-2("Procesamiento de datos magnéticos", "metodos/potenciales/magnetometria/Etapa2a.png")

	//- +mosaico-x4-2-2("", "", "Configuración 3D de datos magnéticos", "metodos/potenciales/magnetometria/Etapa4a.png")
	//- 	ul#magnetometria.bxslider
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3a.png" title="Mapa Magnético de Campo Total")
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3b.png" title="Mapa Magnético de Reducción al Polo")
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3c.png" title="Mapa Magnético de Señal Analítica")
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3d.png" title="Soluciones de Euler para estimación de profundidades de las fuentes magnéticas")


	+icons-metodos