include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons


+cover-sc("metodos/potenciales/magnetometria/Magnetometria.png", "Magnetometría")

.content

	+mosaico1("metodos/potenciales/magnetometria/T-427a","metodos/potenciales/magnetometria/427a","metodos/potenciales/magnetometria/T-341")
	+mosaico2("metodos/potenciales/magnetometria/427b","metodos/potenciales/magnetometria/T-T-427b","metodos/potenciales/magnetometria/341")
	+mosaico3("metodos/potenciales/magnetometria/427c_1","metodos/potenciales/magnetometria/T-427c_1","metodos/potenciales/magnetometria/T-597","metodos/potenciales/magnetometria/597")
	+mosaico4("metodos/potenciales/magnetometria/683", "metodos/potenciales/magnetometria/T-683")

	//- ******** falta agregar imagenes metodos/potenciales/magnetometriaetria/427c_2 y metodos/potenciales/magnetometriaetria/427c_3 para slide **********

	//- +mosaico-x2-1-2("Procesamiento de datos magnéticos", "metodos/potenciales/magnetometria/Etapa2a.png")

	//- +mosaico-x4-2-2("", "", "Configuración 3D de datos magnéticos", "metodos/potenciales/magnetometria/Etapa4a.png")
	//- 	ul#magnetometria.bxslider
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3a.png" title="Mapa Magnético de Campo Total")
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3b.png" title="Mapa Magnético de Reducción al Polo")
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3c.png" title="Mapa Magnético de Señal Analítica")
	//- 		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3d.png" title="Soluciones de Euler para estimación de profundidades de las fuentes magnéticas")


	+method-1