include /master/common/mixins/mosaico

section
	img(src="/static/img/metodos/potenciales/Magnetometria.png")

+mosaico-x2-1-1("", "texto5")
+mosaico-x3-2-1("texto1", "", "texto2")
+mosaico-x2-1-1("", "texto5")

