include /master/common/mixins/mosaico
include /master/common/mixins/cover

+cover-sc("metodos/potenciales/magnetometria/Magnetometria.png")

+mosaico-x2-1-2("Procesamiento de datos magnéticos", "metodos/potenciales/magnetometria/Etapa2a.png")

+mosaico-x4-2-2(" ", "Mapa Magnético de Campo Total,Reducción al polo,y Señal Analítica y Soluciones de Euler para estimación de profundidades de las fuentes magnéticas ", "Configuración 3D de datos magnéticos", "metodos/potenciales/magnetometria/Etapa4a.png")
	ul#magnetometria.bxslider
		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3a.png")
		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3b.png")
		li: img(src="/static/img/metodoss/potencialesmaggnetometria/Etapa3c.png")
		li: img(src="/static/img/metodos/potenciales/magnetometria/Etapa3d.png")