.block11 p
	transform translate(0px,30px)
.block8 .sub8 p
	transform translate(0px,-35px)
.block7 .sub7-1 p
	transform translate(0px,-50px)
	font-size : 2vw

.bx-wrapper, .bx-viewport
	height: 25vw !important
	width : 100% !important
	margin-left : .5% !important
