.content
	width       : 100% 
	margin-left : 0
	+from-width('large')
		width       : 92%
	+from-width('extra')
		width       : 88%
		margin-left : 7rem
	
	h1,h3
		padding : 0 0 0 1rem
	p 
		padding : 0 1rem 0 1rem

.arrow1
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 8%
	left: 15%
	&:hover ~ .image1
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 10%;
.image1
	display : none

.arrow2
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 8.3%
	left: 29.3%
	&:hover ~ .image2
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 20%;
.image2
	display : none
	

.arrow3
	position: absolute
	width: 1.5%
	height: 2.8%
	top: 8%
	left: 39.7%
	&:hover ~ .image3
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 30%;
.image3
	display : none
	
.arrow4
	position: absolute
	width: 1.5%
	height: 2.7%
	top: 8%
	left: 50.6%
	&:hover ~ .image4
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 40%;
.image4
	display : none
	
.arrow5
	position: absolute
	width: 1.5%
	height: 2.7%
	top: 8.5%
	left: 60.8%
	&:hover ~ .image5
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 50%;
.image5
	display : none


.arrow6
	position: absolute
	width: 1.5%
	height: 2.5%
	top: 9%
	left: 72.6%
	&:hover ~ .image6
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 60%;
.image6
	display : none


.arrow7
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 9%
	left: 82.9%
	&:hover ~ .image7
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 73%;
.image7
	display : none


.arrow8
	position: absolute
	width: 1.5%
	height: 2.6%
	top: 9%
	left: 94.4%
	&:hover ~ .image8
		display : block
		width: 25rem;
		height: 20rem;
		position: absolute;
		top: 15%;
		left: 78%;
.image8
	display : none



