.cover
	.cover-img
		img(src="/static/img/servicios/03.png")
			
	.cover-caption
		h1 Modelado e Inversión

.content.boxtxt
	p 
		|La distribución de magnitudes físicas medidas sobre el subsuelo a través de la implementación de metodologías geofísicas, se traduce a una realidad geológica  mediante una etapa que está presente en todos los niveles de la Geofísica de exploración llamada inversión de datos geofísicos, 
		|la cual permitirá obtener un modelo geológico (modelado de datos geofísicos) que bajo un criterio de error determinado es representativo del área donde fueron llevadas a cabo las mediciones, la obtención de dicho modelo se reconoce como solución al problema inverso.
	
	p 

		|La inversión de datos inherente a su estructura tiene algunos problemas que están relacionados con la existencia, la unicidad y estabilidad de un modelo geológico representativo generado  a partir de un conjunto de mediciones geofísicas. Estos problemas conducen a ambigüedades en la interpretación 
		|geológica y por lo tanto a errores en la caracterización del subsuelo a partir de las magnitudes físicas medidas  y la única forma de solventar estos problemas es mediante un conocimiento geológico previo  cuando las condiciones son propicias es posible restringir el número de modelos que se ajustan 
		|a los datos observados complementando con mediciones de diferente naturaleza de aquí la importancia de la integración de datos geofísicos que tiene por objetivo el desarrollo de metodologías cuantitativas de integración de múltiples datos geofísicos. 

.gallery

	img(src="/static/img/servicios/ModelInversion47.png")
	img(src="/static/img/servicios/ModelInversion48.png")
	img(src="/static/img/servicios/ModelInversion49.png")