// edit()
//------ imagenes portadas


*
	box-sizing: border-box
	

.cover 
		position : relative
	.cover-img
		position : relative
		
	.cover-img	img
		height 		: auto
		position 	: relative
		width  		: 100%
	
	.cover-caption
		background 	: black
		bottom 		: 0
		color 		: white
		opacity 	: 0.5
		padding 	: 0.5rem
		position 	: absolute
		width 		: 100%

//-------- seccion aplicaciones
.country 
	span
		col(1/2)
		margin-right 	: 0
		margin-left 	: 1%
		+from-width('medium')
			col(1/5)
			margin-right 	: 0
			margin-left 	: 2%		 
		+from-width('large')
			col(1/10) 		
		+from-width('extra')
			col(1/10)
span
	p
		font-size 			: 4.5vw
		font-weight 		: 800
		text-align 			: center
		+from-width('medium')
			font-size 		 : 3vw
		+from-width('large')
			font-size 		 : 1.5vw
		+from-width('extra')
			font-size 		 : 1.5vw






			
