// edit()
//------ imagenes portadas

*
	box-sizing: border-box
	

.cover 
		position : relative
	.cover-img
		position : relative
		
	.cover-img	img
		height 		: auto
		position 	: relative
		width  		: 100%
	
	.cover-caption
		background 	: rgba(34, 34, 34, 0)
		bottom 		: 0
		color 		: white
		padding 	: 0.5rem
		position 	: absolute
		width 		: 100%
		height 		: 55%


.countries
	font-size	: 2vw
	line-height : 1.125em
	position	: relative
	display		: inline-block
	text-align	: left
	bottom		: 70%
	
	+from-width('medium')
			font-size 		: 1.5vw
	+from-width('large')
		font-size 		 	: 2vw
	+from-width('extra')
		font-size 		 	: 1.5vw

.text
	font-size	: 1.5vw
	line-height : 1.125em
	position	: relative
	display		: inline-block
	text-align	: justify
	margin-left	: 50%
	top			: 0
	padding-right		: 1em
	
	
	+from-width('medium')
			font-size 		: 2vw
			padding-right	: 1em
	+from-width('large')
		font-size 		 	: 1.8vw
		padding-right		: 1em
		height: -1.5em
	+from-width('extra')
		font-size 		 	: 1.5vw
		padding-right		: 1em
	


//-------- seccion aplicaciones
.country 
	span
		col(1/2)
		margin-right 	: 0
		margin-left 	: 1%
		+from-width('medium')
			col(1/5)
			margin-right 	: 0
			margin-left 	: 2%		 
		+from-width('large')
			col(1/10) 		
		+from-width('extra')
			col(1/10)
			

.box-icons 
	col(7/7)
	position 	: relative
	padding-top : 1em
	text-align 	: center
	.item
		col(1/7)
		img
			height 			:auto
			hover-pop ()
			width 			:100%
			+from-width('m')
				width 		: 100%
			+from-width('l')
				width 		: 60%
			+from-width('xl')
				widows 		: 60%
				
.categoriax3
	col(3/3)
	span
		col(1/3)

.categoriax2
	col(2/2)
	span
		col(1/2)
						
span
	p
		font-size 			: 4vw
		font-weight 		: 800
		text-align 			: center
		+from-width('medium')
			font-size 		: 3vw
			line-height		: 3.5vw
		+from-width('large')
			font-size 		 : 2vw
		+from-width('extra')
			font-size 		 : 2vw

// seccion proyectos en el extranjero
// span
// 	p
// 		font-size 			: 2.5vw
// 		font-weight 		: 800
// 		text-align 			: center
// 		+from-width('m')
// 			font-size 		 : 1.8vw
// 		+from-width('l')
// 			font-size 		 : 1.8vw
// 		+from-width('xl')
// 			font-size 		 : 1.8vw


