// //edit()()
//------ imagenes portadas

*
	box-sizing: border-box

.cover
	position: relative
	.cover-img
		position : relative
		
	.cover-img	img
		height		: auto
		position	: relative
		width		: 100%
		
	.cover-cd
		background		: rgba(34, 34, 34, 0)
		color			: white
		padding			: 0.5rem
		position		: absolute
		width			: 40%
		bottom 			: 0
		h2
			text-transform 	: capitalize
			text-align : left

	.cover-caption
		background	: rgba(34, 34, 34, 0)
		bottom		: 0
		color		: white
		padding		: 0.5rem
		position	: absolute
		width		: 100%
		margin 		: 0.30em 0 !important

		
		.title
			+to-width('small')
				
				position	: absolute
				color       : white
				text-align	: left
				width       : 100%
				text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.81)
				bottom : 0
				padding-left : 1vw
				h1,h2
					color :  white
					font-size	: 4vw
					margin-top: 7vw
					padding-left : 1vw
					
			+from-width('medium')	
				h1
					position	: absolute
					top  : -14vw
					font-size	: 3vw
					text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.81)
			+from-width('normal')
				h1
					font-size: 3.5vw
					text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.81)
			+from-width('large')
				h1
					font-size 	: 3vw
					text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.81)
			+from-width('extra')
				h1
					font-size 	: 2vw
					text-shadow : 4px 2px 10px rgba(0, 0, 0, 0.81)

		.text
			background-color : rgba(0,0,0,0.30)
			+to-width('small')
				font-size: 3vw;
				position: absolute
				margin-left: 30vw;
				text-align: justify
				bottom : 3vw
				line-height : 3vw
				right : 3vw
			background-color : rgba(0,0,0,0.30)	
			+from-width('medium')
				font-size 		: 2.5vw
				line-height		: 3vw
				margin-left		: 25vw
				margin-bottom	: 1vw
				text-align		: justify
				text-shadow: 4px 2px 10px rgba(0, 0, 0, 0.81)
			+from-width('normal')
				font-size	: 2vw
				right : 4vw
				position	: relative
				margin-left	: 28vw
				line-height : 1.125em
				text-align	: justify
				
			+from-width('large')
				font-size	: 2vw
				line-height : 1.125em
				position	: relative
				text-align	: justify
				margin-left	: 28vw
				right		: 4vw
				text-shadow : 4px 2px 10px rgba(0, 0, 0, 0.81)

			+from-width('extra')
				font-size	: 1.5vw
				rigth : 3vw
				
+to-width('small')
	.cover-cd
		h2
			margin: 9em -20em 0.5em 3.5em
			font-size: 4vw
			padding-left: 30%

// +to-width('extra')
// 	.cover-cd
// 		h2
// 			margin: -0.33em -5.5em !important
// 			bottom : 1.5vw !important	

		

//-#########################-seccion aplicaciones-##########
.country
	+from-width('extra')
		padding : 0 1em 0 1em !important
	+from-width('large')
		padding : 0 1em 0 1em !important
		p
			font-size : 1vw
			width: 5vw
	span
		col(1/2)
		margin-right	: 0
		margin-left		: 1%
		+from-width('medium')
			col(1/5)
			margin-right	: 0
			margin-left		: 2%
		+from-width('large')
			col(1/10)
		+from-width('extra')
			col(1/10)

.box-icons
	col(7/7)
	position	: relative
	padding-top : 1em
	text-align	: center 
	.item
		col(1/7)
		img
			height			:auto
			hover-pop()
			+from-width('mini')
				width		:100%
			+from-width('small')
				width		:100%
			+from-width('medium')
				width		: 100%
			+from-width('large')
				width		: 80%
			+from-width('extra')
				width		: 80%

.cover-img:hover ~ .cover-caption-description
	margin-right: 5%;
	margin-bottom: auto
//Sección equipo				


.box-icons-eq
	col(6/6)
	position	: relative
	padding-top : 1em
	text-align	: center
	
	.item
		margin-top : 2em
		col(1/6)
		img
			height			:au
			hover-pop()
			+from-width('mini')
				width		:100%
			+from-width('small')
				width		:100%
			+from-width('medium')
				width		: 100%
			+from-width('large')
				width		: 80%
			+from-width('extra')
				width		: 80%
				
+to-width('small')
	.box-icons-eq .item
		margin-top: -1em !important
						
+from-width('medium')
	.box-icons-eq .item
		margin-top: 1em
		
+from-width('normal')
	.box-icons-eq .item
		margin-top: 5em	
		 	
+from-width('large')
	.box-icons-eq
		margin-top: -2em
		
+from-width('extra')
	.box-icons-eq
		margin-top: 0em		
		
.categoriax3
	col(3/3)
	span
		col(1/3)

.categoriax2
	col(2/2)
	span
		col(1/2)

span
	p
		font-size			: 4vw
		font-weight			: 800
		text-align			: center
		+from-width('medium')
			font-size		: 3vw
			line-height		: 2.5vw
		+from-width('large')
			font-size		: 2vw
		+from-width('extra')
			font-size		: 2vw
			
//-#########################################################

//edit()()

color1 = #528399
color2 = #649ebf
color3 = #79beea

.cover
	width : 100%
	height : auto
	
//----------  ajuste de contenido

.content
	+from-width('mini')
		max-width : 480px !important
		margin : 0 auto 
		padding: 0 1.3em
		h1
			line-height : 3vw
			font-size : 1.5em
	+from-width('small')
		max-width : 480px !important
		margin : 0 auto 
		padding: 0 1em
	+from-width('medium')
		max-width : 768px !important
		margin : 0 auto 
	+from-width('large')
		max-width : 1024px !important
		margin : 0 auto 
	+from-width('extra')
		max-width : 1024px !important
		margin : 0 auto 


.cover-caption-description
	position: absolute;
	width: 40%;
	right: 0;
	bottom: 12%;
	z-index: 0;
	color: white;
	font-weight: 900;
	font-size: 1.1em;
	text-align: left;
	line-height: 24px;
	text-shadow: 4px 2px 10px rgba(0,0,0,0.8)
	padding : 1em
	background-color : rgba(0,0,0,0.7)
	display : none
	+from-width('small')
		display : none
	+from-width('medium')
		display : none 
	+from-width('large')
		display : none
		padding : 0.5em
	+from-width('extra')
		display : none
		
.cover-img
	&:hover ~ .cover-caption-description
		+from-width('small')
			display : none
		+from-width('medium')
			display : none 
		+from-width('large')
			display : block
			padding : 0.5em
		+from-width('extra')
			display : block
		

//-------------- caption--------------
.cover
	position : relative

.cover-content
	background-color : rgba(0, 0, 0, 0.5)
	position : absolute
	bottom : 5px
	max-width : 35%
	max-height : 40%
	color : white
	overflow-y : auto
	padding : 5px 10px

.cover-caption-text-description
	h2
		text-transform : none !important
		text-align : none	!important

.cover-caption-text-description
	position : relative
	
//-------------scroll-----------------

::-webkit-scrollbar{
  width: 8px
  background: transparent
}
::-webkit-scrollbar-button{
  width:8px
  height: 5px
}
::-webkit-scrollbar-track{
  background: transparent
  border:thin solid transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(top, #5aafb0, #4ca06d);
  -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5),
                inset 1px 0 0 rgba(255,255,255,.4),
                inset 0 1px 2px rgba(255,255,255,.3);
 
  border:thin solid transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}

//------------------animacion-------------------///

.cover-content
	display : none

.cover-img:hover .cover-content
	display : block
	
//---------- overlay ---------------

.overlay-content
	margin-top : 9% !important
	display : block

+from-width('medium')
	.overlay-content 
		margin-top: 8% !important

.imagen
	img
		width : 100%
		height : auto
.caja
	background-color: white
	width			: 80%
	height			: 180px
	position		: relative
	overflow		: hidden
	cursor			: pointer
	background-size : 100% 100% 
	margin-top      : 9%
		
.cintillo
	position : relative
	color : black
	display : block
	padding : 0px 10px 20px 10px
	width : 80%
	height : 20px
	p
		text-align: center
		text-transform : uppercase
		
.description
	position: absolute
	width: 100%
	height: 0
	bottom: 0
	color: #fff
	transition: all .3s ease
	z-index: 5

	p
		width: 90%;
		position: relative
		line-height : 2.2vw
		top : 4%
		

.caja:hover .description
	transition: all .3s ease
	height: 100%
	padding: 1em 1em 0 1em
	text-align: left
	
.measure
	display : none
.footer 
	margin-top : 5% !important
	
+from-width('medium')

	.imagen
		img
			width : 100%
			height : 180px
				
+to-width('small')

	.caja
		width			: 90%
		height			: 177px
		
	.caja:hover .description
		width			: 90%
		height			: 180px
			
	.description
		width: 90%
		bottom : -4px
		span
			padding : 0 
			line-height: 1.5vw
	.imagen
		img
			width : 90%
			height : 180px
	
	.overlay-content-img
		.overlay-image
			img
				margin: 8%
				width: 85%
	.overlay-content-text
		text-align : left
		margin: 8%
		width: 85%
		margin-top: 5%
		.overlay-title
			h3
				margin-bottom: 1em
				text-align :  center
				margin-top : -9vw
		.overlay-description
			span
				line-height : 1em
				
	.overlay-content
		display : none
	.measure
		display : block
				