main
	position : relative !important

.overlay-content
	position : relative
	margin-top : 50px
	margin-left : 30% !important
	
	col(1/1)
	.overlay-box
		span(1/1)
.caja
	width : 40% !important
.cintillo
	margin-left : -5% !important
	width : 50% !important
		
.description
	background-color: rgba(89,89,89,0.7)