.clr-1
	background : #747474

.block1,.block11,.block5
	p
		background : #595959 !important
		height : 100% !important

.block7 .sub7-1,.block3,.block14 .sub14-1
	p
		background : #747474 !important
		height : 100% !important

.block8 .sub8,.block13 .sub13,.block10
	p
		background : #999999 !important
		height : 100% !important