include /master/common/mixins/administracion
include /master/common/mixins/icons
.content
	.overlay-content
		a(href='/metodos/gps/sistema-de-posicionamiento-global')
			.overlay-box
				+overlay2('gps/GPS', 'Sistema de posicionamiento', 'global', '+/- 5mm','Referencia Geográfica', 'GPS')
+icons-metodos