include /master/common/mixins/icons


.accordian
	ul
		li
			.image_title.clr-1
				a(href='/metodos/gps/sistema-de-posicionamiento-global') Sistema de posicionamiento global (GPS)
			a(href='/metodos/gps/sistema-de-posicionamiento-global')
				img(src="/static/img/metodos/gps/SPG1.png")

.content
	+icons-metodos
