.cover
	.cover-img
		img(src="/static/img/servicios-5.png")
		

.content
	h1 Entrenamiento
	p 
		|La innovación tecnológica ha sido pieza clave para conseguir el reconocimiento a lo largo de los últimos 10 años, sin embargo, 
		|GEOTEM Ingeniería S.A. de C.V. sabe que el valor agregado está conformado por su personal. 
		|GEOTEM Ingeniería S.A. de C.V está conformado por un equipo de 25 profesionales desarrollados en el área de la ingeniería y las Geociencias 
		|capaces de efrentar y resolver problemas con eficacia, con liderazgo, con bases científicas, con actitud positiva y sobre todo con el valor de hacer las cosas bien.
