.block2 
	img
		transform translate(0px,-100px) !important
		
.block9
	img
		transform translate(0px,-190px) !important
.block6
	img
		transform translate(0px,-50px) !important
		
.block4 
	img
		transform translate(0px,-70px) !important
.block5
	p
		padding: 18% 5% !important 
		
.block1
	p
		padding: 25% 5%
		
.block3
	p
		padding : 10% 5%