include /master/common/mixins/mosaico
include /master/common/mixins/cover

.cover
	.cover-img
		img(src="/static/img/presencia/proyectos/chile/PortadaCHile.png")
			
	.cover-caption

		.title.countries
			h1 Chile

		.text
			span 
				|Curso de Métodos Electromagnéticos  para la Compañía Chilena de Perforaciones  LTDA, Santiago de Chile, República de Chile. Junio 2013.
				|Levantamiento Gravimétrico con fines geohidrológicos en la zona de la ARAUCANÍA, para la Compañía Chilena de Perforaciones  LTDA, Santiago de Chile, República de Chile. Abril, 2014

+mosaico-x3-1-2("", "txt1", "")
+mosaico-x2-1-1("", "txt2")
