include /master/common/mixins/cover

+cover("PServ_Entrenamiento", "Entrenamiento")
	

.content

	p 
		|En Geotem Ingeniería S.A de C.V. compartimos nuestra incomparable experiencia a través de cursos y/o talleres de entrenamiento ajustandonos a sus necesidades. Trabajamos con nuestros clientes adaptándonos 
		|a la experiencia con la que cuenta su personal, no requiere antecedentes. El entrenamiento puede ser proporcionado en nuestras oficinas  o bien en las instalaciones de su empresa para cubrir temas relacionados con:

	p
		* Adquisición de datos

	p
		* Procesamiento

	p
		* Modelado e Inversión


	p 	* Integración e Interpretación