.equipment-titulo
	p.line
		span GEM SYSTEM
	.equipment-url
		a(href='http://www.gemsys.ca') 
			p www.gemsys.ca

.equipment-content		
	.equipment-image
		img(src='/static/img/equipo/gemsystem/GSM19.png')
	.equipment-text
		.equipment-title
			h3 Magnetómetro OVERHOUSER GSM-19
		.equipment-description
			p:| El magnetómetro OVERHAUSER es un revolucionario instrumento geofísico desarrollado por GEM, del tipo protón que utiliza una mezcla especial de energización y medición, 
				| ofreciendo un gran número de beneficios significativos sobre otros tipos de dispositivos. Es de calidad primaria para la exploración minera y observatorios magnéticos.     
		
.equipment-content
	.equipment-image
		img(src='/static/img/equipo/gemsystem/GSM19T.png')
	.equipment-text
		.equipment-title
			h3 Magnetómetro de Protones GSM-19T
		.equipment-description
			p:| Los Magnetómetro de protones con precisión avanzada como el GSM-19T es uno de los principales instrumentos del mundo para la investigación y la exploración del subsuelo. 
				|Entre sus propiedades está la energetización de protón altamente efectiva con 3 modos de adquisición de datos (caminante, móvil, estación base); con alta capacidad de almacenamiento en memoria y con gps de alta resolución (0.06m) integrado.
				|Uno de los primero magnetómetros en el mundo en ofrecer esta tecnología efectiva que optimiza la adquisición de datos.
		
.equipment-content
	.equipment-image
		img(src='/static/img/equipo/gemsystem/GSMP-35.png')
	.equipment-text
		.equipment-title
			h3 Magnetómetro de Potasio GSMP-35
		.equipment-description
			p:| El sistema de tierra GSMP-35 es el instrumento de más alta sensibilidad para las investigaciones del subsuelo en varios campos y ofrece frecuencias de muestreo rápido. 
				|El sistema está diseñado para los clientes que requieren el máximo absoluto en la calidad de datos, superior a la de los magnetómetro de Cesio convencionales.

.equipment-titulo
	p.line
		span GF INSTRUMENTS
	.equipment-url
		a(href='http://www.gfinstruments.cz/')
			p www.gfinstruments.cz

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/gfinstruments/Ares II.png')
		.equipment-text
			.equipment-title
				h3 Sistema de Resistividad Automático de 10 Canales ARES II
			.equipment-description
				p:| ARES II representa un sistema de registro de Resistividad  automático bien equipado. Su ventaja radica en que puede ser aplicado para estudios 2D y 3D (manteniendo operativos más de 65,000 electródos),
					| aunado a esto su fácil operación en campo (sin la necesidad de un PC), la alimentación proporcionada por una batería de 12 V (o por un generador), el 
					| soporte que ofrece para arreglos especiales de electródos que hace del sistema ARES II una herramienta de gran utilidad para la exploración geofísica. 

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/gfinstruments/CMD-Duo.png')
		.equipment-text
			.equipment-title
				h3 Conductivímetro Electromagnético de Exploración Profunda CMD-DUO
			.equipment-description
				p:| El CMD-DUO  es un conductivímetro electromagnético de fácil operación con distancia variable entre sus bobinas,
					| permitiendo de esta manera sondeos multi-profundidad con resultados referidos a valores de conductividad aparente. 

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/gfinstruments/GammaSurveyor.png')
		.equipment-text
			.equipment-title
				h3 Espectrómetro Gamma Surveyor II
			.equipment-description
				p:| Representa un sistema súper compacto para la medición de todo tipo de radiación. Debido a la gran experiencia en lo que se refiere a analizadores de rayos gamma y  el desarrollo 
					|técnico en esta disciplina, el GAMMA SURVEYOR II ofrece una técnica de evaluación espectral única y eficiente  con una rápida energía de estabilización. 
					|Estas propiedades se complementan con un método de operación transparente. Permite la determinación de concentraciones radiactivas por rayos gamma en el elementos como el Torio, el Uranio y el Potasio.

.equipment-titulo
	p.line
		span METRONIX
	.equipment-url
		a(href='http://www.geo-metronix.de/mtxgeo/')   
			p www.geo-metronix.de

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/metronix/ADU07e.png')
		.equipment-text
			.equipment-title
				h3 Grabador de datos Magnetotelúricos ADU-07e
			.equipment-description
				p:| Resultado de 30 años de investigación el ADU-07e es un equipo que colecta oscilaciones naturales del campo magnético terrestre y del campo eléctrico. 
					|Es un sistema de radio frecuencia, donde se conectan sensores eléctricos y magnéticos al acondicionador de señal que sirve para adquirir datos magnetotelúricos. 

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/metronix/TXB-TXM.png')
		.equipment-text
			.equipment-title
				h3 Transmisor Geofísico TXM-22 y Caja Controladora de Transmisión TXB-07
			.equipment-description
				p:| El sistema TXM-22 es una fuente de poder multipropósito, diseñada para utilizarse en conexión con la unidad de control TXB-07 formando de esta manera un poderoso 
					|transmisor para aplicaciones geofísicas, tal como lo es el Método Magnetotelúrico de fuente controlada (CSAMT).

.equipment-titulo
	p.line
		span MONEX GEOSCOPE
	.equipment-url
		a(href='http://www.monexgeoscope.com.au/')
			p www.monexgeoscope.com.au

.equipment-content
	.equipment-image
		img(src='/static/img/equipo/monex/TerraTEM.png')
	.equipment-text
		.equipment-title
			h3 Equipo de Adquisición por Transitorio Electromagnético TerraTEM
		.equipment-description
			p:| El TerraTEM es un sistema robusto de adquisición por transitorio electromagnético de alta resolución en lo que se refiere a imágenes de conductividad.
				|Las aplicaciones para el TerraTEM incluyen la exploración mineral,  investigaciones  de ingeniería estudio de agua subterránea y estudio del medio ambiente.
				|Este sistema es resultado de años de investigación combinados con la experiencia en lo que se refiere a la interpretación de datos geofísicos.  

.equipment-titulo
	p.line
		span RADAR SYSTEMS
	.equipment-url
		a(href='http://www.radsys.lv/en/index/') 
			p www.radsys.lv

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/radarsystems/Python-3.png')
		.equipment-text
			.equipment-title
				h3 Georadar Python-3
			.equipment-description
				p:| Es un radar portable digital fácil de operar especialmente para sondeos a profundidad (mayores a 50 m) en condiciones de suelo favorables. La unidad está diseñada para 
					|resolver un amplio rango de tareas geotécnicas, geológicas, de ingeniería y otras donde sea necesario el monitoreo no destructivo.
					|Durante la adquisición el operador obtiene una imagen en tiempo real de las condiciones del subsuelo. 

.equipment-titulo
	p.line
		span SARA INSTRUMENTS
	.equipment-url
		a(href='http://www.sara.pg.it/ ')
			p www.sara.pg.it

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/sarainstruments/DoReMi-ayb.png')
		.equipment-text
			.equipment-title
				h3 Sismógrafo DoReMi
			.equipment-description
				p:| Desarrollado por SARA en Italia, el sistema DOREMI es un geófono de transmisión digital,   portable, de fácil operación  por lo cual se ajusta conforme a los objetivos de investigación. 
					|Cada canal representa un sismógrafo independiente conectado a otros elementos a través del cable para de esta manera crear una red, configuración que permite ajustarse a cualquier tamaño de proyecto.
					|En el sistema DOREMI cada elemento es independiente, es posible agregar o remover elementos y diseñar tu topología simplemente agregando o removiendo adaptadores adicionales. 

.equipment-content
		.equipment-image
			img(src='/static/img/equipo/sarainstruments/SL06.png')
		.equipment-text
			.equipment-title
				h3 Sismógrafo SL-06
			.equipment-description
				p:| El sistema SL06 está diseñado para detectar y registrar terremotos y vibraciones.
					|Es compacto, seguro y flexible, gracias a su código abierto en plataforma LINUX , el registro de la señal sísmica es mediante una simple USB.


.equipment-content
		.equipment-image
			img(src='/static/img/equipo/sarainstruments/SS-HB.png')
		.equipment-text
			.equipment-title
				h3 Geófono de Pozo SS-HB
			.equipment-description
				p:| El sensor SSBH mide las vibraciones en pozos para configuraciones Down-Hole, Up-Hole y Cross-Hole.
					|Su estructura de acero inoxidable lo hace un sistema robusto y ligero, el cual puede ser equipado con geófonos de 4.5, 8 o 10 Hz. 
					| Puede ser utilizado con cualquier sismógrafo de exploración especialmente con el sistema DOREMI. 





