include /master/common/mixins/icons

.content
	+icons-equipment

	.equipment-content		
		.equipment-image
			img(src='/static/img/equipo/gemsystem/GSM19.png')
		.equipment-text
			.equipment-title
				h3 Magnetómetro OVERHOUSER GSM-19
			.equipment-description
				p:| El magnetómetro OVERHAUSER es un revolucionario instrumento geofísico desarrollado por GEM, del tipo protón que utiliza una mezcla especial de energización y medición, 
					| ofreciendo un gran número de beneficios significativos sobre otros tipos de dispositivos. Es de calidad primaria para la exploración minera y observatorios magnéticos.     
			
	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/gemsystem/GSM19T.png')
		.equipment-text
			.equipment-title
				h3 Magnetómetro de Protones GSM-19T
			.equipment-description
				p:| Los Magnetómetro de protones con precisión avanzada como el GSM-19T es uno de los principales instrumentos del mundo para la investigación y la exploración del subsuelo. 
					|Entre sus propiedades está la energetización de protón altamente efectiva con 3 modos de adquisición de datos (caminante, móvil, estación base); con alta capacidad de almacenamiento en memoria y con gps de alta resolución (0.06m) integrado.
					|Uno de los primero magnetómetros en el mundo en ofrecer esta tecnología efectiva que optimiza la adquisición de datos.
			
	.equipment-content
		.equipment-image
			img(src='/static/img/equipo/gemsystem/GSMP-35.png')
		.equipment-text
			.equipment-title
				h3 Magnetómetro de Potasio GSMP-35
			.equipment-description
				p:| El sistema de tierra GSMP-35 es el instrumento de más alta sensibilidad para las investigaciones del subsuelo en varios campos y ofrece frecuencias de muestreo rápido. 
					|El sistema está diseñado para los clientes que requieren el máximo absoluto en la calidad de datos, superior a la de los magnetómetro de Cesio convencionales.




