.equipment-content
	.equipment-image
		img(src="/static/img/equipo/01.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url


.equipment-content
	.equipment-image
		img(src="/static/img/equipo/02.png")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/03.png")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/04.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/05.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url


.equipment-content
	.equipment-image
		img(src="/static/img/equipo/06.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url


.equipment-content
	.equipment-image
		img(src="/static/img/equipo/07.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/08.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/09.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url


.equipment-content
	.equipment-image
		img(src="/static/img/equipo/11.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url


.equipment-content
	.equipment-image
		img(src="/static/img/equipo/12.JPG")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/13.png")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/14.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/15.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url



.equipment-content
	.equipment-image
		img(src="/static/img/equipo/16.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url


.equipment-content
	.equipment-image
		img(src="/static/img/equipo/17.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/18.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/19.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/20.png")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/21.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/22.png")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url

.equipment-content
	.equipment-image
		img(src="/static/img/equipo/23.jpg")
	.equipment-text
		.equipment-title
			h2 title 
		.equipment-description
			p:| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem iusto recusandae, tempore deleniti doloremque maiores id molestiae libero aperiam? 
				| Perspiciatis sapiente ipsum commodi consectetur quaerat sequi enim eaque provident.
		.equipment-url
			a: h5 url
