
.equipment-content
	col(4/4)
	margin-bottom : 1em

	.equipment-image
		position : relative
		padding 			: 1em 0 1em 0
		col(1/4)
		text-align 			: center
		img
			height 			: 23vh;
			width 			: 14vw;
			
	.equipment-text
		col(3/4)
		padding 			: 0 2em 
		
		.equipment-title h2
			font-size 		: 2em
		.equipment-description
			font-size 		: 1em	
		.equipment-url p
			font-size 		: 1em
			color 			: blue
			text-align 		: center !important	

+to-width('s')
	.equipment-content
		col(4/4)
		.company
			col(1/4)
			width : 100%
		.equipment-image 
			col(1/4)
			width : 100%
			img
				height : 70%
				width : 80%
				margin : 0 2.5em	
		.equipment-title
			col(1/4)
			
			width : 100%
			line-height : 1.4em	
		.equipment-text
			col(1/4)	
			width : 100%
			
// +from-width('m')
// 	.equipment-content
// 		col(4/4)
// 		.equipment-title
// 			line-height : 1.4em	
// 		.equipment-image
// 			col(2/4)
// 			width : 45%
// 			margin: 13vw 3vh
// 			img
// 				height : 23vh
// 				width : 38vw
// 				margin-left : 5vw
// 				top: 13vh
// 		.equipment-text
// 			col(2/4)
// 			width : 45%
			
		



		
