.clr-1
	background : #7F4B00
.clr-2
	background : #995E00
.clr-3
	background : #B27200
.clr-4
	background : #CC8800
.clr-5
	background : #E59E00
.clr-6
	background : #FFB600
.clr-7
	background : #FFC950