.clr-1
	background : #4c4006
.clr-2
	background : #685a07
.clr-3
	background : #847508
.clr-4
	background : #9e8f08
.clr-5
	background : #b7aa08
.clr-6
	background : #d1c607
.clr-7
	background : #ebe306