include /master/common/mixins/administracion
.content
  .overlay-content
    .overlay-box
      +overlay('electromagneticos/MagnetoteluricoAudioMagnetotelurico', 'Magnetotelúrico / Audio-Magnetotelúrico', 'MT-AMT')
    .overlay-box
      +overlay('electromagneticos/AudioMagnetoteluricodeFuenteControladavectorial', 'Audio Magnetotelúrico de Fuente Controlada Vectorial', 'CSAMTv')
    .overlay-box
      +overlay('electromagneticos/AudioMagnetoteluricodeFuenteControladaEscalar', 'AuidoMagnetotelúrico de Fuente Controlada Escalar', 'CSAMTe')
    .overlay-box
      +overlay('electromagneticos/TDEM', 'Transitorio Electromagnético en el Dominio del Tiempo', 'TDEM') 
    .overlay-box
      +overlay('electromagneticos/RadioMagnetotelurico', 'Radio-Magnetotelúrico', 'pendiente')
    .overlay-box
      +overlay('electromagneticos/Conductividad Electromagnetica', 'Conductividad Electromagnética ', 'pendiente')
    .overlay-box
      +overlay('electromagneticos/GeoradardePenetracionTerrestre', 'Georadar de Penetración Terrestre', 'pendiente')
