.clr-1
	background : #7F4B00
.clr-2
	background : #995E00
.clr-3
	background : #B27200
.clr-4
	background : #CC8800
.clr-5
	background : #E59E00
.clr-6
	background : #FFB600
.clr-7
	background : #FFC950

.block1,.block11,.block5
	p
		background : #CC8800 !important
		height : 100% !important

.block7 .sub7-1,.block3,.block14 .sub14-1
	p
		background : #E59E00 !important
		height : 100% !important

.block8 .sub8,.block13 .sub13,.block10
	p
		background : #FFB600 !important
		height : 100% !important

.cover-2
	max-width :1024px