include /master/common/mixins/administracion
include /master/common/mixins/icons

.content
  .overlay-content
    a(href='/metodos/electromagneticos/magnetotelurico-audio-magnetotelurico')
      .overlay-box
        +overlay('electromagneticos/AMT-MT', 'Audio-Magnetotelúrico','Magnetotelúrico', 'Natural','1 -250km','AMT/MT')
    
    a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-vectorial')
      .overlay-box
        +overlay('electromagneticos/CSAMTv', 'Audio Magnetotelúrico', 'Tensorial','Controlada','0.5 - 2.5km' ,'CSAMT')
    
    a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-escalar')
      .overlay-box
        +overlay('electromagneticos/CSAMTe', 'Audio Magnetotelúrico','Escalar','Controlada','0.5 - 2.5km', 'CSAMT')
    
    a(href='/metodos/electromagneticos/transitorio-electromagnetico-en-el-dominio-del-tiempo')
      .overlay-box
        +overlay('electromagneticos/TEM', 'Transitorio Electromagnético','en el Dominio del Tiempo','Controlada','0.1 - 1.5km', 'TEM') 
    
    a(href='/metodos/electromagneticos/radio-magnetotelurico')
      .overlay-box
        +overlay('electromagneticos/RMT', 'Radio-Magnetotelúrico','','Natural','10 - 250m', 'RMT')
    
    a(href='/metodos/electromagneticos/conductividad-electromagnetica')
      .overlay-box
        +overlay('electromagneticos/CMD', 'Conductividad Electromagnética ','','Controlada','0 - 60m', 'CMD')
    
    a(href='/metodos/electromagneticos/georadar-de-penetracion-terrestre')
      .overlay-box.box-center
        +overlay('electromagneticos/GPR', 'Georadar de Penetración', 'Terrestre','Controlada','0 - 15m', 'GPR')

  .measure
    +overlay4('electromagneticos/AMT-MT','AMT/MT','Audio-Magnetotelúrico Magnetotelúrico','Natural', '1 -250km')
    +overlay4('electromagneticos/CSAMTv','CSAMT','Audio Magnetotelúrico Tensorial','Controlada', '0.5 - 2.5km')
    +overlay4('electromagneticos/CSAMTe','CSAMT','Audio Magnetotelúrico Escalar','Controlada', '0.5 - 2.5km')
    +overlay4('electromagneticos/TEM','TEM','Transitorio Electromagnético en el Dominio del Tiempo','Controlada', '0.1 - 1.5km')
    +overlay4('electromagneticos/RMT','RMT','Radio-Magnetotelúrico','Natural','10 - 250m')
    +overlay4('electromagneticos/CMD','CMD','Conductividad Electromagnética','Controlada', '0 - 60m')
    +overlay4('electromagneticos/GPR','GPR','Georadar de Penetración Terrestre','Controlada', '0 - 15m')
  +icons-metodos