include /master/common/mixins/administracion
.content
  .overlay-content
    .overlay-box
      +overlay('electromagneticos/AMT-MT', 'Magnetotelúrico / Audio-Magnetotelúrico', 'MT-AMT')
    .overlay-box
      +overlay('electromagneticos/CSAMTv', 'Audio Magnetotelúrico de Fuente Controlada Vectorial', 'CSAMTv')
    .overlay-box
      +overlay('electromagneticos/CSAMTe', 'AuidoMagnetotelúrico de Fuente Controlada Escalar', 'CSAMTe')
    .overlay-box
      +overlay('electromagneticos/TEM', 'Transitorio Electromagnético en el Dominio del Tiempo', 'TDEM') 
    .overlay-box
      +overlay('electromagneticos/RMT', 'Radio-Magnetotelúrico', 'RTM')
    .overlay-box
      +overlay('electromagneticos/CMD', 'Conductividad Electromagnética ', 'CMD')
    .overlay-box.box-center
      +overlay('electromagneticos/GPR', 'Georadar de Penetración Terrestre', 'GPT')
