.accordian
      ul
        li 
          .image_title-2.clr-1
            a(href='/metodos/electromagneticos/magnetotelurico-audio-magnetotelurico') MT-AMT 200m-100km
          .image_title.clr-1
            a(href='/metodos/electromagneticos/magnetotelurico-audio-magnetotelurico') Magnetotelúrico / Audio-Magnetotelúrico  
          a(href='/metodos/electromagneticos/magnetotelurico-audio-magnetotelurico')
            img(src="/static/img/metodos/electromagneticos/MagnetoteluricoAudioMagnetotelurico.png")
        li
          .image_title-2.clr-2
            a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-vectorial') CSAMTv 100m-2km
          .image_title.clr-2
            a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-vectorial') Audio Magnetotelúrico de Fuente Controlada Vectorial
          a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-vectorial')
            img(src="/static/img/metodos/electromagneticos/AudioMagnetoteluricodeFuenteControladavectorial.png")
        li
          .image_title-2.clr-3
            a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-escalar') CSAMTe 500m-2km
          .image_title.clr-3
            a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-escalar') AuidoMagnetotelúrico de Fuente Controlada Escalar 
          a(href='/metodos/electromagneticos/audio-magnetotelurico-de-fuente-controlada-escalar')
            img(src="/static/img/metodos/electromagneticos/AudioMagnetoteluricodeFuenteControladaEscalar.png")

        li
          .image_title-2.clr-4
            a(href='/metodos/electromagneticos/transitorio-electromagnetico-en-el-dominio-del-tiempo') TDEM 100m-1.5km
          .image_title.clr-4
            a(href='/metodos/electromagneticos/transitorio-electromagnetico-en-el-dominio-del-tiempo') Transitorio Electromagnético en el Dominio del Tiempo 
          a(href='/metodos/electromagneticos/transitorio-electromagnetico-en-el-dominio-del-tiempo')
            img(src="/static/img/metodos/electromagneticos/TDEM.png")

        li
          .image_title-2.clr-5
            a(href='/metodos/electromagneticos/radio-magnetotelurico') RMT 50m-150m
          .image_title.clr-5
            a(href='/metodos/electromagneticos/radio-magnetotelurico') Radio-Magnetotelúrico  
          a(href='/metodos/electromagneticos/radio-magnetotelurico')
            img(src="/static/img/metodos/electromagneticos/RadioMagnetotelurico.png")

        li
          .image_title-2.clr-6
            a(href='/metodos/electromagneticos/conductividad-electromagnetica') CMD 1m-60m
          .image_title.clr-6
            a(href='/metodos/electromagneticos/conductividad-electromagnetica') Conductividad Electromagnética 
          a(href='/metodos/electromagneticos/conductividad-electromagnetica')
            img(src="/static/img/metodos/electromagneticos/Conductividad Electromagnetica.png")

        li
          .image_title-2.clr-7
            a(href='/metodos/electromagneticos/georadar-de-penetracion-terrestre') GPR 1m-15m
          .image_title.clr-7
            a(href='/metodos/electromagneticos/georadar-de-penetracion-terrestre') Georadar de Penetración Terrestre  
          a(href='/metodos/electromagneticos/georadar-de-penetracion-terrestre')
            img(src="/static/img/metodos/electromagneticos/GeoradardePenetracionTerrestre.png")

.box-icons 
  .item
    img(src='/static/img/Ambiental.svg')
  .item
    img(src='/static/img/Arqueologia.svg')
  .item
    img(src='/static/img/Geohidrologia.svg')
  .item
    img(src='/static/img/Geotecnia.svg')
  .item
    img(src='/static/img/Geotermia.svg')
  .item
    img(src='/static/img/Hidrocarburos.svg')
  .item
    img(src='/static/img/Mineria.svg')
