include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons


+cover-sc("metodos/sismicos/refraccion/SismicadeRefraccion.png", "Sísmica de Refracción")


.content


	+mosaico1("256x288","metodos/sismicos/refraccion/427a","341x288", "4e7c32","559334")
	+mosaico2("metodos/sismicos/refraccion/427b","256x256","metodos/sismicos/refraccion/341", "67ac4b")
	+mosaico3("metodos/sismicos/refraccion/427c","427x271","597x171","metodos/sismicos/refraccion/597","559334","4e7c32")
	+mosaico4("metodos/sismicos/refraccion/683", "341x362","559334")




	//- +mosaico-x4-2-2("metodos/sismicos/refraccion/etapa3b.png", "Modelo Unidimensional de velocidades Vp en gama de colores", "Modelo 3D de velocidades Vp ", "metodos/sismicos/refraccion/etapa4a.png")

	//- +mosaico-x3-1-2("metodos/sismicos/refraccion/etapa2a.png", "Tendido de refracción, trayectoria de tiempo entre transmisor y receptor.", "metodos/sismicos/refraccion/etapa2b.png")

	//- +mosaico-x2-1-1("metodos/sismicos/refraccion/etapa4b.png", "Modelo 3D de velocidades Vp")

	//- +mosaico-x3-2-1("Gráfica de la Velocidad Vp en función de la elevación y distancia. ", "metodos/sismicos/refraccion/etapa3a.png", "Construcción de la sección de refracción sísmica y correlación de unidades estratigráficas")

	//- +mosaico-x2-1-2("Modelo 3D de velocidades Vp","metodos/sismicos/refraccion/etapa4c.png")



	+method-2