include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons

+cover-sc("metodos/sismicos/refraccion/SismicadeRefraccion.png", "Sísmica de Refracción")

+mosaico-x4-2-2("metodos/sismicos/refraccion/etapa3b.png", "Modelo Unidimensional de velocidades Vp en gama de colores", "Modelo 3D de velocidades Vp ", "metodos/sismicos/refraccion/etapa4a.png")
+mosaico-x3-1-2("metodos/sismicos/refraccion/etapa2a.png", "Tendido de refracción, trayectoria de tiempo entre transmisor y receptor.", "metodos/sismicos/refraccion/etapa2b.png")
+mosaico-x2-1-1("metodos/sismicos/refraccion/etapa4b.png", "Modelo 3D de velocidades Vp")
+mosaico-x3-2-1("Gráfica de la Velocidad Vp en función de la elevación y distancia. ", "metodos/sismicos/refraccion/etapa3a.png", "Construcción de la sección de refracción sísmica y correlación de unidades estratigráficas")
+mosaico-x2-1-2("Modelo 3D de velocidades Vp","metodos/sismicos/refraccion/etapa4c.png")



+icons-metodos