include /master/common/mixins/administracion


.container
	+item("01", "Ing.Carlos Pita", "Director General")
	+item("02", "Lic. Olivia Sllim Jaimes", "Asistente de Director")
	+item("03", "Ing.Omar Hernández Cervantes", "Gerente General")
	+item("04", "Ing.Julio Quintas Granados", "Gerente Técnico")
	+item("05", "Ing.Arturo Hernández García", "Gerente Técnico")
	+item("06", "Srita.Diana Ramos Granados", "Recursos Humanos")
		


	
