.contenido
	img
		height :  auto
		width  : 100%
	
.content
	width       : 100% 
	margin-left : 0
	
	+from-width('large')
		width       : 92%
	+from-width('extra')
		width       : 88%
		margin-left : 6vw
	
	
	h1,h3
		padding : 0 0 0 1rem
		
	p 
		padding : 0 1rem 0 1rem	
		
	
				
		