include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons


+cover-sc("metodos/registro/detalle/Registro Geofísico de Pozos.png", "Registro Geofísico de Pozos")


.content

	+mosaico4-r("metodos/registro/T-683", "metodos/registro/683")
	+mosaico3("metodos/registro/427c","metodos/registro/T-427c","metodos/registro/T-597","metodos/registro/597")
	+mosaico4("metodos/registro/683", "metodos/registro/T-683")

	//- +mosaico-x2-1-1("metodos/registro/Etapa1a.png","Curvas de diferentes registros: SP, GAMMA, RES FL, CALIPER, TEMP")

	//- +mosaico-x2-1-2("Correlación registro de resistividad y sección geoeléctrica","metodos/registro/Etapa3a.png")

	//- +mosaico-x2-1-1("metodos/registro/Etapa4a.png","Interpretación 3D modelo Geoeléctrico y curvas de resitividad 64N")


	+icons-metodos