include /master/common/mixins/mosaico
include /master/common/mixins/cover
include /master/common/mixins/icons


+cover-sc("metodos/registro/detalle/Registro Geofísico de Pozos.png", "Registro Geofísico de Pozos")


.content

	+mosaico1("256x229","metodos/registro/427a","341x229", "834111","aa5b26")
	+mosaico3("metodos/registro/427c","427x290","597x171","metodos/registro/597","aa5b26","d37f46")
	+mosaico4("metodos/registro/683", "341x366","aa5b26")

	//- +mosaico-x2-1-1("metodos/registro/Etapa1a.png","Curvas de diferentes registros: SP, GAMMA, RES FL, CALIPER, TEMP")

	//- +mosaico-x2-1-2("Correlación registro de resistividad y sección geoeléctrica","metodos/registro/Etapa3a.png")

	//- +mosaico-x2-1-1("metodos/registro/Etapa4a.png","Interpretación 3D modelo Geoeléctrico y curvas de resitividad 64N")


	+icons-metodos